
// $themes: (
//     theme-light: theme-light,
//     theme-dark: theme-dark
// );

//Entity-editor
$entities-wrapper-padding-xs: px2em(20);
$entities-wrapper-padding-sm: px2em(20);
$entities-wrapper-padding-md: px2em(36);
$entities-wrapper-padding-lg: px2em(36);
$entities-wrapper-padding-xl: px2em(36);

$entity-height: px2em(280);

$entity-height-xs: px2em(200);
$entity-height-sm: px2em(230);
$entity-height-md: px2em(260);
$entity-height-lg: px2em(280);
$entity-height-xl: px2em(250);

$entity-width-xs: px2em(200);
$entity-width-sm: px2em(230);
$entity-width-md: px2em(280);
$entity-width-lg: px2em(280);
$entity-width-xl: px2em(250);

$entity-columns-xs: 1;
$entity-columns-sm: 2;
$entity-columns-md: 3;
$entity-columns-lg: 3;
$entity-columns-xl: 4;

$entity-button-add-height: $entity-height;

$entity-button-add-height-xs: px2em(80);
$entity-button-add-height-sm: $entity-height-sm;
$entity-button-add-height-md: $entity-height-md;
$entity-button-add-height-lg: $entity-height-lg;
$entity-button-add-height-xl: $entity-height-xl;

$button-add-icon-size: px2em(36);
$button-add-icon-size-xs: px2em(24);
$button-add-icon-size-sm: $button-add-icon-size;
$button-add-icon-size-md: $button-add-icon-size;
$button-add-icon-size-lg: $button-add-icon-size;
$button-add-icon-size-xl: $button-add-icon-size;

$entity-ctrl-panel-height-xs: px2em(50);
$entity-ctrl-panel-height-sm: px2em(50);
$entity-ctrl-panel-height-md: px2em(50);
$entity-ctrl-panel-height-xl: px2em(50);
$entity-ctrl-panel-height-lg: px2em(50);

$entity-button-menu-width-xs: $entity-ctrl-panel-height-xs;
$entity-button-menu-width-sm: $entity-ctrl-panel-height-sm;
$entity-button-menu-width-md: $entity-ctrl-panel-height-md;
$entity-button-menu-width-lg: $entity-ctrl-panel-height-lg;
$entity-button-menu-width-xl: $entity-ctrl-panel-height-xl;

$entity-action-menu-button-size-xs: 1.2rem;
$entity-action-menu-button-size-sm: 1.2rem;
$entity-action-menu-button-size-md: 1.2rem;
$entity-action-menu-button-size-lg: 1.2rem;
$entity-action-menu-button-size-xl: 1.2rem;

$entity-body-height-xs: $entity-height-xs - $entity-ctrl-panel-height-xs;
$entity-body-height-sm: $entity-height-sm - $entity-ctrl-panel-height-sm;
$entity-body-height-md: $entity-height-md - $entity-ctrl-panel-height-md;
$entity-body-height-lg: $entity-height-lg - $entity-ctrl-panel-height-lg;
$entity-body-height-xl: $entity-height-xl - $entity-ctrl-panel-height-xl;

$entity-body-content-margin: 0.5em 0.75em;

$entity-body-content-margin-xs: $entity-body-content-margin;
$entity-body-content-margin-sm: $entity-body-content-margin;
$entity-body-content-margin-md: $entity-body-content-margin;
$entity-body-content-margin-lg: $entity-body-content-margin;
$entity-body-content-margin-xl: $entity-body-content-margin;

$entity-control-checkbox-margin-left: 0.8em;

$entity-body-content-name-font-size: 1.0rem;

$entity-body-content-name-font-size-xs: $entity-body-content-name-font-size;
$entity-body-content-name-font-size-sm: $entity-body-content-name-font-size;
$entity-body-content-name-font-size-md: $entity-body-content-name-font-size;
$entity-body-content-name-font-size-lg: $entity-body-content-name-font-size;
$entity-body-content-name-font-size-xl: $entity-body-content-name-font-size;

$entity-body-content-description-font-size: 0.75rem;

$entity-body-content-description-font-size-xs: $entity-body-content-description-font-size;
$entity-body-content-description-font-size-sm: $entity-body-content-description-font-size;
$entity-body-content-description-font-size-md: $entity-body-content-description-font-size;
$entity-body-content-description-font-size-lg: $entity-body-content-description-font-size;
$entity-body-content-description-font-size-xl: $entity-body-content-description-font-size;


$entity-body-content-line-height: 1.5;

$entity-body-content-line-height-xs: $entity-body-content-line-height;
$entity-body-content-line-height-sm: $entity-body-content-line-height;
$entity-body-content-line-height-md: $entity-body-content-line-height;
$entity-body-content-line-height-lg: $entity-body-content-line-height;
$entity-body-content-line-height-xl: $entity-body-content-line-height;

$entity-body-content-gradient-height: px2em(120);

$entity-body-content-gradient-height-xs: px2em(80);
$entity-body-content-gradient-height-sm: $entity-body-content-gradient-height;
$entity-body-content-gradient-height-md: $entity-body-content-gradient-height;
$entity-body-content-gradient-height-lg: $entity-body-content-gradient-height;
$entity-body-content-gradient-height-xl: $entity-body-content-gradient-height;

$gap: px2em(20);

$gap-xs: $gap;
$gap-sm: $gap;
$gap-md: $gap;
$gap-lg: $gap;
$gap-xl: $gap;

$entity-border-radius: 8px;

// entity border-radius
$entity-roundness: (
  xs: $entity-border-radius,
  sm: $entity-border-radius,
  md: $entity-border-radius,
  lg: $entity-border-radius,
  xl: $entity-border-radius
);

// entity border-radius
$entity-roundness: (
  list: $entity-border-radius,
  card: $entity-border-radius,
);

$entity-border-radius-xs: $entity-border-radius;
$entity-border-radius-sm: $entity-border-radius;
$entity-border-radius-md: $entity-border-radius;
$entity-border-radius-lg: $entity-border-radius;
$entity-border-radius-xl: $entity-border-radius;