$action-menu-roundness: 8px;

$action-menu-item-color: $primary-color;

$action-menu-item-text-size: px2em(16);
$action-menu-item-text-color: $action-menu-item-color;
$action-menu-item-text-padding-right: px2em(10);

$action-menu-item-icon-size: px2em(16);
$action-menu-item-icon-color: $action-menu-item-color;