$admin-toolbar-height: 64px;

$navigation-menu-width: 360px;
$navigation-menu-width-sm: 360px;
$navigation-menu-width-rolled-up: 60px;

$admin-view-border-width: 0px;

// Light
$admin-view-border-color: $primary-color-50;

// Dark
$admin-view-border-color-inverse: $primary-color-50;