// Light
$admin-toolbar-border-width: 1px;
$admin-toolbar-border-bottom-color: $primary-color;
$admin-toolbar-background-color: $primary-color;

$admin-toolbar-logo-section-background-color: $navigation-menu-background-color;

// Dark
$admin-toolbar-border-bottom-color-inverse: $primary-color;
$admin-toolbar-background-color-inverse: #171920;

$admin-toolbar-logo-section-background-color-inverse: $navigation-menu-background-color-inverse;