// Light
$admin-toolbar-border-bottom-color: $primary-color;
$admin-toolbar-background-color: $primary-color;

// Dark
$admin-toolbar-border-bottom-color-inverse: $primary-color;
$admin-toolbar-background-color-inverse: #171920;