$button-base-padding: 10px 20px;
$button-border-radius: 8px;

//Size

$button-border-radius: 4px;
$button-border-radius-sm: 4px;
$button-border-radius-md: 4px;
$button-border-radius-lg: 6px;

$button-padding: 8px 12px;
$button-padding-sm: 5px 10px;
$button-padding-md: 8px 12px;
$button-padding-lg: 10px 15px;

//Style
$button-border-width: 1px;

$button-group-gap: 10px;