//normal
$dropdown-selector-button-opacity-normal: $tab-button-opacity-normal;
$dropdown-selector-button-background-color-normal: $tab-button-background-color-normal;
$dropdown-selector-button-border-normal: $tab-button-border-normal;
$dropdown-selector-button-color-normal: $tab-button-color-normal;

//active
$dropdown-selector-button-background-color-active: $tab-button-background-color-active;
$dropdown-selector-button-border-active: $tab-button-border-active;
$dropdown-selector-button-color-active: $tab-button-color-active;

//inverse
$dropdown-selector-button-background-color-normal-inverse: $tab-button-background-color-normal-inverse;
$dropdown-selector-button-color-normal-inverse: $tab-button-color-normal-inverse;
$dropdown-selector-button-border-normal-inverse: $tab-button-border-normal-inverse;