$expansion-panel-background-color: none;
$expansion-panel-background-color-hover: $inactive-color-light;
$expansion-panel-background-color-active: $inactive-color-light;

$expansion-panel-background-color-inverse: none;
$expansion-panel-background-color-hover-inverse: $inactive-color-light-inverse;
$expansion-panel-background-color-active-inverse: $inactive-color-light-inverse;