$tab-bar-button-focus-opacity: 0.9;
$tab-bar-button-active-scale: 0.95;
$tab-bar-button-interaction-duration: 90ms;

$entity-disabled-opacity: 0.5;
$entity-focus-opacity: 0.9;
$entity-active-scale: 0.99;
$entity-interaction-duration: 90ms;

$button-focus-opacity: 0.9;
$button-active-scale: 0.97;
$button-interaction-duration: 90ms;

$search-interaction-duration: 250ms;
$search-icon-interaction-duration: 125ms;

$admin-view-navigation-interaction-duration: 90ms;

$folder-header-interaction-duration: 90ms;

$navigation-menu-rollup-button-interaction-duration: 250ms;
$navigation-menu-rollup-button-interaction-delay: 50ms;