$tab-bar-button-focus-opacity: 0.9;
$tab-bar-button-active-scale: 0.95;
$tab-bar-button-interaction-duration: 90ms;

$entity-focus-opacity: 0.9;
$entity-active-scale: 0.99;
$entity-interaction-duration: 90ms;