// Common container
$common-container-xl: 40px;
$common-container-lg: 40px;
$common-container-md: 20px;
$common-container-sm: 10px;
$common-container-xs: 10px;

// Toolbar container
$toolbar-container-xl: 40px;
$toolbar-container-lg: 40px;
$toolbar-container-md: 20px;
$toolbar-container-sm: 10px;
$toolbar-container-xs: 10px;