$navigation-menu-folder-border-bottom-width: 0px;

$navigation-menu-background-color: darken($primary-color, 2%);
$navigation-menu-background-color-inverse: $primary-color;

$navigation-menu-item-background-color: darken($primary-color, 2%);
$navigation-menu-item-background-color-inverse: $primary-color;

$navigation-menu-folder-border-color: rgba(255,255,255,0.1);
$navigation-menu-folder-border-color-inverse: rgba(255,255,255,0.1);

$navigation-menu-item-background-color-selected: rgba(0,0,0,0.125);
$navigation-menu-item-background-color-selected-inverse: rgba(0,0,0,0.125);