$node-tree-item-border-radius: 6px;
$node-tree-item-margin-vertical: 5px; //Gap

$node-tree-item-thumbnail-size: 32px;

$node-tree-way-border-weight: 1px;

//disabled
$node-tree-disabled-opacity: $entity-disabled-opacity;
$node-tree-disabled-filter: $entity-disabled-filter;

//Light
    //Item
    $node-tree-way-border-color: $component-border-color;
    $node-tree-border-color: $entity-border-color;
    $node-tree-item-background-color: $white;
    //Text
    $node-tree-item-text-color: $primary-color;
    $node-tree-item-title-color: $node-tree-item-text-color;
    //Cntrls
    $node-tree-item-divider-border-color: $primary-color-800;
        //dragged
        $node-tree-item-background-color-dragged: $node-tree-item-background-color;
        $node-tree-border-color-dragged: $node-tree-border-color;
        $node-tree-item-divider-border-color-dragged: $node-tree-item-divider-border-color;

        $node-tree-item-text-color-dragged: $node-tree-item-text-color;
        $node-tree-item-title-color-dragged: $node-tree-item-title-color;

//Dark
    //Item
    $node-tree-way-border-color-inverse: $primary-color-100;
    $node-tree-border-color-inverse: $entity-border-color-inverse;
    $node-tree-item-background-color-inverse: $primary-color-100;
    //Text
    $node-tree-item-text-color-inverse: $primary-color-800;
    $node-tree-item-title-color-inverse: $node-tree-item-text-color-inverse;
    //Cntrls
    $node-tree-item-divider-border-color-inverse: $primary-color-200;
        //Dragged
        $node-tree-item-background-color-dragged-inverse: $node-tree-item-background-color-inverse;
        $node-tree-border-color-dragged-inverse: $node-tree-border-color-inverse;
        $node-tree-item-divider-border-color-dragged-inverse: $node-tree-item-divider-border-color-inverse;

        $node-tree-item-text-color-dragged-inverse: $node-tree-item-text-color-inverse;
        $node-tree-item-title-color-dragged-inverse: $node-tree-item-title-color-inverse;


// Respond
$node-tree-item-offset-x-lg: 32px;
$node-tree-item-offset-x-md: 20px;
$node-tree-item-offset-x-sm: 10px;

$node-tree-item-join-gap-lg: 6px;
$node-tree-item-join-gap-md: 4px;
$node-tree-item-join-gap-sm: 2px;

$node-tree-item-join-width-lg: $node-tree-item-offset-x-lg - $node-tree-item-join-gap-lg;
$node-tree-item-join-width-md: $node-tree-item-offset-x-md - $node-tree-item-join-gap-md;
$node-tree-item-join-width-sm: $node-tree-item-offset-x-sm - $node-tree-item-join-gap-sm;

$node-tree-item-way-offset-x-lg: $node-tree-item-offset-x-lg + $node-tree-item-join-width-lg;
$node-tree-item-way-offset-x-md: $node-tree-item-offset-x-md + $node-tree-item-join-width-md;
$node-tree-item-way-offset-x-sm: $node-tree-item-offset-x-sm + $node-tree-item-join-width-sm;

$node-tree-item-way-offset-y-lg: 4px;
$node-tree-item-way-offset-y-md: $node-tree-item-way-offset-y-lg;
$node-tree-item-way-offset-y-sm: $node-tree-item-way-offset-y-lg;