$query-progress-overlay-background-color-opacity: 0.25;
$query-progress-overlay-background-color: rgba($background-color, $query-progress-overlay-background-color-opacity);
$query-progress-overlay-background-color-inverse: rgba($background-color-inverse, $query-progress-overlay-background-color-opacity);