$scenario-editor-border-radius: $node-tree-item-border-radius;

//disabled
$scenario-editor-disabled-opacity: $entity-disabled-opacity;
$scenario-editor-disabled-filter: $entity-disabled-filter;

//Light
$scenario-editor-border-color: $entity-border-color;
$scenario-editor-background-color: $highlight-secondary-color;
$scenario-editor-border-item-color: $highlight-secondary-divider-color;
$scenario-editor-border-item-color-disabled: $entity-border-color;
$scenario-editor-background-color-disabled: $background-color;

//Dark
$scenario-editor-border-color-inverse: $entity-border-color-inverse;
$scenario-editor-background-color-inverse: $highlight-secondary-color-inverse;
$scenario-editor-border-item-color-inverse: $highlight-secondary-divider-color-inverse;
$scenario-editor-border-item-color-disabled-inverse: $entity-border-color-inverse;
$scenario-editor-background-color-disabled-inverse: $background-color-inverse;