@import "./palette";

$search-text-field-color: $primary-color;
// $search-text-field-background-color: $primary-color;

//Search
$search-padding: 0px 12px;
$search-border-width: 1px;
//$search-border-color: $accent-color;//$white;//$primary-color-100;

//Closed
$search-width-closed: 160px;
$search-text-field-color-closed: rgba($primary-color, 0.4); //placeholder color
$search-border-closed: $search-border-width solid rgba($background-color, 1.0);

//Opened
$search-width-opened: 400px;
$search-text-field-color-opened: $primary-color; //text color
$search-border-opened: $search-border-width solid rgba($secondary-color, 0.1);

//Search button-search
$search-button-search-icon-size: 16px;

//Search button-clear
$search-button-clear-size: 20px;
$search-button-clear-border-radius: $search-button-clear-size/2;//6px;//$search-button-clear-size/2;
$search-button-clear-color: rgba($white, 0.55);
$search-button-clear-background-color: rgba($white, 0.15);

$search-button-clear-icon-size: 14px;

//Search placeholder
$search-text-field-placeholder-size: 15p;