@import "./palette";

$search-text-field-color: $white;
$search-text-field-background-color: $primary-color;

//Search
$search-padding: 8px 10px;
$search-border-width: 1px;
//$search-border-color: $accent-color;//$white;//$primary-color-100;

//Closed
$search-width-closed: 160px;
$search-text-field-color-closed: rgba($white, 0.4);
$search-border-closed: $search-border-width solid rgba($primary-color-100, 1.0);

//Opened
$search-width-opened: 400px;
$search-text-field-color-opened: rgba($white, 1.0);
$search-border-opened: $search-border-width solid rgba($accent-color, 1.0);

//Search button-clear
$search-button-clear-size: 16px;
$search-button-clear-border-radius: $search-button-clear-size/2;
$search-button-clear-color: rgba($white, 0.55);
$search-button-clear-background-color: rgba($white, 0.15);

$search-button-clear-icon-size: px2em(14);

//Search placeholder
$search-text-field-placeholder-size: px2em(15);