@import "./palette";

$state-panel-height: auto;
$state-panel-height-sm: auto;

$state-panel-container-padding: 12px 40px;
$state-panel-container-padding-sm: 12px 20px;

$state-panel-margin-bottom: 0;
$state-panel-margin-bottom-sm: 0;

$state-panel-info-version-color: rgba($white, 0.35);
$state-panel-info-font-size: 0.65rem;

$state-panel-info-date-color: $accent-color;