$tab-list-font-size: 13px;


$tab-list-name-color: $secondary-color;
$tab-list-item-background-color: $inactive-color-light;
$tab-list-name-color-selected: $white;
$tab-list-item-background-color-selected: $accent-color;

$tab-list-name-color-inverse: $white;
$tab-list-item-background-color-inverse: $inactive-color-light-inverse;
$tab-list-name-color-selected-inverse: $white;
$tab-list-item-background-color-selected-inverse: $accent-color,