//Tags
$tag-size: auto;

$tag-size-xs: $tag-size;
$tag-size-sm: $tag-size;
$tag-size-md: $tag-size;
$tag-size-lg: $tag-size;
$tag-size-xl: $tag-size;

$tag-roundness: px2em(12);

$tag-roundness-xs: $tag-roundness;
$tag-roundness-sm: $tag-roundness;
$tag-roundness-md: $tag-roundness;
$tag-roundness-lg: $tag-roundness;
$tag-roundness-xl: $tag-roundness;