/*
 * Theme definitions
 */

@import "./palette";
@import "./tab-button"; //???

$themes: (
  light: (
    //Common
    backgroundColor: $background-color,
    foregroundColor: $primary-color,
    neutralColor: $neutral-color,
    dividerColor: $divider-color,
    // Admin Toolbar
    adminToolbarBackgroundColor: $primary-color,
    adminToolbarLogoSectionBackgroundColor: $primary-color,
    // Navigation Menu
    navigationMenuBackgroundColor: $navigation-menu-background-color,
    navigationMenuItemBackgroundColor: $navigation-menu-item-background-color,
    navigationMenuItemBackgroundColorSelected: $navigation-menu-item-background-color-selected,
    navigationMenuFolderBorderColor: $navigation-menu-folder-border-color,
    //State Panel
    statePanelBackgroundColor: $white,
    statePanelBorderColor: $white,
    //Search
    searchBackgroundColor: $background-color,
    searchTextFieldColor: $search-text-field-color,
    searchTextFieldPlaceholderColor: $search-text-field-color-closed,
    searchButtonClearColor: $search-button-clear-color,
    searchButtonClearBackgroundColor: $search-button-clear-background-color,
    searchBorderColorClosed: $search-border-color-closed,
    searchBorderColorOpened: $search-border-color-opened,
    searchIconColorClosed: $search-icon-color-closed,
    searchIconColorOpened: $search-icon-color-opened,
    //
    textColor: $primary-color,
    //Entity
    entityGroupListColor: rgba($secondary-color, 0.4),
    entityBackgroundColor: $white,
    entityTitleColor: $primary-color,
    entityTitleColorInverse: $white,
    entityDescriptionColor: rgba($secondary-color, 0.4),
    entityCoastColor: $primary-color,
    entityActionMenuButtonColor: $primary-color,
    entityDividerBorderColor: $divider-color,
    // Base button
    buttonBaseColor: $white,
    buttonBasebackgroundColor: $accent-color,
    // Tab button
    tabButtonBackgroundColorNormal: $tab-button-background-color-normal,
    tabButtonBorderColorNormal: $tab-button-border-normal,
    tabButtonColorNormal: $tab-button-color-normal,
    tabButtonBackgroundColorActive: $tab-button-background-color-active,
    tabButtonBorderColorActive: $tab-button-border-active,
    tabButtonColorActive: $tab-button-color-active,
    tabButtonBackgroundColorNormalInverse: $tab-button-background-color-normal-inverse,
    tabButtonColorNormalInverse: $tab-button-color-normal-inverse,
    tabButtonBorderColorNormalInverse: $tab-button-border-normal-inverse,
    // Folder Header
    folderHeaderBackgroundColor: $white,
    folderHeaderColor: $primary-color,
    // Node Tree
    nodeTreeWayBorderColor: $primary-color-500,
    nodeTreeItemBackgroundColor: $white,
    nodeTreeItemDividerBorderColor: $primary-color-800,
    nodeTreeItemTitleColor: $primary-color-200,
    nodeTreeItemFontColor: $primary-color-200,
    nodeTreeWayHiderBackgroundColor: $background-color,
    nodeTreeStatePanelBackgroundColor: $background-color,
    nodeTreeStatePanelBorderColor: $background-color,
    // Node tree secondary
    nodeTreeSecondaryWayBorderColor: $primary-color-600,
    nodeTreeSecondaryItemBackgroundColor: $primary-color-700,
    nodeTreeSecondaryItemDividerBorderColor: $primary-color-600,
    nodeTreeSecondaryItemTitleColor: $primary-color-200,
    nodeTreeSecondaryItemFontColor: $primary-color-200,
    nodeTreeSecondaryWayHiderBackgroundColor: $white,
    nodeTreeSecondaryStatePanelBackgroundColor: $white,
    nodeTreeSecondaryStatePanelBorderColor: $white,
    // scenario editor
    scenarioEditorColor: $primary-color-200,
    scenarioEditorBackgroundColor: $white,
    scenarioEditorBorderColor: $primary-color-800,
    scenarioEditorListItemBackgroundColor: $white,
    scenarioEditorCreateScenarioButtonColor: $white,
    scenarioEditorContentColor: $primary-color-200,
    scenarioEditorContentBackgroundColor: $white,
    scenarioEditorContentNameBackgroundColor: $primary-color-200,
    scenarioEditorContentNameActiveBackgroundColor: rgb(66, 176, 240),
    scenarioEditorContentNameHoverColor: $primary-color-400,
    scenarioEditorContentNameHoverBackgroundColor: $primary-color-800,
    scenarioEditorActionMenuButtonColor: $primary-color-200,
    // scenario editor secondary
    scenarioEditorSecondaryColor: $primary-color-200,
    scenarioEditorSecondaryBackgroundColor: $primary-color-700,
    scenarioEditorSecondaryBorderColor: $primary-color-600,
    scenarioEditorSecondaryListItemBackgroundColor: $primary-color-700,
    scenarioEditorSecondaryCreateScenarioButtonColor: $primary-color-700,
    scenarioEditorSecondaryContentColor: $primary-color-200,
    scenarioEditorSecondaryContentBackgroundColor: $primary-color-700,
    scenarioEditorSecondaryContentNameBackgroundColor: $primary-color-200,
    scenarioEditorSecondaryContentNameActiveBackgroundColor: rgb(66, 176, 240),
    scenarioEditorSecondaryContentNameHoverColor: $primary-color-400,
    scenarioEditorSecondaryContentNameHoverBackgroundColor: $primary-color-800,
    scenarioEditorSecondaryActionMenuButtonColor: $primary-color-200,
    // form
    formBackgroundColor: $white,
    formFontColor: $primary-color,
    //
    cdkDragPreviewBackgroundColor: $background-color,
    // Query Progress
    queryProgressOverlayBackgroundColor: $query-progress-overlay-background-color,
    // Tab List
    tabListNameColor: $tab-list-name-color,
    tabListItemBackgroundColor: $tab-list-item-background-color,
    tabListNameColorSelected: $tab-list-name-color-selected,
    tabListItemBackgroundColorSelected: $tab-list-item-background-color-selected,
    //Expansion Panel
    expansionPanelBackgroundColor: $expansion-panel-background-color,
    expansionPanelBackgroundColorHover: $expansion-panel-background-color-hover,
    expansionPanelBackgroundColorActive: $expansion-panel-background-color-active,
    expansionPanelIconColor: $expansion-panel-icon-color,
    expansionPanelTitleColor: $expansion-panel-title-color,
  ),
  dark: (
    //Common
    backgroundColor: $background-color-inverse,
    foregroundColor: $primary-color,
    neutralColor: $neutral-color,
    dividerColor: $divider-color-inverse,
    // Admin Toolbar
    adminToolbarBackgroundColor: #171920,
    //$primary-color,
    adminToolbarLogoSectionBackgroundColor: $navigation-menu-background-color-inverse,
    // new
    // Navigation Menu
    navigationMenuBackgroundColor: $navigation-menu-background-color-inverse,
    navigationMenuItemBackgroundColor: $navigation-menu-item-background-color-inverse,
    navigationMenuItemBackgroundColorSelected: $navigation-menu-item-background-color-selected-inverse,
    navigationMenuFolderBorderColor: $navigation-menu-folder-border-color-inverse,
    //State Panel
    statePanelBackgroundColor: #171920,
    // $secondary-color,
    statePanelBorderColor: #1c1e25,
    // $secondary-color, // New
    //Search
    searchBackgroundColor: $primary-color,
    searchTextFieldColor: $search-text-field-color-inverse,
    searchTextFieldPlaceholderColor: $search-text-field-color-closed-inverse,
    searchButtonClearColor: $search-button-clear-color-inverse,
    searchButtonClearBackgroundColor: $search-button-clear-background-color-inverse,
    searchBorderColorClosed: $search-border-color-closed-inverse,
    searchBorderColorOpened: $search-border-color-opened-inverse,
    searchIconColorClosed: $search-icon-color-closed-inverse,
    searchIconColorOpened: $search-icon-color-opened-inverse,
    //
    textColor: $white,
    //Entity
    entityGroupListColor: $white,
    entityBackgroundColor: $primary-color-100,
    entityTitleColor: $background-color,
    entityTitleColorInverse: $white,
    entityDescriptionColor: rgba($background-color, 0.4),
    entityCoastColor: $background-color,
    entityActionMenuButtonColor: $white,
    entityDividerBorderColor: $divider-color-inverse,
    // Base button
    buttonBaseColor: $white,
    buttonBasebackgroundColor: $accent-color,
    // Tab button
    tabButtonBackgroundColorNormal: $tab-button-background-color-normal-theme-dark,
    tabButtonBorderColorNormal: $tab-button-border-normal-theme-dark,
    tabButtonColorNormal: $tab-button-color-normal-theme-dark,
    tabButtonBackgroundColorActive: $tab-button-background-color-active-theme-dark,
    tabButtonBorderColorActive: $tab-button-border-active-theme-dark,
    tabButtonColorActive: $tab-button-color-active-theme-dark,
    tabButtonBackgroundColorNormalInverse: $tab-button-background-color-normal-inverse-theme-dark,
    tabButtonColorNormalInverse: $tab-button-color-normal-inverse-theme-dark,
    tabButtonBorderColorNormalInverse: $tab-button-border-normal-inverse-theme-dark,
    // Folder Header
    folderHeaderBackgroundColor: $secondary-color,
    folderHeaderColor: $white,
    // Node Tree
    nodeTreeWayBorderColor: $primary-color-300,
    nodeTreeItemBackgroundColor: $primary-color-100,
    nodeTreeItemDividerBorderColor: $primary-color-200,
    nodeTreeItemTitleColor: $primary-color-800,
    nodeTreeItemFontColor: $primary-color-800,
    nodeTreeWayHiderBackgroundColor: $background-color,
    nodeTreeStatePanelBackgroundColor: $background-color,
    nodeTreeStatePanelBorderColor: $background-color,
    // Node tree secondary
    nodeTreeSecondaryWayBorderColor: $primary-color-600,
    nodeTreeSecondaryItemBackgroundColor: $primary-color-200,
    nodeTreeSecondaryItemDividerBorderColor: $primary-color-300,
    nodeTreeSecondaryItemTitleColor: $primary-color-800,
    nodeTreeSecondaryItemFontColor: $primary-color-800,
    nodeTreeSecondaryWayHiderBackgroundColor: $secondary-color,
    nodeTreeSecondaryStatePanelBackgroundColor: $secondary-color,
    nodeTreeSecondaryStatePanelBorderColor: $secondary-color,
    // scenario editor
    scenarioEditorColor: $primary-color-800,
    scenarioEditorBackgroundColor: $primary-color-100,
    scenarioEditorBorderColor: $primary-color-200,
    scenarioEditorListItemBackgroundColor: $primary-color-100,
    scenarioEditorCreateScenarioButtonColor: $primary-color-100,
    scenarioEditorContentColor: $primary-color-800,
    scenarioEditorContentBackgroundColor: $primary-color-100,
    scenarioEditorContentNameBackgroundColor: $primary-color-800,
    scenarioEditorContentNameActiveBackgroundColor: rgb(66, 176, 240),
    scenarioEditorContentNameHoverColor: $primary-color-700,
    scenarioEditorContentNameHoverBackgroundColor: $primary-color-700,
    scenarioEditorActionMenuButtonColor: $primary-color-800,
    // scenario editor secondary
    scenarioEditorSecondaryColor: $primary-color-800,
    scenarioEditorSecondaryBackgroundColor: $primary-color-200,
    scenarioEditorSecondaryBorderColor: $primary-color-300,
    scenarioEditorSecondaryListItemBackgroundColor: $primary-color-200,
    scenarioEditorSecondaryCreateScenarioButtonColor: $primary-color-200,
    scenarioEditorSecondaryContentColor: $primary-color-800,
    scenarioEditorSecondaryContentBackgroundColor: $primary-color-200,
    scenarioEditorSecondaryContentNameBackgroundColor: $primary-color-200,
    scenarioEditorSecondaryContentNameActiveBackgroundColor: rgb(66, 176, 240),
    scenarioEditorSecondaryContentNameHoverColor: $primary-color-700,
    scenarioEditorSecondaryContentNameHoverBackgroundColor: $primary-color-200,
    scenarioEditorSecondaryActionMenuButtonColor: $primary-color-800,
    // form
    formBackgroundColor: $secondary-color,
    formFontColor: $white,
    //
    cdkDragPreviewBackgroundColor: $background-color-inverse,
    // Query Progress
    queryProgressOverlayBackgroundColor: $query-progress-overlay-background-color-inverse,
    // Tab List
    tabListNameColor: $tab-list-name-color-inverse,
    tabListItemBackgroundColor: $tab-list-item-background-color-inverse,
    tabListNameColorSelected: $tab-list-name-color-selected-inverse,
    tabListItemBackgroundColorSelected: $tab-list-item-background-color-selected-inverse,
    //Expansion Panel
    expansionPanelBackgroundColor: $expansion-panel-background-color-inverse,
    expansionPanelBackgroundColorHover: $expansion-panel-background-color-hover-inverse,
    expansionPanelBackgroundColorActive: $expansion-panel-background-color-active-inverse,
    expansionPanelIconColor: $expansion-panel-icon-color-invere,
    expansionPanelTitleColor: $expansion-panel-title-color-inverse,
  ),
);
