/*
 * Theme definitions
 */

 @import "./palette";
 @import "./tab-button";

$themes: (
  light: (
    //Common
    backgroundColor: $background-color,
    foregroundColor: $primary-color,
    neutralColor: $neutral-color,
    dividerColor: $divider-color,
    //State Panel
    statePanelBackgroundColor: $white,
    //Search
    searchBackgroundColor: $background-color,
    textColor: $primary-color,
    //Entity
    entityGroupListColor: rgba($secondary-color, 0.4),
    entityBackgroundColor: $white,
    entityTitleColor: $primary-color,
    entityDescriptionColor: rgba($secondary-color, 0.4),
    entityCoastColor: $primary-color,
    entityActionMenuButtonColor: $primary-color,
    entityDividerBorderColor: $divider-color,
    //Base button
    buttonBaseColor: $white,
    buttonBasebackgroundColor: $accent-color,
    //Tab button
    tabButtonBackgroundColorNormal: $tab-button-background-color-normal,
    tabButtonBorderColorNormal: $tab-button-border-normal,
    tabButtonColorNormal: $tab-button-color-normal,
    tabButtonBackgroundColorActive: $tab-button-background-color-active,
    tabButtonBorderColorActive: $tab-button-border-active,
    tabButtonColorActive: $tab-button-color-active,
    tabButtonBackgroundColorNormalInverse:$tab-button-background-color-normal-inverse,
    tabButtonColorNormalInverse:$tab-button-color-normal-inverse,
    tabButtonBorderColorNormalInverse:$tab-button-border-normal-inverse,
    //Folder Header
    folderHeaderBackgroundColor:$white,
    folderHeaderColor:$primary-color,
  ),
  dark: (
    //Common
    backgroundColor: $primary-color,
    foregroundColor: $primary-color,
    neutralColor: $neutral-color,
    dividerColor: $divider-color-inverse,
    //State Panel
    statePanelBackgroundColor: $secondary-color,
    //Search
    searchBackgroundColor: $background-color,
    textColor: $white,
    //Entity
    entityGroupListColor: $white,
    entityBackgroundColor: $primary-color-100,
    entityTitleColor: $background-color,
    entityDescriptionColor: rgba($background-color, 0.4),
    entityCoastColor: $background-color,
    entityActionMenuButtonColor: $white,
    entityDividerBorderColor: $divider-color-inverse,
    //Base button
    buttonBaseColor: $white,
    buttonBasebackgroundColor: $accent-color,
    //Tab button
    tabButtonBackgroundColorNormal: $tab-button-background-color-normal-theme-dark,
    tabButtonBorderColorNormal: $tab-button-border-normal-theme-dark,
    tabButtonColorNormal: $tab-button-color-normal-theme-dark,
    tabButtonBackgroundColorActive: $tab-button-background-color-active-theme-dark,
    tabButtonBorderColorActive: $tab-button-border-active-theme-dark,
    tabButtonColorActive: $tab-button-color-active-theme-dark,
    tabButtonBackgroundColorNormalInverse:$tab-button-background-color-normal-inverse-theme-dark,
    tabButtonColorNormalInverse:$tab-button-color-normal-inverse-theme-dark,
    tabButtonBorderColorNormalInverse:$tab-button-border-normal-inverse-theme-dark,
    //Folder Header
    folderHeaderBackgroundColor:$secondary-color,
    folderHeaderColor:$white,
  ),
);