<div class="assets-uploader">
    <div class="assets-uploader-wrapper">
        <div class="asset" *ngFor="let asset of collection; let index = index;" [class.disabled]="!asset.active">
            <div class="asset-ctrl-panel">
                <mat-checkbox class="asset-checkbox-active" color="primary" #checkboxActive [checked]="asset.active"
                    (click)="onToggleActive($event, asset)"></mat-checkbox>
                <button mat-icon-button [matMenuTriggerFor]="menu" type="button" class="asset-menu-button"
                    (click)="onShowMenu($event)" aria-label="Menu">
                    <mat-icon class="icon">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item type="button" (click)="onToggleActive(undefined, asset)">
                        <mat-icon>
                            {{asset.active ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                        <span>{{asset.active ? 'Деактивировать' : 'Активировать'}}</span>
                    </button>
                    <button mat-menu-item type="button" (click)="onDeleteAsset(asset)">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Удалить</span>
                    </button>
                </mat-menu>
            </div>
            <ng-container *ngIf="asset.progress; else loaded">
                <div matRipple class="asset-thumbnail">
                    <mat-progress-bar mode="determinate" [value]="asset.progress.progress"></mat-progress-bar>
                </div>
                <div class="asset-name">
                    {{asset.name}}
                </div>
            </ng-container>
            <ng-template #loaded>
                <div matRipple class="asset-thumbnail" [style.background]="getThumbnail(asset)"></div>
                <div class="asset-name">
                    {{asset.name}}
                </div>
            </ng-template>
        </div>
        <button class="asset-btn-add" mat-flat-button color="accent" type="button" (click)="fileSelector.open()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <ta-file-selector [allowedExtensions]="['.png', '.jpg']" #fileSelector="fileSelector"
        (select)="onUploadFile($event)"></ta-file-selector>
</div>