.ta-state-panel {
    height: auto;
    display: block;
    position: relative;
    min-height: 64px;
}

.state-panel {
    position: absolute;
    box-shadow: 0px 2px 24px rgb(0 0 0 / 7%);
    width: 100%;
    // z-index: 1;
    border-top-width: $state-panel-border-top-width;
    border-top-style: solid;
    z-index: 9998;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
    }

    &__info {
        font-size: $state-panel-info-font-size;
        word-wrap: none;

        &__version {
            color: $state-panel-info-version-color;
            text-transform: uppercase;
        }

        &__date {
            color: $state-panel-info-date-color;
        }
    }

    .spacer {
        margin: auto;
    }
}

.secondary {
    .state-panel {
        box-shadow: none !important;
    }
}

.entity-sheet {

    .state-panel {
        box-shadow: none !important;
        border-bottom: 1px solid $divider-color;
        // background-color: $divider-color !important;
    }
}