<div class="editor">
    <ta-state-panel searchFieldClass="color-accent" [refInfo]="refInfo" (search)="onSearch($event)"></ta-state-panel>
    <div class="entities-wrapper">
        <div class="entity" *ngFor="let tag of collection | search:searchPattern:defaultLanguage.code"
            [class.disabled]="!tag.active">
            <div class="entity-ctrls">
                <div class="entity-checkbox-active">
                    <mat-checkbox color="accent" #checkboxActive [checked]="tag.active"
                        (click)="onToggleActive($event, tag)"></mat-checkbox>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="entity-menu-button" aria-label="Menu">
                    <mat-icon class="icon">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item type="button" (click)="onToggleActive($event, tag)">
                        <mat-icon>{{tag.active ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <span>{{tag.active ? 'Deactivate' : 'Active'}}</span>
                    </button>
                    <button mat-menu-item (click)="onEdit(tag)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="onDelete(tag)">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </div>
            <div matRipple class="entity-active-zone" (click)="onEdit(tag)">
                <div class="content">
                    <div class="bottom-panel">
                        <img align="center" *ngIf="hasThumbnail(tag)" class="entity-thumbnail"
                            [src]="getThumbnail(tag)">
                    </div>
                    <div class="content__name">
                        {{getName(tag)}}
                    </div>
                </div>
                <div class="color" [style.background]="getColor(tag)"></div>
            </div>
        </div>
        <button color="accent" mat-raised-button class="button-add" (click)="onCreate()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>