<div class="editor">
  <ta-state-panel searchFieldClass="color-accent" [rights]="[0, 1]" [refInfo]="refInfo" [layout]="layoutType"
    [displayInactiveEntities]="displayInactiveEntities" (search)="onSearch($event)"
    (changeLayout)="onSwitchLayout($event)" (changeInactiveVisibility)="onShowHiddenEntities($event)"></ta-state-panel>
  <!--Editor Scroll View-->
  <div class="editor__scroll-view">
    <div class="editor__container" [ngClass]="{'missing-items': !(collection && collection.length)}">

      <div class="entities-container entities-card-layout">
        <div class="entity" *ngFor="let tag of filteredCollection | search:searchPattern:defaultLanguage?.code"
          [class.disabled]="!tag.active">

          <div class="entity__control">
            <div class="entity__control__container">
              <!--My checkbox-->
              <div class="entity__control__checkbox">
                <ta-checkbox #checkboxActive [checked]="tag.active" (click)="onToggleActive($event, tag)">
                </ta-checkbox>
              </div>
              <!--My checkbox-->
              <!-- ActionMenu -->
              <button mat-icon-button [matMenuTriggerFor]="menu" class="entity__action-menu__button" aria-label="Menu">
                <mat-icon class="icon">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item type="button" (click)="onToggleActive($event, tag)">
                  <mat-icon>{{tag.active ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <span>
                    {{tag.active ? localization.get("common_action-deactivate") :
                    localization.get("common_action-activate")}}
                  </span>
                </button>
                <button mat-menu-item (click)="onEdit(tag)">
                  <mat-icon>edit</mat-icon>
                  <span>
                    {{localization.get("common_action-edit")}}
                  </span>
                </button>
                <button mat-menu-item (click)="onDelete(tag)">
                  <mat-icon>delete_forever</mat-icon>
                  <span>
                    {{localization.get("common_action-delete")}}
                  </span>
                </button>
              </mat-menu>
              <!-- ActionMenu -->
            </div>
          </div>
          <div matRipple class="entity__body" (click)="onEdit(tag)">
            <div class="entity__body__content">
              <div class="entity__body__container">
                <div class="entity__text-group">
                  <img align="center" *ngIf="hasThumbnail(tag, 'x32')" class="entity-thumbnail"
                    [src]="getThumbnail(tag, 'x32')">
                  <div class="entity__tag" [style.background]="getColor(tag)">
                    <div class="entity__tag__name">
                      {{getName(tag)}}
                    </div>
                  </div>
                  <div *ngIf="getDescription(tag)" class="entity__description">
                    {{getDescription(tag)}}
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Panel Add Item -->
        <div class="entities-bottom-panel">
          <div class="entities-bottom-panel__container">
            <button color="accent" class="button-add" (click)="onCreate()">
              <div class="">
                {{localization.get("tags_add-new")}}
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>