.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    .profile__block {
        display: flex;
        .form {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .form__link {
        font-size: 16px;
        text-transform: lowercase;
        text-decoration: underline;
    }
}

@media screen and (max-width: 840px) {
    .profile {
        display: block;

        .profile__block:not(:last-child) {
            margin-bottom: 8px;
        }

        .profile__block {
            display: block;
            .form.not-editable {
                height: initial;
            }
        }
    }
}
