// @import "../themes/theme";
// @import "../utils/px2em";
@import "../abstracts/vars";

.p404 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary-color-700;

  .p404__wrapper {
    h1 {
      font-size: 172px;
      color: white;
      margin-bottom: 4px;
    }

    p {
      color: white;
    }
  }
}
