$gap-m: px2em(12);
$gap-d: px2em(20);
$assets-size-m: px2em(48);
$assets-size-d: px2em(64);
$assets-button-menu-size-m: px2em(32);
$assets-button-menu-size-d: px2em(38);
$ctrl-panel-height: px2em(40);

@mixin button() {
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-radius: 4px;
}

.assets-uploader {
    color: #ffffff;

    .assets-uploader-wrapper {
        display: grid;
        grid-auto-flow: dense;
        grid-auto-rows: auto;
    }

    .asset {
        position: relative;
        border-radius: 4px;
        overflow: hidden;

        &.disabled {
            opacity: 0.5;
        }

        .asset-ctrl-panel {
            background: rgba($primary, 0.1);
            border: 1px solid rgba($primary-700, 0.34);
            border-radius: 4px 4px 0 0;
            display: flex;
            color: #000000;
        }

        .asset-thumbnail {
            width: 100%;
            box-sizing: border-box;
            border: 1px solid rgba($primary-700, 0.34);
            border-top: none;
            border-radius: 0 0 4px 4px;
            margin-bottom: px2em(8);
            background-position: center !important;
            background-size: cover !important;
        }

        .asset-name {
            max-height: px2em(32);
            min-height: px2em(32);
            color: #000000;
            overflow: hidden;
            word-break: break-word;
            line-height: 1.1;
            font-size: px2em(13);
            text-align: center;
        }

        .asset-menu-button {
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000000;
        }

        .asset-checkbox-active {
            padding: px2em(8);
        }
    }
}

@media screen and (min-width: 600px) {
    .assets-uploader {
        .assets-uploader-wrapper {
            gap: $gap-d;
            grid-template-columns: repeat(auto-fill, minmax($assets-size-d, 1fr));
        }

        .asset {
            .asset-thumbnail {
                height: $assets-size-d;
            }

            .content {
                font-size: 0.9rem;
                line-height: 1.2;
                margin: 1.2rem 1.8rem 0rem 1.2rem;
            }

            .asset-menu-button {
                width: $assets-button-menu-size-d;
                height: $assets-button-menu-size-d;

                .icon {
                    font-size: 1.2rem;
                }
            }
        }

        .asset-btn-add {
            min-height: $assets-size-d + $ctrl-panel-height;
            max-height: $assets-size-d + $ctrl-panel-height;
        }
    }
}

@media screen and (max-width: 599px) {
    .assets-uploader {
        .assets-uploader-wrapper {
            gap: $gap-m;
            grid-template-columns: repeat(auto-fill, minmax($assets-size-m, 1fr));
        }

        .asset {
            .asset-thumbnail {
                height: $assets-size-m;
            }

            .content {
                font-size: 0.73rem;
                line-height: 1.2;
                margin: 0.9rem 1.3rem 0.3rem 0.9rem;
            }

            .asset-menu-button {
                width: $assets-button-menu-size-m;
                height: $assets-button-menu-size-m;

                .icon {
                    font-size: 0.8rem;
                }
            }
        }

        .asset-btn-add {
            min-height: $assets-size-m + $ctrl-panel-height;
            min-height: $assets-size-m + $ctrl-panel-height;
        }
    }
}
