@import "../utils/px2em";

$n-size: px2em(128);
$m-size: px2em(96);
$s-size: px2em(48);

.transparent {
    .asset-picker {
        .asset-viewer {
            .asset-preview__substract {
                background-image: url("~assets/img/transparent.svg");
            }
        }
    }
}

.asset-picker {
    width: 100%;

    .asset-viewer {
        width: 100%;
        height: $n-size;
        border-radius: 4px;
        border: 1px solid rgba($primary-700, 0.1);
        overflow: hidden;
        margin-bottom: px2em(2);
        position: relative;
        display: flex;
        justify-content: center;

        .asset-preview__substract {
            position: absolute;
            width: 100%;
            height: $n-size;
        }

        .asset-preview__substract-color {
            position: absolute;
            width: 100%;
            height: $n-size;
        }

        .asset-preview {
            position: absolute;
            width: $n-size;
            height: $n-size;
            background-size: cover !important;
            background-position: center !important;
            z-index: 1;
        }
    }

    &.m {
        width: 100%;

        .asset-viewer {
            width: 100%;
            height: $m-size;

            .asset-preview__substract,
            .asset-preview {
                width: $n-size;
                height: $m-size;
            }
        }
    }

    &.s {
        width: 100%;

        .asset-viewer {
            width: 100%;
            height: $s-size;

            .asset-preview__substract,
            .asset-preview {
                width: $s-size;
                height: $s-size;
            }
        }
    }
}
