$n-size: px2em(168);
$m-size: px2em(96);
$s-size: px2em(48);

.transparent {
    .asset-picker {
        .asset-viewer {
            .asset-preview__substract {
                background-image: url("~embeded-assets/img/transparent.svg");
            }
        }
    }
}

.asset-picker {
    width: 100%;
    
    .reset-content-button {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }

    .upload-button {
        width: 100%;
        white-space: normal;
        font-size: 0.815em;
        line-height: 1.1;
        padding: px2em(16) px2em(12);
        height: auto;
    }

    .asset-viewer {
        width: 100%;
        height: $n-size;
        border-radius: 6px;
        border: 1px solid $component-border-color;
        overflow: hidden;
        margin-bottom: px2em(2);
        position: relative;
        display: flex;
        justify-content: center;
        box-sizing: border-box;

        .asset-preview__substract {
            position: absolute;
            width: 100%;
            height: $n-size;
        }

        .asset-preview__substract-color {
            position: absolute;
            width: 100%;
            height: $n-size;
        }

        .asset-preview {
            position: absolute;
            display: flex;
            width: 100%;
            height: $n-size;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                margin: auto;
            }
        }
    }

    &.m {
        width: 100%;

        .asset-viewer {
            width: 100%;
            height: $m-size;

            .asset-preview__substract,
            .asset-preview {
                width: 100%;
                height: $m-size;
            }
        }
    }

    &.s {
        width: 100%;

        .asset-viewer {
            width: 100%;
            height: $s-size;

            .asset-preview__substract,
            .asset-preview {
                width: 100%;
                height: $s-size;
            }
        }
    }
}

.resources-n, .resources-s {

    .asset-picker {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}