@import "../utils/px2em";

$n-size: px2em(280);
$m-size: px2em(128);
$s-size: px2em(96);

.asset-picker {
    width: $n-size;

    .asset-preview {
        border-radius: 4px;
        overflow: hidden;
        width: $n-size;
        height: $n-size;
        background-size: cover !important;
        background-position: center !important;
        margin-bottom: px2em(24);
        border: 1px solid rgba($primary-700, 0.5);
    }

    &.m {
        width: $m-size;

        .asset-preview {
            width: $m-size;
            height: $m-size;
        }
    }

    &.s {
        width: $s-size;

        .asset-preview {
            width: $s-size;
            height: $s-size;
        }
    }
}
