@import "../themes";
@import "../base/reset-input";
@import "../utils/px2em";

.color-picker-component {
    position: inherit;
    display: flex;

    &__input {
        @include reset-input();

        cursor: pointer;

        position: relative;
        border: 1px solid rgba($primary, 0.1);
        border-radius: 4px;
        padding: px2em(10);
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        margin-bottom: px2em(24);

        z-index: 0;
    }

    .reset-content-button {
        position: relative;
    }
}