@import "../themes";
@import "../utils/px2em";

.entity-options-editor {
    color: #000000;

    .entity-options-editor__back-button {
        cursor: pointer;
        color: $accent;
        margin-bottom: px2em(20);
        text-decoration: underline;
    }
}

@media screen and (min-width: 600px) {
    .entity-options-editor {
        padding: px2em(40);

        .main-options-wrapper {
            display: grid;
            grid-template-columns: px2em(280) auto;
            gap: px2em(40);
        }

        .form {
            border-radius: 4px;
            padding: px2em(40);
            background: #ffffff;
        }

        .form + .form {
            margin-top: px2em(20);
        }
    }
}

@media screen and (max-width: 599px) {
    .entity-options-editor {
        background: #ffffff;
        min-height: 100%;

        .main-options-wrapper {
            display: grid;
            grid-template-columns: px2em(200) auto;
            gap: px2em(20);
        }

        .form {
            padding: px2em(20);
        }

        .form + .form {
            margin-top: px2em(20);
        }
    }
}
