.icon-search-cross {
  content: "\e900";
}
.icon-search {
  content: "\e901";
}
.icon-filter-hide:before {
  content: "\e904";
}
.icon-filter-show:before {
  content: "\e905";
}
.icon-filter-card:before {
  content: "\e902";
}
.icon-filter-list:before {
  content: "\e903";
}