.key-value {
    display: grid;
    grid-template-columns: auto minmax(100px, 1fr) auto;
    margin-bottom: 8px;
    align-items: baseline;

    &__key {
        text-align: left;
    }
    &__separator {
        border-bottom: 1px dotted;
    }
    &__value {
        text-align: right;
        word-break: break-all;
    }
}