@import "../abstracts/vars";
@import "../mixins";

.key-value {
    display: grid;
    grid-template-columns: auto minmax(30px, 1fr) auto;
    margin-bottom: 8px;
    align-items: baseline;

    &__key {
        text-align: left;
        word-break: break-all;
    }
    &__separator {
        border-bottom: 1px dotted;
        margin: 0 4px;
    }
    &__value {
        text-align: right;
        word-break: break-all;
    }
    &__color {
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 1px solid $primary-color-400;
        border-radius: 2px;
        margin-right: 2px;
    }
}
