@import '../themes/';

.login {
  /*background-image: url('~/assets/img/backgrounds/auth.jpg');*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: $primary;

  .full-width {
    width: 100%;
  }

  .form {
    padding: 20px;
    background-color: white;
  }

  .form__heading {
    padding: 20px;
    background-color: $primary-100;

    p {
      margin: 0;
    }
  }

  .form__wrapper {
    max-width: 25%;
    min-width: 280px;
    box-shadow: 0 2px 5px 1px rgba(80, 80, 80, 0.15);
    margin: 0 auto;
    position: relative;

    /*@media (max-width: $tabletWidth) {
        width: calc(100% - 22rem);
        max-width: unset;
      }
  
      @media (max-width: $smartphoneWidth) {
        width: calc(100% - 6rem);
      }
  
      @media (max-width: $smartphoneWidth-L) {
        width: calc(100% - 3rem);
      }*/
  }
}
