@import "../themes/theme";
@import "../utils/px2em";

$border: 1px dotted rgba($primary-800, 0.24);
$icon-size: 17px;
$text-size: 14px;
$color: #5c707c;

.navigation-menu {
    min-width: 340px;
    color: $primary-600;

    &__item,
    &__expantion-item {
        cursor: pointer;
    }

    &__expantion-item {
        user-select: none;
        // border-top: $border;
        // border-bottom: $border;

        &-label {
            color: inherit;
            font-size: $text-size;
            font-weight: 600;
        }

        &-icon {
            font-size: $icon-size;
        }
    }

    &:first-child {
        .navigation-menu__expantion-item:first-child {
            border-top: none;
        }
    }

    .navigation-menu__expantion-item + .navigation-menu__expantion-item {
        border-top: none;
    }

    .navigation-menu:last-child .navigation-menu__expantion-item:last-child {
        border-bottom: none;
    }

    &__item,
    .expantion-item__wrapper {
        padding: px2em(20);
    }

    .expantion-item__wrapper {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: px2em(24);
    }

    &__item {
        user-select: none;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: px2em(24);

        &.selected {
            background: rgba($primary-700, 0.15);
        }

        &-label {
            color: inherit;
            font-size: $text-size;
            font-weight: 600;
        }

        &-icon {
            font-size: $icon-size;
        }
    }
}

.navigation-menu {
    .expantion-item__wrapper {
        box-shadow: none;
        background: $color;
        color: white;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    }

    .navigation-menu {
        .expantion-item__wrapper {
            background: white;
            color: inherit;
            text-shadow: none;

            &.expanded {
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 1px 0 rgba(0, 0, 0, 0.2);
            }
        }

        .navigation-menu {
            background: rgba($primary, 0.025);
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    .navigation-menu {
        min-width: auto;

        &__item,
        .expantion-item__wrapper {
            grid-template-columns: auto;
        }
    }
}
