@import "../themes/theme";
@import "../utils/px2em";

$border: 2px dotted $primary;
$offset-x: px2em(64);

.node-tree-item {
    position: relative;

    .node-tree-item-joint {
        position: absolute;
        display: block;
        width: px2em(32);
        height: px2em(6);
        margin-top: px2em(22);
        border-bottom: $border;
    }

    .node-tree-item-wrapper {
        .node-tree-item-way {
            margin: px2em(4) 0 px2em(16) $offset-x;
            border-left: $border;
        }

        .node-tree-item__content {
            margin: px2em(8) 0 0 px2em(42);
            box-sizing: border-box;

            .content {
                user-select: none;
                cursor: pointer;
                display: grid;
                grid-template-columns: auto 1fr auto;
                border-radius: 4px;
                align-items: baseline;
                color: #000000;
                background: #ffffff;
                border: 1px solid rgba($primary, 0.3);
                overflow: hidden;
                padding: px2em(4);
                align-items: center;

                &.wrong {
                    background: $warn;

                    .content__name {
                        background: rgba(0, 0, 0, 0.1);
                    }
                }

                .content__name {
                    text-overflow: ellipsis;
                    word-break: keep-all;
                    overflow: hidden;
                    white-space: nowrap;
                    background: rgba($primary, 0.1);
                    padding: px2em(12);
                    border-radius: 3px;
                    margin: auto 0;

                    &.active {
                        background: rgb(66, 176, 240);
                    }

                    &:hover {
                        background: $accent;
                    }
                }
            }

            .entity-menu-button {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $primary-700;
            }
        }

        .button-create {
            margin-left: -(px2em(20));
            margin-top: px2em(18);
            padding: 0;
            min-width: px2em(38);
            width: 2.375em;
            height: 2.375em;
            display: flex;
            align-items: center;
            justify-content: center;

            mat-icon {
                height: 1em;
                font-size: 1.5em;
            }
        }
    }
}
