@import "../themes/theme";
@import "../utils/px2em";

$offset-x: px2em(64);
$way-border-weight: 2px;

.node-tree-item {
    position: relative;

    .node-item-way-hider {
        position: absolute;
        width: 4px;
        height: calc(100% - 26px);
        bottom: 0;
        z-index: 1;
        margin-left: -3px;
    }

    .node-tree-item-joint {
        position: absolute;
        display: block;
        width: px2em(32);
        height: px2em(6);
        margin-top: px2em(22);
    }

    .node-tree-item-wrapper {
        .node-tree-item-way {
            margin: px2em(4) 0 0 $offset-x;

            .way-nail {
                position: absolute;
                width: px2em(10);
                height: px2em(26);
                z-index: 1;
                margin-left: -($way-border-weight);
                bottom: 0;
            }
        }

        .node-tree-item__content {
            margin: px2em(8) 0 0 px2em(42);
            box-sizing: border-box;

            .content {
                user-select: none;
                cursor: pointer;
                display: grid;
                grid-template-columns: auto 1fr auto;
                align-items: baseline;
                overflow: hidden;
                padding: px2em(4);
                align-items: center;

                /*&.has-scenario {
                    border-radius: 4px 4px 0 0;
                }*/

                .content__ctrls {
                    display: flex;
                    align-items: center;
                }

                .content__checkbox-active {
                    padding-left: px2em(12);
                    padding-right: px2em(20);
                }

                .content__name {
                    padding: px2em(12);
                    border-radius: 3px;
                    margin: auto 0;
                    display: flex;
                    align-items: center;
                }

                .content__thumbnail {
                    image-rendering: pixelated;
                    width: px2em(32);
                    height: px2em(32);
                    margin-top: -px2em(12);
                    margin-left: -px2em(12);
                    margin-bottom: -px2em(12);
                    margin-right: px2em(12);
                }

                .content__text {
                    text-overflow: ellipsis;
                    word-break: keep-all;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            .entity-menu-button {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .button-create {
            margin-left: -(px2em(20));
            margin-top: px2em(18);
            margin-bottom: px2em(18);
            padding: 0;
            min-width: px2em(38);
            width: 2.375em;
            height: 2.375em;
            display: flex;
            align-items: center;
            justify-content: center;

            mat-icon {
                height: 1em;
                font-size: 1.5em;
            }
        }
    }
}

$border-primary: $way-border-weight dotted $primary;

.primary {
    .node-tree-item {
        .node-item-way-hider {
            background: $primary-800;
        }

        .node-tree-item-joint {
            border-bottom: $border-primary;
        }

        .node-tree-item-wrapper {
            .node-tree-item-way {
                border-left: $border-primary;

                .way-nail {
                    background: $primary-800;
                }
            }

            .node-tree-item__content {
                .content {
                    color: #000000;
                    background: #ffffff;
                    border: 1px solid rgba($primary, 0.3);

                    .content__name {
                        background: rgba($primary, 0.1);

                        &.active {
                            background: rgb(66, 176, 240);
                        }

                        &:hover {
                            background: $accent;
                            color: white;
                        }
                    }

                    &.wrong {
                        background: $warn;

                        .content__name {
                            background: rgba(0, 0, 0, 0.1);

                            &.hover {
                                background: $warn-100;
                            }
                        }
                    }

                    &.lock {
                        background: $instance-node-color;

                        .content__name {
                            background: transparent;

                            &.active {
                                background: transparent;
                            }

                            &:hover {
                                background: transparent;
                            }
                        }
                    }

                    &.is-instance {
                        background: $instance-node-color;
                    }

                    &.disabled {
                        opacity: 0.5;
                    }
                }

                .entity-menu-button {
                    color: $primary-700;
                }
            }
        }
    }

    .node-tree-item {
        .node-tree-item-wrapper {
            .node-tree-item__content {
                .content {
                    &.is-instance {
                        background: $instance-node-color;
                    }
                }
            }
        }
    }
}

$border-primary: $way-border-weight dotted $primary;

.secondary {
    .node-tree-item {
        .node-item-way-hider {
            background: #ffffff;
        }
        .node-tree-item-joint {
            border-bottom: $border-primary;
        }

        .node-tree-item-wrapper {
            .node-tree-item-way {
                border-left: $border-primary;

                .way-nail {
                    background: #ffffff;
                }
            }

            .node-tree-item__content {
                .content {
                    color: #000000;
                    background: #ffffff;
                    border: 1px solid rgba($primary, 0.75);

                    .content__name {
                        background: rgba($primary, 0.1);

                        &.active {
                            background: rgb(66, 176, 240);
                        }

                        &:hover {
                            background: $accent;
                        }
                    }

                    &.wrong {
                        background: $warn;

                        .content__name {
                            background: rgba(0, 0, 0, 0.1);

                            &.hover {
                                background: $warn-100;
                            }
                        }
                    }

                    &.lock {
                        background: $instance-node-color;

                        .content__name {
                            background: transparent;

                            &.active {
                                background: transparent;
                            }

                            &:hover {
                                background: transparent;
                            }
                        }
                    }

                    &.is-instance {
                        background: $instance-node-color;
                    }

                    &.disabled {
                        opacity: 0.5;
                    }
                }

                .entity-menu-button {
                    color: $primary-700;
                }
            }
        }
    }

    .node-tree-item {
        .node-tree-item-wrapper {
            .node-tree-item__content {
                .content {
                    &.is-instance {
                        background: $instance-node-color;
                    }
                }
            }
        }
    }
}
