$price-size: px2em(190);

.prices {
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    gap: px2em(10);
    grid-template-columns: repeat(auto-fill, minmax($price-size, 1fr));

    .price__item {
        display: grid;
        grid-template-columns: 1fr auto;
        max-width: px2em(500);
        /*padding: px2em(24) px2em(24) 0 px2em(24);
        background: rgba($block-color, 0.1);*/

        .item__controls {
            &.disabled {
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }

    .button-create {
        height: px2em(216);
    }
}
