/* W3C standard
   Scrollbar for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,1);
}

/* Scrollbar for Chrome/Edge/Safari */
*::-webkit-scrollbar {
    position: absolute;
    height: 4px;
    width: 4px;
}
*::-webkit-scrollbar-track {
    background: #d8dcdf;//rgba(204,204,204,0.05);
}
*::-webkit-scrollbar-thumb {
    background-color: #97a1a5;//#c9d0d3;//#ffa000;
    border-radius: 0px;
    border: 0px;
}