// @import "../themes/theme";
@import "../utils/px2em";
@import "../abstracts/vars";

.state-panel {
    background-color: $state-panel-background-color;
    border-top: 1px solid rgba(255,255,255,0.07);

    &__container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin: 0;
    }

    &__info {
        font-size: $state-panel-info-font-size;
        word-wrap: none;

        &__version {
            color: $state-panel-info-version-color;
            text-transform: uppercase;
        }

        &__date {
            color: $state-panel-info-date-color;
        }
    }

    .spacer {
        margin: auto;
    }
}
// desktop
@media screen and (min-width: $sm) {
    .state-panel {
        height: $state-panel-height-desktop;
        margin-bottom: $state-panel-margin-bottom-desktop;

        &__container {
            padding: $state-panel-container-padding-desktop;
        }
    }
}
// mobile (xs)
@media screen and (max-width: $sm) {
    .state-panel {
        height: $state-panel-height-xs;

        &__container {
            padding: $state-panel-container-padding-xs;
            margin-bottom: $state-panel-margin-bottom-xs;
        }
    }
}