.admin__toolbar {
    @include themify($themes) {
        background: themed("adminToolbarBackgroundColor");

        &__logo-section {
            background: themed("adminToolbarLogoSectionBackgroundColor");
        }
    }

    &__navigation-section {
        @include themify($themes) {
            border-left-color: themed("adminViewBorderColor") !important;
            border-bottom-color: themed("adminToolbarBorderBottomColor") !important;
        }
    }
}
