// lg
@include respond-above(lg) {

    .admin__toolbar {

        .navigation-menu__toggle-button {
            display: none;
        }

        .admin__logo {
            display: block;
        }

        &.rolled-up {

            .admin__toolbar__logo-section {

                .admin__toolbar__logo-section__container {
                    padding-left: 0px;
                }
            }

            .admin__logo {
                // display: none;
            }
        }
    }
}

// md
@include respond-below(lg) {
    
    .admin__toolbar {

        .navigation-menu__toggle-button {
            display: block;
        }

        .admin__logo {
            display: none;
        }
    }
}

// md (hide right-group)
@include respond-below(md) {
    
    .admin__toolbar {

        &__navigation-section {

            &__right-group {
                display: none;
            }
        }
    }
}