@import "../../abstracts/vars";
@import "../../mixins";

// lg
@include respond-above(lg) {

    .admin__toolbar {
        //

        .navigation-menu__toggle-button {
            display: none;
        }
    }

    .admin__logo {
        display: block;
    }
}

// md
@include respond-below(lg) {
    
    .admin__toolbar {
        //

        .navigation-menu__toggle-button {
            display: block;
        }
    }

    .admin__logo {
        display: none;
    }
}