<div class="admin__footer">
    <div class="admin__footer-container">
        <div class="admin__footer-content">
            <!-- Copyright Section -->
            <div class="admin__footer-section-content">
                <div class="admin__footer-section-content-group">
                    <span class="admin__footer__link">
                        <a href="#">Документация</a>
                    </span>
                </div>
            </div>
            <!-- Copyright Section -->
            <div class="admin__footer-section-copyright">
                <div class="admin__footer-section-copyright-group">
                    <p>Quick Choice. Все права защищены, 2022</p>
                </div>
                <div class="admin__footer-section-copyright-group">
                    <a href="">Пользовательское соглашение</a>
                    <a href="">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>
</div>