<div class="admin__footer">
    <div class="admin__footer-container">
        <div class="admin__footer-content">
            <!-- Copyright Section -->
            <div class="admin__footer-section-links">
                <div class="admin__footer-section-links-group">
                    <span class="admin__footer__link">
                        <a href="#">Документация</a>
                    </span>
                </div>
            </div>
            <!-- Copyright Section -->
            <div class="admin__footer-section-copyright">
                <div class="admin__footer-section-copyright-group">
                    <p>Quick Choice</p>
                    <p>Все права защищены, 2022</p>
                </div>
            </div>
        </div>
    </div>
</div>