<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form__input-block">
        <div class="form-item">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Код валюты</mat-label>
                <input matInput type="text" [formControl]="ctrlCode" placeholder="Код валюты" required>
                <mat-error *ngIf="ctrlCode.hasError('required')">
                    <strong>обязательное</strong>
                </mat-error>
            </mat-form-field>
        </div>
        
        <div class="form-item">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Имя валюты</mat-label>
                <input matInput type="text" [formControl]="ctrlName" placeholder="Имя валюты" required>
                <mat-error *ngIf="ctrlName.hasError('required')">
                    <strong>обязательное</strong>
                </mat-error>
            </mat-form-field>
        </div>
        
        <div class="form-item">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Символ валюты</mat-label>
                <input matInput type="text" [formControl]="ctrlSymbol" placeholder="Символ валюты" required>
                <mat-error *ngIf="ctrlSymbol.hasError('required')">
                    <strong>обязательное</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="form__submit" align="end">
        <button mat-button class="button button__text" (click)="onCancel()">Отменить</button>
        <button mat-flat-button color="accent" type="submit" class="button button__text"
            [disabled]="!form.valid">{{isEditMode ? 'Сохранить' : 'Создать'}}</button>
    </div>
</form>