@import "../../../styles/utils/px2em";

$marging: (-(px2em(60)));

@media screen and (min-width: 600px) {
    .entity-options-editor {
        .hierarchy-editor {
            margin: 0 $marging 0 $marging;
        }
    }
}

@media screen and (max-width: 599px) {
    .entity-options-editor {
        .hierarchy-editor {
            margin: 0 $marging 0 $marging;
        }
    }
}
