<ta-query-progress class="query-progress-container" [process]="isProcessMainOptions$ | async">
    <div class="entity-options-editor">
        <div class="form">
            <div class="form-header">
                <h2>Main options</h2>
            </div>

            <ta-query-progress class="query-progress-container" style="position: relative;"
                [process]="isProcessMainOptions$ | async">
                <ta-product-creator-form [isEditMode]="isEditMode" [product]="product$ | async"
                    [tagList]="tags$ | async" (save)="onMainOptionsSave($event)" (cancel)="onMainOptionsCancel()"></ta-product-creator-form>
            </ta-query-progress>
        </div>
        
        <div class="form" *ngIf="isEditMode">
            <div class="form-header">
                <h2>Assets</h2>
            </div>

            <ta-query-progress class="query-progress-container" style="position: relative;"
                [process]="isProcessAssets$ | async">
                <ta-assets-uploader [collection]="assets$ | async" (upload)="onAssetUpload($event)"
                    (remove)="onAssetRemove($event)"></ta-assets-uploader>
            </ta-query-progress>
        </div>

        <div class="form" *ngIf="isEditMode">
            <div class="form-header">
                <h2>Hierarchy</h2>
                <div>
                    In this block, the composition of the product is formed and a structure of behavior scenarios is
                    created.
                </div>
            </div>

            <ta-query-progress class="query-progress-container" style="position: relative;"
                [process]="isProcessHierarchy$ | async">
                <div class="hierarchy-editor secondary">
                    <ta-node-tree searchFieldClass="primary" [hasShowRefInfo]="false" [rootNodeId]="rootNodeId$ | async"
                        [nodes]="nodes$ | async" [products]="products$ | async" [selectors]="selectors$ | async"
                        (create)="onCreateHierarchyNode($event)" (update)="onUpdateHierarchyNode($event)"
                        (delete)="onDeleteHierarchyNode($event)" mode="product">
                    </ta-node-tree>
                </div>
            </ta-query-progress>
        </div>
    </div>
</ta-query-progress>