<form class="form" [formGroup]="form" autocomplete="off">
    <div class="form__input-block">
        <ng-container *ngIf="actualTypes.length > 0; else noScriptsAvailable">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Действие</mat-label>
                    <mat-select [formControl]="ctrlAction" required>
                        <mat-option *ngFor="let type of actualTypes" [value]="type">{{getTypeName(type)}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlAction.hasError('required')">
                        <strong>обязательное</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>
        <ng-template #noScriptsAvailable>
            Нет доступных сценариев.
        </ng-template>

        <ng-container *ngIf="ctrlAction.value === ScenarioCommonActionTypes.VISIBLE_BY_BUSINESS_PERIOD">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Бизнесс-периоды</mat-label>
                    <mat-select [formControl]="ctrlValue" multiple required>
                        <mat-option *ngFor="let bp of businessPeriods" [value]="bp.id">{{getBusinessPeriodName(bp)}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>обзательное</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioProgrammActionTypes.EXPRESSION">
            <div class="form-item">
                <ta-expression-editor></ta-expression-editor>
                <!--<mat-form-field class="full-width" appearance="outline">
                    <mat-label>Business periods</mat-label>
                    <mat-select [formControl]="ctrlValue" multiple>
                        <mat-option *ngFor="let bp of businessPeriods" [value]="bp.id">{{getBusinessPeriodName(bp)}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>-->
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioIntroActionTypes.DURATION">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Продолжительность</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue" placeholder="Продолжительность" required>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>обязательное</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioProductActionTypes.UP_LIMIT">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Верхний предел</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue" placeholder="Верхний предел" required>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>обязательное</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioProductActionTypes.DOWN_LIMIT">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Нижний предел</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue" placeholder="Нижний предел" required>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>обязательное</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioProductActionTypes.ADDITIONAL_PRICE">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Валюта</mat-label>
                    <mat-select [formControl]="ctrlCurrency" required>
                        <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlCurrency.hasError('required')">
                        <strong>обязательное</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Добавочная стоимость</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue" placeholder="Добавочная стоимость" required>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>обязательное</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioProductActionTypes.FIXED_PRICE">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Валюта</mat-label>
                    <mat-select [formControl]="ctrlCurrency" required>
                        <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlCurrency.hasError('required')">
                        <strong>обязательное</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Фиксированная цена</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue" placeholder="Фиксированная цена" required>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>обязательное</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioProgrammActionTypes.SWITCH">
            <!--<div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Condition</mat-label>
                    <mat-select [formControl]="ctrlCurrency">
                        <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlCurrency.hasError('required')">
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Fixed price</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue" placeholder="Fixed price">
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>-->
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioCommonActionTypes.VISIBLE_BY_STORE">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Доступно в магазинах</mat-label>
                    <mat-select [formControl]="ctrlValue" multiple required>
                        <mat-option *ngFor="let store of stores" [value]="store.id">{{getStoreName(store)}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>обязательное</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioSelectorActionTypes.MAX_USAGE">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Максимальное количество</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue" placeholder="Максимальное количество"
                        required>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>обязательное</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioSelectorActionTypes.MIN_USAGE">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Минимальное количество</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue" placeholder="Минимальное количество"
                        required>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>обязательное</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>
    </div>
</form>