<form [formGroup]="form" autocomplete="off">
    <div class="form__input-block">
        <div class="form-item">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Action</mat-label>
                <mat-select [formControl]="ctrlAction">
                    <mat-option *ngFor="let type of types" [value]="type">{{getTypeName(type)}}</mat-option>
                </mat-select>
                <mat-error *ngIf="ctrlValue.hasError('required')">
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <ng-container *ngIf="ctrlAction.value === ScenarioCommonActionTypes.VISIBLE_BY_BUSINESS_PERIOD">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Business periods</mat-label>
                    <mat-select [formControl]="ctrlValue" multiple>
                        <mat-option *ngFor="let bp of businessPeriods" [value]="bp.id">{{getBusinessPeriodName(bp)}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioIntroActionTypes.DURATION">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Duration</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue" placeholder="Duration">
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioProductActionTypes.UP_LIMIT">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Up limit</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue" placeholder="Up limit">
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioProductActionTypes.DOWN_LIMIT">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Down limit</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue" placeholder="Down limit">
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioProductActionTypes.ADDITIONAL_PRICE">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Currency</mat-label>
                    <mat-select [formControl]="ctrlCurrency">
                        <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.code}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlCurrency.hasError('required')">
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Additional price</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue" placeholder="Additional price">
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioProductActionTypes.FIXED_PRICE">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Currency</mat-label>
                    <mat-select [formControl]="ctrlCurrency">
                        <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.code}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlCurrency.hasError('required')">
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Fixed price</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue" placeholder="Fixed price">
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioProgrammActionTypes.SWITCH">
            <!--<div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Condition</mat-label>
                    <mat-select [formControl]="ctrlCurrency">
                        <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.code}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlCurrency.hasError('required')">
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Fixed price</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue" placeholder="Fixed price">
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>-->
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioSelectorActionTypes.MAX_USAGE">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Max usage</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue" placeholder="Max usage">
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>
    </div>
</form>