<form [formGroup]="form" autocomplete="off">
    <div class="form__input-block">
        <ng-container *ngIf="actualTypes.length > 0; else noScriptsAvailable">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>
                        {{localization.get("scenario_action")}}
                    </mat-label>
                    <mat-select [formControl]="ctrlAction" required>
                        <mat-option *ngFor="let type of actualTypes" [value]="type">
                            {{localization.get(getTypeName(type))}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlAction.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>
        <ng-template #noScriptsAvailable>
            {{localization.get("scenario_not-available-scenarios")}}
        </ng-template>

        <ng-container *ngIf="ctrlAction.value === ScenarioCommonActionTypes.VISIBLE_BY_STORE">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>
                        {{localization.get("scenario_available-by-stores")}}
                    </mat-label>
                    <mat-select [formControl]="ctrlValue" multiple required>
                        <mat-option *ngFor="let store of stores" [value]="store.id">{{getStoreName(store)}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioCommonActionTypes.VISIBLE_BY_BUSINESS_PERIOD">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>
                        {{localization.get("scenario_business-periods")}}
                    </mat-label>
                    <mat-select [formControl]="ctrlValue" multiple required>
                        <mat-option *ngFor="let bp of businessPeriods" [value]="bp.id">{{getBusinessPeriodName(bp)}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioCommonActionTypes.VISIBLE_BY_ORDER_TYPE">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>
                        {{localization.get("scenario_order-types")}}
                    </mat-label>
                    <mat-select [formControl]="ctrlValue" multiple required>
                        <mat-option *ngFor="let ot of orderTypes" [value]="ot.id">{{getOrderTypeName(ot)}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioProgrammActionTypes.EXPRESSION">
            <div class="form-item">
                <ta-expression-editor></ta-expression-editor>
                <!--<mat-form-field class="full-width" appearance="outline">
                    <mat-label>Business periods</mat-label>
                    <mat-select [formControl]="ctrlValue" multiple>
                        <mat-option *ngFor="let bp of businessPeriods" [value]="bp.id">{{getBusinessPeriodName(bp)}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>-->
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioIntroActionTypes.DURATION">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>localization.get("scenario_duration-ms")</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue"
                        [placeholder]="localization.get('scenario_duration-ms')" required>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioProductActionTypes.UP_LIMIT">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>
                        {{localization.get("scenario_up-limit")}}
                    </mat-label>
                    <input matInput type="number" [formControl]="ctrlValue"
                        [placeholder]="localization.get('scenario_up-limit')" required>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioProductActionTypes.DOWN_LIMIT">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>
                        {{localization.get("scenario_down-limit")}}
                    </mat-label>
                    <input matInput type="number" [formControl]="ctrlValue"
                        [placeholder]="localization.get('scenario_down-limit')" required>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioPriceActionTypes.PRICE">
            <div class="form-item" *ngIf="!ctrlIsPercentage.value" style="margin-bottom: 12px;">
                <mat-checkbox color="primary" [formControl]="ctrlIsStatic">
                    {{localization.get("scenario_fixed-price")}}
                </mat-checkbox>
            </div>

            <div class="form-item" style="margin-bottom: 12px;">
                <mat-checkbox *ngIf="!ctrlIsStatic.value" color="primary" [formControl]="ctrlIsPercentage">
                    {{localization.get("scenario_percentage-extra-charge-or-discount")}}
                </mat-checkbox>
            </div>

            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>
                        {{localization.get("scenario_extra-charge-or-discount")}}
                    </mat-label>
                    <input matInput type="number" [formControl]="ctrlValue"
                        [placeholder]="localization.get('scenario_extra-charge-or-discount')" required>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioPriceActionTypes.PRICE_BY_BUSINESS_PERIOD">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>
                        {{localization.get("scenario_business-periods")}}
                    </mat-label>
                    <mat-select [formControl]="ctrlEntities" multiple required>
                        <mat-option *ngFor="let bp of businessPeriods" [value]="bp.id">{{getBusinessPeriodName(bp)}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlEntities.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-item" *ngIf="!ctrlIsPercentage.value" style="margin-bottom: 12px;">
                <mat-checkbox color="primary" [formControl]="ctrlIsStatic">
                    {{localization.get("scenario_fixed-price")}}
                </mat-checkbox>
            </div>

            <div class="form-item" style="margin-bottom: 12px;">
                <mat-checkbox *ngIf="!ctrlIsStatic.value" color="primary" [formControl]="ctrlIsPercentage">
                    {{localization.get("scenario_percentage-extra-charge-or-discount")}}
                </mat-checkbox>
            </div>

            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>
                        {{localization.get("scenario_extra-charge-or-discount")}}
                    </mat-label>
                    <input matInput type="number" [formControl]="ctrlValue"
                        [placeholder]="localization.get('scenario_extra-charge-or-discount')" required>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioPriceActionTypes.PRICE_BY_ORDER_TYPE">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>{{localization.get("scenario_order-types")}}</mat-label>
                    <mat-select [formControl]="ctrlEntities" multiple required>
                        <mat-option *ngFor="let ot of orderTypes" [value]="ot.id">{{getOrderTypeName(ot)}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlEntities.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-item" *ngIf="!ctrlIsPercentage.value" style="margin-bottom: 12px;">
                <mat-checkbox color="primary" [formControl]="ctrlIsStatic">
                    {{localization.get("scenario_fixed-price")}}
                </mat-checkbox>
            </div>

            <div class="form-item" style="margin-bottom: 12px;">
                <mat-checkbox *ngIf="!ctrlIsStatic.value" color="primary" [formControl]="ctrlIsPercentage">
                    {{localization.get("scenario_percentage-extra-charge-or-discount")}}
                </mat-checkbox>
            </div>

            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>
                        {{localization.get("scenario_extra-charge-or-discount")}}
                    </mat-label>
                    <input matInput type="number" [formControl]="ctrlValue"
                        [placeholder]="localization.get('scenario_extra-charge-or-discount')" required>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioPriceActionTypes.PRICE_BY_STORE">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>{{localization.get("scenario_stores")}}</mat-label>
                    <mat-select [formControl]="ctrlEntities" multiple required>
                        <mat-option *ngFor="let s of stores" [value]="s.id">{{s.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlEntities.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-item" *ngIf="!ctrlIsPercentage.value" style="margin-bottom: 12px;">
                <mat-checkbox color="primary" [formControl]="ctrlIsStatic">
                    {{localization.get("scenario_fixed-price")}}
                </mat-checkbox>
            </div>

            <div class="form-item" style="margin-bottom: 12px;">
                <mat-checkbox *ngIf="!ctrlIsStatic.value" color="primary" [formControl]="ctrlIsPercentage">
                    {{localization.get("scenario_percentage-extra-charge-or-discount")}}
                </mat-checkbox>
            </div>

            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>
                        {{localization.get("scenario_extra-charge-or-discount")}}
                    </mat-label>
                    <input matInput type="number" [formControl]="ctrlValue"
                        [placeholder]="localization.get('scenario_extra-charge-or-discount')" required>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioProgrammActionTypes.SWITCH">
            <!--<div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Condition</mat-label>
                    <mat-select [formControl]="ctrlCurrency">
                        <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="ctrlCurrency.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Fixed price</mat-label>
                    <input matInput type="number" [formControl]="ctrlValue" placeholder="Fixed price">
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>-->
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioSelectorActionTypes.MAX_USAGE">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>
                        {{localization.get("scenario_minimum-quantity")}}
                    </mat-label>
                    <input matInput type="number" [formControl]="ctrlValue"
                        [placeholder]="localization.get('scenario_maximum-quantity')" required>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="ctrlAction.value === ScenarioSelectorActionTypes.MIN_USAGE">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>
                        {{localization.get("scenario_minimum-quantity")}}
                    </mat-label>
                    <input matInput type="number" [formControl]="ctrlValue"
                        [placeholder]="localization.get('scenario_minimum-quantity')" required>
                    <mat-error *ngIf="ctrlValue.hasError('required')">
                        <strong>
                            {{localization.get("common_ctrl_required")}}
                        </strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>
    </div>
</form>