@import "../../../utils/px2em";
@import "../../../abstracts/vars";
@import "../../../mixins";

.editor {

    .entities-container {

        //Card template
        &.entities-card-layout {
            
            .entity {

                &__body {
                    height: $entity-body-height;

                    &__gradient {
                        display: block;
                    }
                }

                &__thumbnail {
                    height: $entities-thumbnail-card-size;
                    border-radius: 12px;
                }
            }
        }

        //List template
        &.entities-list-layout {
            
            .entity {

                &__body {

                    &__gradient {
                        display: none;
                    }
                    
                }

                &__thumbnail {
                    height: $entities-thumbnail-list-size;
                    border-radius: 3px;
                }
            }
        }
    }
}