@import "../../../utils/px2em";
@import "../../../abstracts/vars";
@import "../../../mixins";

.editor {

    .entities-container {

        //Card template
        &.entities-card-layout {
            
            .entity {

                &__body {
                    height: $entity-body-height;

                    &__gradient {
                        display: block;
                    }
                }

                &__image {
                    @include box($entity-image-cards-size);

                    &__thumbnail {
                        @include box($entity-image-cards-size);
                        // border-radius: 12px;
                    }
                }
            }
        }

        //List template
        &.entities-list-layout {
            
            .entity {

                &__body {

                    &__gradient {
                        display: none;
                    }
                    
                }

                &__image {
                    @include box($entity-image-list-size);

                    &__thumbnail {
                        @include box($entity-image-list-size);
                        // border-radius: 3px;
                    }
                }
            }
        }
    }
}