// @import "../../../abstracts/vars";
// @import "../../../mixins";

.entity {
    &__image {
        &.auto-size {
            @include box(auto);

            .entity__image__thumbnail {
                @include box(auto);
            }
        }

        .entity__image__thumbnail {
                width: auto;
                object-fit: cover;
        }
    }

    &.entity-xl {
        &__image {
            .entity__image__thumbnail {
                height: 100px;
            }
        }
    }

    &.entity-m {
        &__image {
            .entity__image__thumbnail {
                height: 70px;
            }
        }
    }

    &.is-default {
        border-color: $accent-color;
    }
}
