@import "../../../utils/px2em";
@import "../../../abstracts/vars";
@import "../../../mixins";

// .app-container {
    
// }

/*
 * Themes
 */

.editor {

    .entity {
        @include themify($themes) {
            // color: themed('textColor');
            background-color: themed('entityBackgroundColor');  
        }
        &__name {
            @include themify($themes) {
                color: themed('entityTitleColor');
            }
        }

        &__description {
            @include themify($themes) {
                color: themed('entityDescriptionColor');
            }
        }

        &__action-menu__button {
            @include themify($themes) {
                color: themed('entityActionMenuButtonColor');
            }
        }
    }
}