<div class="editor">
    <ta-state-panel searchFieldClass="color-accent" [refInfo]="refInfo" (search)="onSearch($event)"></ta-state-panel>
    <div class="entities-wrapper">
        <div class="entity" *ngFor="let application of collection | search: searchPattern">
            <div class="entity-ctrls">
                <button mat-icon-button [matMenuTriggerFor]="menu" class="entity-menu-button" aria-label="Menu">
                    <mat-icon class="icon">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onEdit(application)">
                        <mat-icon>edit</mat-icon>
                        <span>Редактировать</span>
                    </button>
                    <button mat-menu-item (click)="onDelete(application)">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Удалить</span>
                    </button>
                </mat-menu>
            </div>
            <div matRipple class="entity-active-zone" (click)="onEdit(application)">
                <div class="content">
                    <div class="content__name">
                        {{application.name}}
                    </div>
                    <div class="content__description">
                        {{application.version.version}}
                    </div>
                </div>
            </div>
        </div>
        <button color="accent" mat-raised-button class="button-add" (click)="onCreate()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>