@import "src/styles/abstracts/vars";
@import "src/styles/themes";
@import "src/styles/components/query-progress";

.spacer {
    flex: 1 1 auto;
}

//Button

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    color: white;
    border-radius: $button-corner-radius;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    border-radius: $button-corner-radius;
}

//My Form

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(0,0,0,0.1);
    // background-color: rgba(0,0,0,0.03);
    border-radius: $form-field-radius;
}

// .mat-form-field.mat-focused {
//     color: rgba(0,0,0,1);
// }

.mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: $form-field-radius 0px 0px $form-field-radius;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 $form-field-radius $form-field-radius 0;
}

// .form {
//     .mat-form-field-appearance-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-end {
//     border: 2px solid currentColor;
//     }
// }

.form {
    background-color: white;
    padding: ($padding * 2);

    .form-item {
        margin-bottom: $padding / 2;
    }

    .form-item__helpers {
        padding: 0 $padding / 2;
        font-size: 0.75rem;
        line-height: 0.85rem;
    }

    .form__link {
        // color: $accent-800;
        color: #3278d2;
        font-weight: 500;
    }

    // button {
    //     border-radius: 8px;
    //     // background-color: rgb(87 114 127 / 24%);
    // }
}

.full-width {
    width: 100%;
}

.form__input-block {
    margin-bottom: $padding / 2;
}

.form__params-block {
    margin-bottom: $padding / 2;
    display: flex;
    flex-direction: column;
}

// .mat-form-field-empty.mat-form-field-label, .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
//     color: #b9b9b9;
//     font-size: 13px;
// }

.main-wrapper {
    height: 100vh;

    .form__wrapper {
        position: relative;
        margin: auto;

        .form__container {
            position: relative;
            display: grid;
            grid-template-rows: auto 1fr;
            margin: auto;
            height: 100%;

            .form__header {
                padding: $padding * 1.75 $padding * 2;
                background-color: $primary-700;
                color: white;
                display: flex;
                justify-content: space-between;
                letter-spacing: 0.2px;

                .form__header__content {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    width: 100%;

                    .form__link {
                        color: $accent;
                        font-size: 14px;
                        font-weight: 400;
                    }

                    p {
                        line-height: 1.4;
                        margin: 0;
                    }

                    .form__header__title {
                        // text-transform: uppercase;
                        font-size: 20px;
                        font-weight: 500;
                        &.m0 {
                            margin: 0;
                        }
                    }

                    .form__header__message {
                        min-width: 50px;
                    }

                    .form__header__description {
                        font-size: 12px;
                        margin-right: 6px;
                        color: rgba(255,255,255,0.40);
                    }
                }
            }

            .form__body {
                overflow: auto;

                // .form__field {

                //     mat-label {
                //         // color: #000;

                //         .mat-form-field-label {
                //             color: #000;
                //         }
                //     }
                // }

                .form__checkbox {
                    color: #939b9e;
                }

                .form__params {
                    padding-top: 5px;

                    .form__params-block {
                        padding-top: 25px;
                        padding-bottom: 15px;
                    //.form__divider {

                    //}

                    }
                }

                .form__link {
                    font-weight: 400;
                }

                .form__submit {
                    margin-bottom: 5px;
                }
                
                // Padding between form fields
                .mat-form-field-wrapper {
                    margin: .15em 0;
                }

                // .form-item {

                //     .form__field {

                //         label {
                //             color: #b9b9b9;
                //             font-size: 13px;
                //         }
                //     }
                // }

                // .mat-form-field-label-wrapper {
                //     label.mat-form-field-label {
                //         color: #b9b9b9;
                //         font-size: 13px;
                //     }
                // }

            }

        }
    }
}

@media screen and (min-width: 600px) {
    .main-wrapper {
        /*background-image: url('~/embeded-assets/img/backgrounds/auth.jpg');*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        background-color: $primary;
        // background-color: #f4f7f8;

        .form__wrapper {
            max-width: 25%;
            min-width: 420px;
            max-height: 90%;
            box-shadow: 0px 0px 36px rgba(0,0,0,0.15);
            border-radius: 16px;
            overflow: hidden;

            // .form__header {

            // }

            // .form__body {

            // }

        }

        .form {

            .form__submit {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

@media screen and (max-width: 599px) {
    .main-wrapper {
        display: block;

        .form__wrapper {
            width: 100%;
            height: 100%;
        }

        .form {

            .form__submit {
                display: flex;
                justify-items: stretch;

                .mat-flat-button {
                    width: 100%;
                }
            }
        }
    }
}
