@import "../themes/theme";
@import "../utils/px2em";

$gap: px2em(10);
$entity-size: px2em(140);
$entity-button-menu-size: px2em(32);

@mixin button() {
    display: flex;
    justify-content: center;
    width: 100%;
    height: $entity-size;
    border-radius: 4px;
}

.editor {
    color: $primary-700;

    .entities-wrapper {
        display: grid;
        gap: $gap;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        grid-auto-flow: dense;
        grid-auto-rows: auto;
        padding: px2em(20);
    }

    .entity {
        position: relative;

        .entity-active-zone {
            @include button();
            color: $primary-700;
            background: $background-color;
            box-sizing: border-box;
        }

        .content {
            font-size: 0.8rem;
            line-height: 1.2;
            overflow: hidden;
            margin: 0.6rem 1.2rem 0.6rem 0.6rem;
        }

        .entity-menu-button {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: $entity-button-menu-size;
            height: $entity-button-menu-size;
            top: $gap;
            right: $gap;
            color: $primary-700;

            .icon {
                font-size: 0.8rem;
            }
        }
    }

    .button-add {
        width: 100%;
        height: $entity-size;
    }
}
