@import "../themes/theme";
@import "../utils/px2em";

$gap-m: px2em(10);
$gap-d: px2em(10);
$entity-size-m: px2em(140);
$entity-size-d: px2em(190);
$entity-button-menu-size-m: px2em(32);
$entity-button-menu-size-d: px2em(38);

@mixin button() {
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-radius: 4px;
}

.editor {
    color: #ffffff;

    .entities-wrapper {
        display: grid;
        grid-auto-flow: dense;
        grid-auto-rows: auto;
    }
    .entity {
        position: relative;

        .entity-active-zone {
            @include button();
            color: $primary-700;
            background: $background-color;
            box-sizing: border-box;
        }

        .content {
            overflow: hidden;
        }

        .entity-menu-button {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            right: 0;
            color: $primary-700;
        }
    }

    .button-add {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .editor {
        .entities-wrapper {
            gap: $gap-d;
            grid-template-columns: repeat(auto-fill, minmax($entity-size-d, 1fr));
            padding: 0 px2em(36) px2em(36);
        }

        .entity {
            .entity-active-zone {
                height: $entity-size-d;
            }

            .content {
                font-size: 0.9rem;
                line-height: 1.2;
                margin: 1.2rem 1.8rem 0rem 1.2rem;
            }

            .entity-menu-button {
                width: $entity-button-menu-size-d;
                height: $entity-button-menu-size-d;

                .icon {
                    font-size: 1.2rem;
                }
            }
        }

        .button-add {
            height: $entity-size-d;
        }
    }
}

@media screen and (max-width: 599px) {
    .editor {
        .entities-wrapper {
            gap: $gap-m;
            grid-template-columns: repeat(auto-fill, minmax($entity-size-m, 1fr));
            padding: 0 px2em(20) px2em(20);
        }

        .entity {
            .entity-active-zone {
                height: $entity-size-m;
            }

            .content {
                font-size: 0.73rem;
                line-height: 1.2;
                margin: 0.9rem 1.3rem 0.3rem 0.9rem;
            }

            .entity-menu-button {
                width: $entity-button-menu-size-m;
                height: $entity-button-menu-size-m;

                .icon {
                    font-size: 0.8rem;
                }
            }
        }

        .button-add {
            height: $entity-size-m;
        }
    }
}
