.button-add {
    @extend .button-base;
    transform: scale(1.0);
    opacity: 1.0;
    @include transition(transform opacity, $button-interaction-duration, ease);

    //Interactions
    &:hover, &:focus {
        opacity: $button-focus-opacity;
    }

    &:active {
        transform: scale($button-active-scale);
    }
}