<h2 mat-dialog-title><strong>{{data.title}}</strong></h2>
<mat-dialog-content class="mat-typography">
    <ta-select-content-form [rights]="data.rights" [selectedDefaultEntityId]="data.selectedDefaultEntityId"
        [defaultCollection]="data.defaultCollection" [nodes]="data.nodes" [products]="data.products"
        [selectors]="data.selectors" [schemaSelectors]="data.schemaSelectors"
        [selectorsDictionary]="data.selectorsDictionary" [assetsDictionary]="data.assetsDictionary"
        (change)="onChange($event)">
    </ta-select-content-form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button color="accent" mat-flat-button [mat-dialog-close]="content" [disabled]="!content">Pick</button>
    <!-- cdkFocusInitial-->
</mat-dialog-actions>