<h2 mat-dialog-title><strong>{{localization.get(data.title)}}</strong></h2>
<mat-dialog-content class="mat-typography">
  <ta-select-content-form [selectedDefaultEntityId]="data.selectedDefaultEntityId" [multi]="data.multi || false"
    [defaultCollection]="data.defaultCollection" [nodes]="data.nodes" [groupModifiersNodes]="data.groupModifiersNodes"
    [groupMenuNodes]="data.groupMenuNodes" [products]="data.products" [selectors]="data.selectors"
    [schemaSelectors]="data.schemaSelectors" [depth]="data.depth" [mode]="data.mode"
    [selectorsDictionary]="data.selectorsDictionary" [assetsDictionary]="data.assetsDictionary"
    [languages]="data.languages" [defaultLanguage]="data.defaultLanguage" (change)="onChange($event)">
  </ta-select-content-form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    {{localization.get("common_action-cancel")}}
  </button>
  <button color="accent" mat-flat-button [mat-dialog-close]="content" [disabled]="!content">
    {{localization.get("common_action-select")}}
  </button>
  <!-- cdkFocusInitial-->
</mat-dialog-actions>