.entity__control__checkbox {

    .mat-checkbox-frame {
        border-radius: $entity-checkbox-border-radius;
    }

    .mat-checkbox-background {
        border-radius: $entity-checkbox-border-radius;
        overflow: hidden;
    }
}

//My

.checkbox {

    &__container {
        display: flex;
        position: relative;
        cursor: pointer;
        font-size: 22px; //Versions
        height: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkmark {
            display: flex;
            box-sizing: border-box;
            position: relative;
            top: 0;
            left: 0;
            @include box(20px); //Versions
            // background-color: #eee; //?
            border-radius: 4px;
            border-style: solid;
            // border-color: $primary-color;//Theme
            justify-content: center;
            align-items: center;
        }

        input:checked ~ .checkmark { //Checked
            // @extend .icon-checkbox-check;
            // border-color: $accent-color;
            // background-color: $accent-color;

            &::before {
                content: "\e920";
                font-family: icomoon;
                font-size: 16px; //Versions
                color: $white;

            }
        }

        &:hover { //Hover

            .checkmark {
                // background-color: #ccc;// ?
            }
        }
    }

}