.drag-drop-box {
    .content {
        // border-color: initial;
        @include themify($themes) {
            background-color: themed("nodeTreeWayHiderBackgroundColor"); //app-root theme
        }
    }
}

// Is Dragged
.cdk-drag-preview {
    .content {
        @include themify($themes) {
            background-color: themed("nodeTreeItemBackgroundColorDragged") !important;
            border-color: themed("nodeTreeBorderColorDragged") !important;
        }

        &__ctrls {
            @include themify($themes) {
                border-right-color: themed("nodeTreeItemDividerBorderColorDragged") !important;
                color: themed("nodeTreeItemTextColorDragged") !important;
            }
        }
        &__text {
            @include themify($themes) {
                color: themed("nodeTreeItemTitleColorDragged") !important;
            }
        }
        &__context-menu-button {
            @include themify($themes) {
                color: themed("nodeTreeItemTextColorDragged") !important;
            }
        }
    }
}
        
.node-tree-item {
    .node-item-way-hider {
        // background: $primary-800;
        @include themify($themes) {
            background: themed("nodeTreeWayHiderBackgroundColor") !important;
        }
    }

    .node-tree-item-joint {
        @include themify($themes) {
            border-bottom-color: themed("nodeTreeWayBorderColor") !important;
        }
    }

    &__wrapper {
        .node-tree-item-way {
            @include themify($themes) {
                border-left-color: themed("nodeTreeWayBorderColor") !important;
            }

            .way-nail {
                // background: $primary-800;
                @include themify($themes) {
                    background: themed("nodeTreeWayBorderColor") !important;
                }
            }
        }

        .button-create {
            @include themify($themes) {
                background-color: themed("nodeTreeButtonCreateBackgroundColor") !important;
            }
        }
    }

    &__wrapper {
        .node-tree-item__content {
            .content {
                @include themify($themes) {
                    background-color: themed("nodeTreeItemBackgroundColor") !important;
                    border-color: themed("nodeTreeBorderColor") !important;
                }

                &__ctrls {
                    @include themify($themes) {
                        border-right-color: themed("nodeTreeItemDividerBorderColor") !important;
                        color: themed("nodeTreeItemTextColor") !important;
                    }
                }
                &__context-menu-button {
                    @include themify($themes) {
                        color: themed("nodeTreeItemTextColor") !important;
                    }
                }
                //Searched
                &__name.active {
                    background-color: rgba($accent-color, 0.25) !important;
                }

                &__text {
                    @include themify($themes) {
                        color: themed("nodeTreeItemTitleColor") !important;
                    }
                }
            }
        }
    }
}