// $offset-x: 64px;
// $way-border-weight: 1px;
// $way-border-color: $component-border-color;

.node-tree__editor {
    &:not(.editor) {
        padding-right: 20px;
        padding-bottom: 30px;
    }
}

.node-tree-item.root {
}

.node-tree-item.folder {
}

.node-tree-item.product {
}

// .drag-drop-box {
//     background: none;
// }

.node-tree-item {
    position: relative;

    .node__control__checkbox {
        padding: 10px;
    }

    .node-item-way-hider {
        position: absolute;
        width: 4px;
        height: calc(100% - 26px);
        bottom: -3px;
        z-index: 1;
        margin-left: -3px;
        border-left-width: 1px;
        border-left-style: none;
    }

    .node-tree-item-joint {
        position: absolute;
        display: block;
        // width: 32px; // Respond
        height: 6px;
        margin-top: 22px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    &__wrapper {
        .node-tree-item-way {
            display: none;
            // margin: 4px 0 0 $offset-x;
            border-left-width: 1px;
            border-left-style: solid;

            .way-nail {
                position: absolute;
                width: 10px;
                height: 26px;
                z-index: 1;
                margin-left: -($node-tree-way-border-weight);
                bottom: 0;
            }
        }

        .node-tree-scenario-editor {
            margin-top: -5px;
        }

        .node-tree-item__content {
            // margin: 0 0 0 42px; // Respond
            box-sizing: border-box;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.03);

            .content {
                border-width: 1px;
                border-style: solid;
            
                &:hover {
                    filter: brightness(95%);
                }

                user-select: none;
                cursor: pointer;
                display: grid;
                grid-template-columns: auto 1fr auto;
                align-items: baseline;
                overflow: hidden;
                padding: 4px;
                align-items: center;
                border-radius: $node-tree-item-border-radius;
                margin: $node-tree-item-margin-vertical 0;

                &.has-scenario {
                    border-radius: $node-tree-item-border-radius $node-tree-item-border-radius 0px 0px!important;
                    border-bottom: none;
                }

                &__ctrls {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    border-right-width: 1px;
                    border-right-style: solid;
                }

                &__checkbox-active {
                    padding-left: 10px;
                    padding-right: 20px;
                }

                &__name {
                    padding: 12px;
                    border-radius: 3px;
                    margin: auto 0;
                    margin-left: 12px;
                    display: grid;
                    grid-template-columns: auto 1fr;
                    align-items: center;
                }

                &__thumbnail {
                    image-rendering: pixelated;
                    @include box($node-tree-item-thumbnail-size);
                    margin-top: -12px;
                    margin-left: -12px;
                    margin-bottom: -12px;
                    margin-right: 12px;
                    border-radius: 3px;
                }

                &__text {
                    font-size: 16px;
                    text-overflow: ellipsis;
                    word-break: keep-all;
                    overflow: hidden;
                    white-space: nowrap;
                }

                &.wrong {
                    background: $warn;

                    .content__name {
                        background: rgba(0, 0, 0, 0.1);

                        &.hover {
                            background: $warn-100;
                        }
                    }
                }

                &.lock {
                    // background: $instance-node-color;
                    background: $white;

                    .content__name {
                        background: transparent;

                        &.active {
                            background: transparent;
                        }

                        &:hover {
                            background: transparent;
                        }
                    }
                }

                &.is-instance {
                    background: $neutral-color; //$instance-node-color;
                }

                &.disabled {
                    opacity: $node-tree-disabled-opacity;
                    filter: $node-tree-disabled-filter;
                }
            }

            .entity__action-menu__button {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .button-create {
            margin-left: -20px;
            margin-top: 18px;
            margin-bottom: 18px;
            padding: 0;
            min-width: 38px;
            width: 2.375em;
            height: 2.375em;
            display: flex;
            align-items: center;
            justify-content: center;

            mat-button-wrapper {
                display: flex;
                width: auto;
                height: auto;
            }

            mat-icon {
                font-size: 1.5em;
                color: $white;
            }
        }
    }

    //Folder
    &.folder {

        >.node-tree-item__wrapper {

            >.node-tree-item__content {

                >.content {
                    // background-color: $neutral-color;

                    .content__text {
                        // font-size: 16px;
                    }
                }
            }
        }
    }
}
