@import "../../../styles/components/entity-editor";
@import "../../../styles/utils/px2em";

$entity-height-m: px2em(100);
$entity-height-d: px2em(120);
$entity-width-m: px2em(140);
$entity-width-d: px2em(190);
$border-transpanent: 4px solid transparent;
$border-active: 2px solid $accent;

.editor {
    .entity {
        border: $border-transpanent;

        .content {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: px2em(20);
            margin: 0.5em 0.5em 1em;

            .content__name {
                margin-top: auto;
                margin-bottom: auto;
            }
        }

        &.is-default {
            border: $border-active;
            border-radius: 4px;
            padding: 3px;
        }

        .color {
            width: 100%;
            height: px2em(10);
            min-height: px2em(10);
        }
    }
}

@media screen and (min-width: 600px) {
    .editor {
        .entities-wrapper {
            grid-template-columns: repeat(auto-fill, minmax($entity-width-d, 1fr));
        }

        .entity {
            .entity-active-zone {
                height: $entity-height-d - $ctrl-panel-height;
            }
        }

        .button-add {
            height: $entity-height-d;
        }
    }
}

@media screen and (max-width: 599px) {
    .editor {
        .entities-wrapper {
            grid-template-columns: repeat(auto-fill, minmax($entity-width-m, 1fr));
        }

        .entity {
            .entity-active-zone {
                height: $entity-height-m - $ctrl-panel-height;
            }
        }

        .button-add {
            height: $entity-height-m;
        }
    }
}
