@import "../../../base/reset-button";
@import "../../../abstracts/vars";
@import "../../../mixins";

.filter {
    height: 100%;

    &__container {
        height: 100%;
        display: flex;
    }
}

.tab-button__group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    margin-left: 20px;
    align-items: center;
}

.tab-button {
    @include reset-button;
    @include box($tab-button-size);
    display: block;
    position: relative;
    border-radius: $tab-button-roundness;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transform: scale(1.0);
    opacity: 1.0;
    @include transition(transform opacity, $tab-bar-button-interaction-duration, ease);

    &__container {
        display: flex;
        margin: auto;
        height: 100%;
    }

    //Icon container
    &__icon {
        display: inline-block;
        font-family: icons;
        font-size: $tab-button-icon-size;
        margin: auto;

        //Icon
        &::before {
            // color: $tab-button-icon-color-normal;
        }
    }

    //Normal
    & {
        background-color: $tab-button-background-color-normal;
        border: $tab-button-border-normal;

        .tab-button__icon::before {
            color: $tab-button-color-normal;
        }
    }

    //Active
    &.active {
        background-color: $tab-button-background-color-active;
        border: $tab-button-border-active;

        .tab-button__icon::before {
            color: $tab-button-color-active;
        }
    }

    &:hover, &:focus {
        opacity: $tab-bar-button-focus-opacity;
    }

    &:active {
        transform: scale($tab-bar-button-active-scale);
    }
}