@import "../../../base/reset-button";
@import "../../../abstracts/vars";
@import "../../../mixins";

$tab-button-size: 32px;
$tab-button-roundness: 4px;
$tab-button-icon-size: 20px;
$tab-button-background-color-normal: rgba($primary-color, 0.0);
$tab-button-border-normal: 1px solid rgba($primary-color-300, 1.0);
$tab-button-icon-color-normal: rgba($white, 0.35);

$tab-button-background-color-active: rgba($primary-color, 1.0);
$tab-button-border-active: 1px solid rgba($accent-color, 1.0);
$tab-button-icon-color-active: rgba($accent-color, 1.0);

.filter {
    height: 100%;

    &__container {
        height: 100%;
        display: flex;
    }
}

.tab-button__group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    margin-left: 20px;
}

.tab-button {
    @include reset-button;
    @include box($tab-button-size);
    display: block;
    position: relative;
    // height: 100%;
    border-radius: $tab-button-roundness;
    overflow: hidden;

    &__container {
        display: flex;
        margin: auto;
        height: 100%;
    }

    //Icon container
    &__icon {
        display: inline-block;
        font-family: admin-icons;
        font-size: $tab-button-icon-size;
        margin: auto;

        //Icon
        &::before {
            // color: $tab-button-icon-color-normal;
        }
    }

    //Normal
    & {
        background-color: $tab-button-background-color-normal;
        border: $tab-button-border-normal;

        .tab-button__icon::before {
            color: $tab-button-icon-color-normal;
        }
    }

    //Active
    &.active {
        background-color: $tab-button-background-color-active;
        border: $tab-button-border-active;

        .tab-button__icon::before {
            color: $tab-button-icon-color-active;
        }
    }
}