@import "../../../base/reset-button";
@import "../../../abstracts/vars";
@import "../../../mixins";

/*
 * Themes
 */

.tab-button {

    //Normal
    & {
        @include themify($themes) {
            background-color: themed('tabButtonBackgroundColorNormal');
            border-color: themed('tabButtonBorderColorNormal');
        }

        .tab-button__icon::before {
             @include themify($themes) {
                 color: themed('tabButtonColorNormal');
             }
        }
    }

    //Active
    &.active {
        @include themify($themes) {
            background-color: themed('tabButtonBackgroundColorActive');
            border-color: themed('tabButtonBorderColorActive');
        }

        .tab-button__icon::before {
            @include themify($themes) {
                 color: themed('tabButtonColorActive');
             }
        }
    }
}

//Inverse
.tab-button__group.inverse {

    //Normal
    .tab-button {

        & {
            @include themify($themes) {
                background-color: themed('tabButtonBackgroundColorNormalInverse');
                border-color: themed('tabButtonBorderColorNormalInverse');
            }

            .tab-button__icon::before {
                @include themify($themes) {
                    color: themed('tabButtonColorNormalInverse');
                }
            }
        }

        //Active
        &.active {
            @include themify($themes) {
                background-color: themed('tabButtonBackgroundColorActive');
                border-color: themed('tabButtonBorderColorActive');
            }

            .tab-button__icon::before {
                @include themify($themes) {
                    color: themed('tabButtonColorActive');
                }
            }
        }
    }
}