@import "../../../base/reset-button";

.tab-button {
    transform: scale(1.0);
    opacity: 1.0;
    @include transition(transform opacity, $tab-bar-button-interaction-duration, ease);

    &:hover, &:focus {
        opacity: $tab-bar-button-focus-opacity;
    }

    &:active {
        transform: scale($tab-bar-button-active-scale);
    }
}