<div class="scenario-editor">
    <div class="scenario-editor__content" (click)="toggleExpand()">
        <div matRipple class="content">
            <span>
                <button mat-icon-button>
                    <mat-icon>{{isExpanded ? 'expand_more' : 'chevron_right'}}</mat-icon>
                </button>
            </span>
            <span>
                Сценарии
            </span>
            <button *ngIf="!lock" mat-icon-button [matMenuTriggerFor]="menu" (click)="onShowMenu($event)"
                aria-label="Menu">
                <mat-icon class="icon">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onAdd()">
                    <mat-icon>linear_scale</mat-icon>
                    <span>Добавить сценарий</span>
                </button>
                <button mat-menu-item (click)="onDeleteAll()">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Удалить сценарий</span>
                </button>
            </mat-menu>
        </div>
        <div *ngIf="isExpanded">
            <ta-scenario-list-item *ngFor="let scenario of scenarios; let index = index;" [scenario]="scenario"
                [businessPeriods]="businessPeriods" [businessPeriodsDictionary]="businessPeriodsDictionary"
                [currencies]="currencies" [currenciesDictionary]="currenciesDictionary" [languages]="languages"
                [defaultLanguage]="defaultLanguage" [isFirstInCollection]="index === 0"
                [isLastInCollection]="index === scenarios.length - 1" [lock]="lock" (upward)="onUpward(scenario)"
                (downward)="onDownward(scenario)" (edit)="onEdit(scenario)" (update)="onUpdate($event, scenario)"
                (delete)="onDelete(scenario)">
            </ta-scenario-list-item>
        </div>
    </div>
</div>