<div class="main-wrapper">
    <div class="form__wrapper">
        <div class="form__heading">
            <span>
                <h4 class="heading__title">Reset your password</h4>
                <p>
                    Enter your new password to continue. You will be logged out of all your active sessions.
                </p>
            </span>
        </div>
        <mat-divider></mat-divider>
        <div class="query-progress-container" *queryProgress="isProcess$ | async">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form" autocomplete="off">
                <div class="form__input-block">
                    <div class="form-item">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput type="password" [formControl]="ctrlPassword">
                            <mat-error *ngIf="!ctrlPassword.hasError('required')">
                                Password must contain latin letters, numbers and capital letters
                            </mat-error>
                            <mat-error *ngIf="ctrlPassword.hasError('required')">
                                Password - <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form__params-block">
                </div>

                <div class="form__submit">
                    <button mat-flat-button color="primary" type="submit" class="button button__text"
                        [disabled]="!form.valid">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</div>