<div class="main-wrapper">
    <div class="form__wrapper">
        <div class="form__heading">
            <span>
                <h4 class="heading__title">Trouble signing in?</h4>
                <p>
                    Don't worry, we've got your back! Just enter your email address and we'll send you a link with which you can reset your password.
                </p>
            </span>
            <span>
                <a [routerLink]="['/signin']" [queryParams]="registerQueryParams" class="form__link">
                    &nbsp;Sign in
                </a>
                <span class="form__text">instead?</span>
            </span>
        </div>
        <mat-divider></mat-divider>
        <div class="query-progress-container" *queryProgress="isProcess$ | async">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form" autocomplete="off">
                <div class="form__input-block">
                    <div class="form-item">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" [formControl]="ctrlEmail" name="username" placeholder="Email">
                            <mat-error *ngIf="!ctrlEmail.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="ctrlEmail.hasError('required')">
                                Email - <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form__params-block">
                </div>

                <div class="form__submit">
                    <button mat-flat-button color="primary" type="submit" class="button button__text"
                        [disabled]="!form.valid">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</div>