<div class="main-wrapper">
    <div class="form__wrapper">
        <div class="form__heading">
            <span>
                <h4 class="heading__title">Сбросить пароль</h4>
                <p>
                    Введите новый пароль, чтобы продолжить. Вы выйдете из всех ваших активных сессий.
                </p>
            </span>
        </div>
        <mat-divider></mat-divider>
        <ta-query-progress class="query-progress-container" [process]="isProcess$ | async">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form" autocomplete="off">
                <div class="form__input-block">
                    <div class="form-item">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Новый пароль</mat-label>
                            <input matInput type="password" [formControl]="ctrlPassword" required>
                            <mat-error *ngIf="!ctrlPassword.hasError('required')">
                                Пароль должен содержать латинские буквы, цифры и заглавные буквы.
                            </mat-error>
                            <mat-error *ngIf="ctrlPassword.hasError('required')">
                                Пароль - <strong>обязательное</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form__params-block">
                </div>

                <div class="form__submit">
                    <button mat-flat-button color="accent" type="submit" class="button button__text"
                        [disabled]="!form.valid">Сбросить пароль</button>
                </div>
            </form>
        </ta-query-progress>
    </div>
</div>