<div class="editor">
    <ta-state-panel searchFieldClass="color-accent" [refInfo]="refInfo" (search)="onSearch($event)"></ta-state-panel>
    <div class="entities-wrapper">
        <div class="entity" *ngFor="let ad of collection | search:searchPattern:defaultLanguage?.code"
            [class.disabled]="!ad.active">
            <div class="entity__control">
                <div class="entity__control__checkbox">
                    <mat-checkbox color="accent" #checkboxActive [checked]="ad.active"
                        (click)="onToggleActive($event, ad)"></mat-checkbox>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="entity__action-menu__button"
                    aria-label="Menu">
                    <mat-icon class="icon">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item type="button" (click)="onToggleActive($event, ad)">
                        <mat-icon>{{ad.active ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <span>{{ad.active ? 'Деактивировать' : 'Активировать'}}</span>
                    </button>
                    <button mat-menu-item (click)="onEditAd(ad)">
                        <mat-icon>edit</mat-icon>
                        <span>Редактировать</span>
                    </button>
                    <button mat-menu-item (click)="onDeleteAd(ad)">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Удалить</span>
                    </button>
                </mat-menu>
            </div>
            <div matRipple class="entity__body" (click)="onEditAd(ad)">
                <div class="content">
                    <div>
                        <div class="content__name">
                            {{getAdName(ad)}}
                        </div>
                    </div>
                </div>
                <div class="bottom-panel">
                    <img align="center" *ngIf="hasThumbnail(ad, 'x128')" class="entity-thumbnail"
                        style="image-rendering: auto;" [src]="getThumbnail(ad, 'x128')">
                </div>
                <div class="color"></div>
            </div>
        </div>
        <button color="accent" mat-raised-button class="button-add" (click)="onCreateAd()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>