<div class="color-picker-component">
    <input class="color-picker-component__input with-reset" [(colorPicker)]="color" (colorPickerChange)="onChange()"
        [style.background]="color" [ngClass]="textColorClass" [cpPresetColors]="colorPresets" [cpPosition]="cpPosition"
        cpOutputFormat="rgba" #input />
    <button *ngIf="resetButtonShow" [disabled]="resetButtonDisabled" class="reset-content-button" type="button"
        (click)="onReset()">
        <span class="icon-refresh"></span>
    </button>
</div>