<form [formGroup]="form" (ngSubmit)="onSave()" (keydown)="onEnterSubmit($event)" autocomplete="off">
    <ng-container *ngIf="!isEditMode || isEdit; else info">
        <div class="form__input-block">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Название чека</mat-label>
                    <input matInput type="text" [formControl]="ctrlName" placeholder="Название чека" required>
                    <mat-error *ngIf="ctrlName.hasError('required')">
                        <strong>обязательное</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </ng-container>
    <ng-template #info>
        <div class="form__block" *ngIf="!!data">
            <div class="form-item full-width">
                <ta-key-value [data]="data.name"></ta-key-value>
            </div>
        </div>
    </ng-template>

    <div class="form__submit" align="end">
        <ng-container *ngIf="!isEditMode || isEdit; else editButtons">
            <button class="button-create button__text" (click)="!isEditMode ? onCancel() : onEditCancel()">
                Отменить
            </button>
            <button type="submit" class="button-create button__text" [disabled]="!form.valid">
                {{isEditMode ? 'Сохранить' : 'Создать'}}
            </button>
        </ng-container>
        <ng-template #editButtons>
            <button class="button-create button__text" (click)="onCancel()">
                {{localization.get("common_action-close")}}
            </button>
            <button (click)="onEdit()" class="button-create button__text">
                Редактировать
            </button>
        </ng-template>
    </div>
</form>