@import "../../../base/reset-button";
@import "../../../abstracts/vars";
@import "../../../mixins";

$dropdown-selector-border-radius: 4px;
$dropdown-selector-list-border-radius: 6px;

.dropdown-selector {
    display: block;
    color: $primary-color;
    position: relative;
    padding: 8px 0px;

    &__current-value {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;     
        box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
        cursor: pointer;
        outline: none;
        border-radius: $dropdown-selector-border-radius;
        color: $primary-color;
        background-color: $background-color;

        // &:focus, &:hover {
        //  & + .dropdown-selector__list {
        //      opacity: 1;
        //  }
        // }
    }

    &__substrate {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &__value {
        display: flex;
    }

    &__input {
        display: none;

        &:checked + .dropdown-selector__input-text {
            display: block;
            margin: 0;
        }
    }

    &__input-text {
        display: none;
        width: auto;
        margin: 0;
        padding: 10px;
        font-size: 13px;
        border-radius: $dropdown-selector-border-radius;
    }

    &__list {
        position: absolute;
        width: auto;
        padding: 0;
        list-style: none;
        // opacity: 0;
        margin: 0;
        margin-top: 10px;
        border-radius: $dropdown-selector-list-border-radius;
        overflow: hidden;
        box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 10%);
        background-color: $white;

        &__item {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid $divider-color-light;

            &__container {
                align-items: center;
                justify-content: center;
                display: flex;
                padding: 0px;
            }

            &:hover,
            &:focus {
                color: rgba($primary-color, 0.75);
                background-color: $background-color;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    &__option {
        display: flex;
        flex-direction: row;
        padding: 0px;
        font-size: 16px;
        gap: 10px;
        padding: 15px 20px;
        cursor: pointer;

        // &:hover, &:focus {
        //     color: rgba($primary-color, 0.75);
        //     background-color: $background-color;
        // }
        &.vertical {
            flex-direction: column;
            gap: 6px;

        }
    }

    &__option-image {
        display: flex;
        overflow: hidden;
        @include box(auto);
    }

    &__option-image.xs {
        @include box(8px);
        border-radius: 3px;
    }
    &__option-image.sm {
        @include box(16px);
        border-radius: 3px;
    }
    &__option-image.md {
        @include box(32px);
        border-radius: 3px;
    }
    &__option-image.lg {
        @include box(64px);
        border-radius: 4px;
    }
    &__option-image.xl {
        @include box(128px);
        border-radius: 4px;
    }
}

// .dropdown-selector {
//     display: block;
//     color: $primary-color;
//     position: relative;

//     &__button {

//     }

//     &__content {
//         display: none;
//         position: absolute;
//         flex-direction: row;
//         color: $primary-color;
//         right: 0;
//         background-color: #f9f9f9;
//         min-width: 160px;
//         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//         padding: 12px 16px;
//         border-radius: 6px;
//         z-index: 1;

//         select {
//             display: none;

//             option {

//             }
//         }
//     }

//     &.active {

//         .dropdown-selector__content {
//             display: flex;
//         }
//     }
// }
