<form *ngIf="isEditMode && !isEdit; else editForm" (keydown)="onEnterSubmit($event)" autocomplete="off">
    <div style="width: 100%;">
        <div>
            <h2 class="form-header">
                Информация о магазине
            </h2>

            <div class="form__main-options">
                <div class="form__block" *ngIf="!!data">
                    <div class="form-item full-width">
                        <ta-key-value [data]="data.storeName"></ta-key-value>
                    </div>

                    <div class="form-item full-width">
                        <ta-key-value [data]="data.storeAddress"></ta-key-value>
                    </div>
                </div>

                <ng-container *ngIf="!!data">
                    <h2 class="form-header">
                        Устройства
                    </h2>

                    <ng-container
                        *ngIf="!(!!data.storeTerminals && data.storeTerminals.length > 0); else terminalsInfo">
                        Устройства отсутствуют
                    </ng-container>
                    <ng-template #terminalsInfo>
                        <div class="form__block">
                            <div class="form-item full-width" *ngFor="let terminal of data.storeTerminals;">
                                <ta-key-value [data]="terminal"></ta-key-value>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="form__submit" align="end">
        <button mat-button class="button button__text" (click)="onCancel()">Закрыть</button>
        <button mat-flat-button color="accent" class="button button__text" (click)="onEdit()">
            Редактировать
        </button>
    </div>
</form>

<ng-template #editForm>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" (keydown)="onEnterSubmit($event)" autocomplete="off">
        <h2 class="form-header">
            Информация о магазине
        </h2>

        <div class="form__input-block">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Имя магазина</mat-label>
                    <input matInput type="text" [formControl]="ctrlName" placeholder="Имя магазина" required>
                    <mat-error *ngIf="ctrlName.hasError('required')">
                        <strong>обязательное</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Адрес</mat-label>
                    <input matInput type="text" [formControl]="ctrlAddress" placeholder="Адрес" required>
                    <mat-error *ngIf="ctrlAddress.hasError('required')">
                        <strong>обязательное</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="form__submit" align="end">
            <button mat-button class="button button__text" (click)="onEditCancel()">Отменить</button>
            <button mat-flat-button color="accent" type="submit" class="button button__text"
                [disabled]="!form.valid">{{isEditMode ? 'Сохранить' : 'Создать'}}</button>
        </div>
    </form>
</ng-template>