<div class="editor">
    <ta-state-panel searchFieldClass="color-accent" [refInfo]="refInfo" (search)="onSearch($event)"></ta-state-panel>
    <div class="entities-wrapper">
        <div class="entity" *ngFor="let checkue of collection | search: searchPattern"
            [ngClass]="{'disabled': !checkue.active}">
            <div class="entity__control">
                <div class="entity__control__checkbox">
                    <mat-checkbox color="accent" #checkboxActive [checked]="checkue.active"
                        (click)="onToggleActive($event, checkue)"></mat-checkbox>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="entity__action-menu__button"
                    aria-label="Menu">
                    <mat-icon class="icon">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item type="button" (click)="onToggleActive($event, checkue)">
                        <mat-icon>{{checkue.active ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <span>{{checkue.active ? 'Деактивировать' : 'Активировать'}}</span>
                    </button>
                    <button mat-menu-item (click)="onEdit(checkue)">
                        <mat-icon>edit</mat-icon>
                        <span>Редактировать</span>
                    </button>
                    <button mat-menu-item (click)="onDelete(checkue)">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Удалить</span>
                    </button>
                </mat-menu>
            </div>
            <div matRipple class="entity__body" (click)="onEdit(checkue)">
                <div class="content">
                    <div class="content__name">
                        {{checkue.name}}
                    </div>
                </div>
                <div class="color" [style.background]="checkue.color"></div>
            </div>
        </div>
        <button color="accent" mat-raised-button class="button-add" (click)="onCreate()">
            <mat-icon>add</mat-icon>
        </button>
        <ng-content></ng-content>
    </div>
</div>