<div class="entity-property">
    <div class="entity-property-container">
        <span class="entity-property__key">
            <p>{{compiledData?.key}}</p>
        </span>
        <!-- <span class="key-value__separator"></span> -->
        <ng-container *ngIf="!!compiledData?.link; else value">
            <a [routerLink]="compiledData?.link[0]" [queryParams]="compiledData?.link[1]"
                class="key-value__value form__link">
                <p>{{compiledData?.value}}</p>
            </a>
        </ng-container>

        <ng-template #value>
            <span class="entity-property__value">
                <ng-container [ngSwitch]="compiledData?.type">
                    <ng-container *ngSwitchCase="KeyValueCompiledValueTypes.COLOR">
                        <span class="entity-property__value--color" [style.backgroundColor]="compiledData.value"></span>
                        <p>{{compiledData?.value}}</p>
                    </ng-container>
                    <ng-container *ngSwitchCase="KeyValueCompiledValueTypes.GRADIENT_COLOR">
                        <span class="entity-property__value--color" [style.background]="gradientStyle"></span>
                        <p>{{compiledData?.value}}</p>
                    </ng-container>
                    <ng-container *ngSwitchCase="KeyValueCompiledValueTypes.ASSET">
                        <img [src]="compiledData?.value" height="16" />
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <p>{{compiledData?.value}}</p>
                    </ng-container>
                </ng-container>
            </span>
        </ng-template>
    </div>
</div>