<div [ngClass]="{'selector-content': true, 'main-options-wrapper': isEditMode}">
  <div class="resources" *ngIf="isEditMode">
    <div class="resources-wrapper">
      <div class="resources-n">
        <p class="form-header">
          Изображения
        </p>

        <button *ngIf="!isDefault" [disabled]="!isEqualWithDefault('main')" mat-button color="primary" type="button"
          class="reset-button" (click)="onResetResourceToDefault('main')">
          Сбросить
        </button>

        <ta-asset-picker-uploader [defaultValue]="!!content && !!content.resources ? content.resources.main : undefined"
          [assets]="assets" class="transparent" (upload)="onMainResourceUpload($event, 'main')">
        </ta-asset-picker-uploader>
      </div>
    </div>

    <div class="resources-wrapper double">
      <div class="resources-m">
        <p class="form-header">
          Миниатюра
        </p>

        <button [disabled]="!isEqualWithDefault('thumbnail')" mat-button color="primary" type="button"
          class="reset-button" (click)="onResetResourceToDefault('thumbnail')">
          Сбросить
        </button>

        <ta-asset-picker-uploader size="m"
          [defaultValue]="!!content && !!content.resources ? content.resources.thumbnail : undefined" [assets]="assets"
          class="transparent" (upload)="onThumbnailResourceUpload($event, 'thumbnail')">
        </ta-asset-picker-uploader>
      </div>

      <div class="resources-s">
        <p class="form-header">
          Иконка
        </p>

        <button [disabled]="!isEqualWithDefault('icon')" mat-button color="primary" type="button" class="reset-button"
          (click)="onResetResourceToDefault('icon')">
          Сбросить
        </button>

        <ta-asset-picker-uploader size="m"
          [defaultValue]="!!content && !!content.resources ? content.resources.icon : undefined" [assets]="assets"
          [color]="color" class="transparent" (upload)="onIconResourceUpload($event, 'icon')">
        </ta-asset-picker-uploader>
      </div>
    </div>

    <div class="resources-wrapper single">
      <div class="full-width">
        <p class="form-header">
          Цвет
        </p>

        <button *ngIf="!isDefault" [disabled]="isColorDefault()" mat-button color="primary" type="button"
          class="reset-button" (click)="onResetColorToDefault()">
          Сбросить
        </button>

        <div class="form-item">
          <input class="color-picker" [(colorPicker)]="color" [style.background]="ctrlColor.value"
            cpPosition="top-right" [formControl]="ctrlColor" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <p class="form-header">
      Описание
    </p>

    <div class="form__main-options">
      <div class="form__input-block">
        <div class="form-item">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Имя</mat-label>
            <input matInput type="text" [formControl]="ctrlName" placeholder="Имя">
            <mat-error *ngIf="ctrlName.hasError('required')">
              Имя - <strong>обязательное</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-item">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Описание</mat-label>
            <textarea matInput class="selector__description" type="text" [formControl]="ctrlDescription"
              placeholder="Описание"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
