@import "../../../styles/utils/px2em";

$marging: (-(px2em(60)));

@media screen and (min-width: 600px) {
    .entity-options-editor {
        .hierarchy-editor {
            margin: 0 $marging 0 $marging;
        }
    }
}

@media screen and (max-width: 599px) {
    .entity-options-editor {
        .hierarchy-editor {
            margin: 0 $marging 0 $marging;
        }
    }
}

.header-selectors__modifiers {
    h2.form__header {
        margin-top: 0;
        margin-bottom: 10px;
    }

    margin-bottom: 20px;
}