<div [ngClass]="{'ad-content': true, 'main-options-wrapper': isEditMode}">
  <div class="resources" *ngIf="isEditMode">
    <div class="resources-wrapper">
      <div class="resources-n">
        <p class="form-header">
          Resource
        </p>

        <button *ngIf="!isDefault" [disabled]="!isEqualWithDefault('main')" mat-button color="primary" type="button"
          class="reset-button" (click)="onResetResourceToDefault('main')">
          Reset to default
        </button>

        <ta-asset-picker-uploader [extensions]="['.png', '.jpg', '.mp4']" [defaultValue]="content?.resources?.main" [assets]="assets" class="transparent"
          (upload)="onMainResourceUpload($event, 'main')">
        </ta-asset-picker-uploader>
      </div>
    </div>

    <div class="resources-wrapper single">
      <div class="full-width">
        <p class="form-header">
          Color
        </p>

        <button *ngIf="!isDefault" [disabled]="isColorDefault()" mat-button color="primary" type="button"
          class="reset-button" (click)="onResetColorToDefault()">
          Reset to default
        </button>

        <div class="form-item">
          <input class="color-picker" [(colorPicker)]="color" [style.background]="ctrlColor.value"
            cpPosition="top-right" [formControl]="ctrlColor" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <h2 class="form-header">
      Main options
    </h2>

    <div class="form__main-options">
      <div class="form__input-block">
        <div class="form-item">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Ad name</mat-label>
            <input matInput type="text" [formControl]="ctrlName" placeholder="Ad name">
            <mat-error *ngIf="ctrlName.hasError('required')">
              Ad name - <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-item">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput class="ad__description" type="text" [formControl]="ctrlDescription"
              placeholder="Description"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>