$svhedule-size: 400px;

.schedule {
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax($svhedule-size, 1fr));

    .schedule__item {
        display: grid;
        grid-template-columns: 1fr auto;
        max-width: 500px;
        padding: 24px 0 24px 24px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 6px;
    }

    .schedule__button-create {
        height: 180px;
    }
}
