<div class="schedule">
    <div *ngFor="let schedule of value" class="schedule__item">
        <div class="item__controls">
            <ta-time-range [default]="schedule.time" (change)="onTimeRangeChange(schedule, $event)"></ta-time-range>
            <ta-week-days-picker [default]="schedule.weekDays" (change)="onWeekDaysChange(schedule, $event)"></ta-week-days-picker>
        </div>
        <div class="item__more">
            <button mat-icon-button type="button" [matMenuTriggerFor]="menu" aria-label="Menu">
                <mat-icon class="icon">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item type="button" (click)="onDelete(schedule)">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <button type="button" class="schedule__button-create" mat-flat-button color="accent" (click)="onCreate()">
        <mat-icon>add</mat-icon>
    </button>
</div>