.navigation-menu {
    color: $menu-item-color; //Common items
    // background-color: $primary-color; //navigationMenuBackgroundColor
    @include themify($themes) {
        background-color: themed("navigationMenuBackgroundColor");
    }

    &__item {
        @include themify($themes) {
            background-color: themed("navigationMenuItemBackgroundColor"); //Expanded Item
        }

        &.selected {
            @include themify($themes) {
                background-color: themed("navigationMenuItemBackgroundColorSelected"); //Expanded Item
            }
        }
    }

    &__expantion-item {
        @include themify($themes) {
            background-color: themed("navigationMenuItemBackgroundColor");
        }
        .expantion-item__wrapper.active {
            .navigation-menu {
                @include themify($themes) {
                    background-color: themed("navigationMenuItemBackgroundColor");
                }
            }
        }
    }

    &__expantion-item.active {
        // etc
    }

    .expantion-item__wrapper {
        @include themify($themes) {
            background-color: themed("navigationMenuItemBackgroundColor"); //Expanded Item
        }
    }

    .navigation-menu__expantion-item + .navigation-menu__expantion-item {
        @include themify($themes) {
            border-bottom-color: themed("navigationMenuFolderBorderColor"); //Expanded Item
        }
    }
}
