@import "../../utils/px2em";
@import "../../abstracts/vars";
@import "../../mixins";

.admin__view__navigation {
    
    .navigation-menu__toggle-button {
        display: block;
        position: absolute;
        right: 0;
        @include box(22px, 84px);
        z-index: 999;
        top: 240px;

        &__icon {
            display: flex;
            position: absolute;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;

            &__symbol {
                font-size: 16px;
            }
        }

        svg {

            path {
                //
            }
        }
    }
}