@import "../../themes/theme";
@import "../../abstracts/vars";
@import "../../mixins";

.navigation-menu {
    color: $menu-item-color; //Common items
    background-color: $primary-color;

    .navigation-menu__expantion-item {

        .expantion-item__wrapper.active {

            .navigation-menu {
                background-color: $accent-color;
            }
        }
    }

    &__expantion-item.active {

    }

    &__expantion-item__wrapper {
        background-color: $accent-color;//$primary-color-1050
    }
}

.expantion-item__wrapper.active {

    .navigation-menu {
        background-color: $accent-color;
    }
}