.navigation-menu {
    color: $menu-item-color; //Common items
    // background-color: $primary-color; //navigationMenuBackgroundColor
    @include themify($themes) {
        background-color: themed('navigationMenuBackgroundColor');
    }

    &__item {
        @include themify($themes) {
            background-color: themed('navigationMenuItemBackgroundColor'); //Expanded Item
        }

        &.selected {
            @include themify($themes) {
                background-color: themed('navigationMenuItemBackgroundColorSelected'); //Expanded Item
            }
        }
    }

    .navigation-menu__expantion-item {

        .expantion-item__wrapper.active {

            .navigation-menu {
                background-color: $accent-color;
            }
        }
    }

    &__expantion-item.active {

    }

    &__expantion-item__wrapper {
        background-color: $accent-color;//$primary-color-1050
    }

    .navigation-menu__expantion-item + .navigation-menu__expantion-item {
         @include themify($themes) {
            border-bottom-color: themed('navigationMenuFolderBorderColor'); //Expanded Item
        }
    }
}

.expantion-item__wrapper.active {

    .navigation-menu {
        background-color: $accent-color;
    }
}