<div class="editor">
    <ta-state-panel searchFieldClass="color-accent" [refInfo]="refInfo" (search)="onSearch($event)"></ta-state-panel>
    <div class="entities-wrapper">
        <div class="entity" *ngFor="let terminal of collection | search: searchPattern"
            [class.disabled]="!isTerminalActive(terminal)">
            <div class="entity__control">
                <div class="entity__control__checkbox"></div>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="entity__action-menu__button"
                    aria-label="Menu">
                    <mat-icon class="icon">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onEdit(terminal)">
                        <mat-icon>edit</mat-icon>
                        <span>Редактировать</span>
                    </button>
                    <!--<button mat-menu-item (click)="onDelete(terminal)">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Удалить</span>
                    </button>-->
                </mat-menu>
            </div>
            <div matRipple class="entity__body" (click)="onEdit(terminal)">
                <div class="content">
                    <div class="content__name">
                        {{terminal.name}}
                    </div>
                    <div *ngIf="!!storesMap" class="content__description" style="text-transform: none;">
                        {{storesMap[terminal.storeId]?.name}}
                    </div>
                    <div *ngIf="!!storesMap" class="content__description" style="text-transform: none;">
                        {{storesMap[terminal.storeId]?.address}}
                    </div>
                </div>
                <div class="color"></div>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="!collection || collection.length === 0">
    <div class="terminals-none__wrapper">
        <div class="terminals-none__text">
            Устройства отсутствуют
        </div>
    </div>
</ng-container>