<h2 mat-dialog-title><strong>{{data.title}}</strong></h2>
<mat-dialog-content class="mat-typography" style="min-width: 320px;">
    <p *ngIf="!!data.message">{{data.message}}</p>
    <ta-scenario-editor [type]="data.type" [scenario]="data.scenario" [businessPeriods]="data.businessPeriods"
        [currencies]="data.currencies" [languages]="data.languages" [defaultLanguage]="data.defaultLanguage"
        (status)="onChangeStatus($event)" (edit)="onChangeScenario($event)">
    </ta-scenario-editor>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button color="accent" mat-flat-button [mat-dialog-close]="result" [disabled]="status !== 'VALID'">
        {{data.scenario ? "Save" : "Create"}}
    </button>
    <!--cdkFocusInitial-->
</mat-dialog-actions>