<div class="state-panel">
    <div class="state-panel__container">
        <div class="state-panel__info">
            <ng-container *ngIf="!!hasShowRefInfo && !!refInfo">
                <!--<span class="state-panel__info__version">v.{{refInfo.version}}</span>-->
                <span class="state-panel__info__version">Последнее изменение: </span>
                <span fxHide.xs="true" class="state-panel__info__date">{{formatlastUpdate()}}</span>
            </ng-container>
        </div>
        <div class="spacer"></div>
        <!--<ta-search-field [fieldClass]="searchFieldClass" (search)="onSearch($event)"></ta-search-field>-->
        <!--<ta-search-field (search)="onSearch($event)"></ta-search-field>-->

        <div class="search closed">
            <form action="" method="post" class="search__form">
                <label for="state-panel-search" class="search__form__label">Поиск</label>
                <input type="search" name="" placeholder="Поиск по имени" class="search__form__text-field" />
            </form>
        </div>
    </div>
</div>