<div class="state-panel">
    <div class="state-panel__container">
        <div class="state-panel__info">
            <ng-container *ngIf="!!hasShowRefInfo && !!refInfo">
                <!--<span class="state-panel__info__version">v.{{refInfo.version}}</span>-->
                <span class="state-panel__info__version">Последнее изменение: </span>
                <span fxHide.xs="true" class="state-panel__info__date">{{formatlastUpdate()}}</span>
            </ng-container>
        </div>
        <div class="spacer"></div>
        <!--<ta-search-field [fieldClass]="searchFieldClass" (search)="onSearch($event)"></ta-search-field>-->
        <!--<ta-search-field (search)="onSearch($event)"></ta-search-field>-->
        <ta-search placeholder="Поиск по имени" [liveSearch]="true" (search)="onSearch($event)"></ta-search>
    </div>
</div>