@import "../../../styles/modules/entity-editor";

.editor {
    .entity {
        .tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            height: 10px;
            margin: 10px;

            .tag {
                width: 10px;
                height: 100%;
                border-radius: 50%;
                margin: 0 1px;
            }
        }
    }
}