@import "../../utils/px2em";
@import "../../abstracts/vars";
@import "../../mixins";
// @import "../themes/theme";

$admin-view-navigation-width: 320px;

$admin-view-navigation-width-xs: $admin-view-navigation-width;
$admin-view-navigation-width-sm: $admin-view-navigation-width;
$admin-view-navigation-width-md: $admin-view-navigation-width;
$admin-view-navigation-width-lg: $admin-view-navigation-width;
$admin-view-navigation-width-xl: $admin-view-navigation-width;

// mat-sidenav-container {
//     background: #F0F0F0;
// }

.admin__wrapper {

    .admin__toolbar {
        @include themify($themes) {
            background: themed('foregroundColor');
        }
    }

    #admin__view__wrapper, .admin__view__wrapper {
        // display: flex;
        @include themify($themes) {
            background: themed('backgroundColor');
        }

        .admin__view__content {
            // display: block;
            // position: relative;
            // width: 100%;
            // height: 100%;
        }
    }
}