<div class="query-progress" style="position: relative; min-height: 100%; display: grid;">
    <div class="query-progress__foreground" *ngIf="process" style="width: 100%; position: absolute; height: 100%;">
        <div [ngClass]="classes" style="z-index: 10000;">
            <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
    <div class="query-progress__content-wrapper" style="position: relative;">
        <ng-content></ng-content>
    </div>
</div>