.cdk-drag-preview { 

    .expansion-panel {

        &__header {
            pointer-events: visible;
            @include themify($themes) {
                background-color: themed('expansionPanelBackgroundColorHover'); 
            }
        }
    }
}

.expansion-panel {

    &__header {

        &:hover {
            @include themify($themes) {
                background-color: themed('expansionPanelBackgroundColorHover'); 
            }
        }

        &:active {
            @include themify($themes) {
                background-color: themed('expansionPanelBackgroundColorActive'); 
            }
        }
    }

    &__title {
        @include themify($themes) {
            color: themed('expansionPanelTitleColor'); 
        }
    }

    &__icon {
        @include themify($themes) {
            color: themed('expansionPanelIconColor'); 
        }
    }
}