.expansion-panel {
    padding-bottom: 30px;

    &__wrapper {
        display: grid;
        grid-template-rows: auto auto;
    }

    &__icon__drag {
        // display: none;
        opacity: 0.0;
        // transform: translateX(16px);
    }

    &__header {
        display: grid;
        grid-template-rows: auto auto;
        background-color: transparent;
        cursor: pointer;
        @extend .entities-container;
        padding-top: 20px;
        padding-bottom: 20px;

        &__container {
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            padding: 0;
        }

        &:hover {

            .expansion-panel__icon-group {
                transform: translateX(0);
            }

            .expansion-panel__icon__drag {
                // display: block;
                opacity: 1.0;
                // transform: translateX(0px);
            }
        }
    }

    &__title {
        font-size: 11px;
        text-transform: uppercase;
    }

    &__icon-group {
        display: flex;
        position: relative;
        transform: translateX($expansion-panel-icon-group-transform-x);
        gap: 10px;  
    }

    &__content {
        // padding: 20px;

        &.opened {
            display: block;
        }

        &.closed {
            display: none;
        }
    }

    &.closed {
        padding-bottom: 0px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
}