.cdk-drag-preview { 

    .expansion-panel {

        &__header {
            pointer-events: visible;
            @include themify($themes) {
                background-color: themed('expansionPanelBackgroundColorHover'); 
            }
        }
    }
}

.expansion-panel {

    // &:hover, &:active {
    //     @include themify($themes) {
    //         background-color: rgba(themed('expansionPanelBackgroundColorHighlight'), 1.0); 
    //     }
    // }

    &__header {

        &:hover, &:active {
            @include themify($themes) {
                background-color: rgba(themed('expansionPanelBackgroundColorHighlight'), 1.0); 
            }
        }

        // &:hover {
        //     @include themify($themes) {
        //         background-color: rgba(themed('expansionPanelBackgroundColorHover'), 0.5);
        //     }
        // }

        // &:active {
        //     @include themify($themes) {
        //         background-color: themed('expansionPanelBackgroundColorActive'); 
        //     }
        // }
    }

    &__title {
        @include themify($themes) {
            color: themed('expansionPanelTitleColor'); 
        }
    }

    &__icon {
        @include themify($themes) {
            color: themed('expansionPanelIconColor'); 
        }
    }

    &.closed {
        // @include themify($themes) {
        //     background-color: themed('expansionPanelBackgroundColorHover')!important; 
        // }
        // @include themify($themes) {
        //     border-color: themed('expansionPanelBorderColorHover')!important; 
        // }

        .expansion-panel__header {
            @include themify($themes) {
                background-color: themed('expansionPanelBackgroundColorHover')!important; 
            }
            @include themify($themes) {
                border-color: themed('expansionPanelBorderColorHover')!important; 
            }
        }
    }
}