<form [formGroup]="form" (ngSubmit)="onSave()" (keydown)="onEnterSubmit($event)" autocomplete="off">
    <div *ngIf="!!businessPeriod; else mainLangContent">
        <mat-tab-group>
            <mat-tab *ngFor="let lang of sortedLanguages" [label]="lang.name">
                <ta-business-period-content [content]="getContent(lang)" [defaultContent]="getContent(defaultLanguage)"
                    [isDefault]="lang.code === defaultLanguage.code" [isEditMode]="isEditMode"
                    (update)="updateStateFor($event, lang)">
                </ta-business-period-content>
            </mat-tab>
        </mat-tab-group>
    </div>
    <ng-template #mainLangContent>
        <ta-business-period-content *ngIf="!!defaultLanguage" isDefault="true" [content]="null"
            [isEditMode]="isEditMode" (update)="updateStateFor($event, defaultLanguage)">
        </ta-business-period-content>
    </ng-template>

    <div class="full-width" [style.display]="!!businessPeriod ? 'inherit' : 'none'">
        <h2>
            Schedule
        </h2>

        <div class="schedule__wrapper">
            <ta-schedule #schedule></ta-schedule>
        </div>
    </div>

    <div class="form__submit" align="end">
        <button mat-button class="button button__text" (click)="onCancel()">Cancel</button>
        <button mat-flat-button color="accent" type="submit" class="button button__text"
            [disabled]="!form.valid">{{isEditMode ? 'Save' : 'Create'}}</button>
    </div>
</form>