<form [formGroup]="form" (ngSubmit)="onSave()" (keydown)="onEnterSubmit($event)" autocomplete="off">
    <div *ngIf="!!businessPeriod; else mainLangContent">
        <mat-tab-group>
            <mat-tab *ngFor="let lang of sortedLanguages" [label]="lang.name">
                <ta-business-period-content [content]="getContent(lang)" [defaultContent]="getContent(defaultLanguage)"
                    [isDefault]="lang.code === defaultLanguage.code" [isEdit]="!isEditMode || isEdit"
                    [isEditMode]="isEditMode" (update)="updateStateFor($event, lang)">
                </ta-business-period-content>
            </mat-tab>
        </mat-tab-group>
    </div>
    <ng-template #mainLangContent>
        <ta-business-period-content *ngIf="!!defaultLanguage" isDefault="true" [content]="null"
            [isEdit]="!isEditMode || isEdit" [isEditMode]="isEditMode"
            (update)="updateStateFor($event, defaultLanguage)">
        </ta-business-period-content>
    </ng-template>

    <div class="full-width" [style.display]="!!businessPeriod ? 'inherit' : 'none'">
        <p>
            Расписание
        </p>

        <div class="schedule__wrapper">
            <ta-schedule [isEdit]="!isEditMode || isEdit" #schedule></ta-schedule>
        </div>
    </div>

    <div class="form__submit" align="end">
        <ng-container *ngIf="!isEditMode || isEdit; else editButtons">
            <button class="button-create button__text" (click)="!isEditMode ? onCancel() : onEditCancel()">
                {{localization.get("common_action-cancel")}}
            </button>
            <button type="submit" class="button-create button__text" [disabled]="!form.valid">
                {{isEditMode ? 'Сохранить' : 'Создать'}}
            </button>
        </ng-container>
        <ng-template #editButtons>
            <button class="button-create button__text" (click)="onCancel()">
                {{localization.get("common_action-close")}}
            </button>
            <button (click)="onEdit()" class="button-create button__text">
                Редактировать
            </button>
        </ng-template>
    </div>
</form>