@import "../../../../styles/components/color-picker";
@import "../../../../styles/themes";
@import "../../../../styles/utils/px2em";

.ad__description {
    height: px2em(130);
}

.resources {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    background: rgba($block-color, 0.1);
    border-radius: 6px;
    padding: px2em(22);

    .resources-n,
    .resources-m,
    .resources-s {
        margin-bottom: px2em(20);
    }
}
