<form class="form" [formGroup]="form" (ngSubmit)="onSave()" (keydown)="onEnterSubmit($event)" autocomplete="off">
  <div *ngIf="!!ad; else mainLangContent">
    <mat-tab-group>
      <mat-tab *ngFor="let lang of sortedLanguages" [label]="lang.name">
        <ta-ad-content [content]="getContent(lang)" [defaultContent]="getContent(defaultLanguage)"
          [isDefault]="lang.code === defaultLanguage.code" [isEdit]="!isEditMode || isEdit" [isEditMode]="isEditMode"
          [assets]="assets" (update)="updateStateFor($event, lang)"
          (uploadMainResource)="onMainResourceUpload($event, lang)"
          (uploadIconResource)="onIconResourceUpload($event, lang)"
          (uploadThumbnailResource)="onThumbnailResourceUpload($event, lang)" (save)="onSave()">
        </ta-ad-content>
      </mat-tab>
    </mat-tab-group>
  </div>
  <ng-template #mainLangContent>
    <ta-ad-content *ngIf="!!defaultLanguage" isDefault="true" [content]="null" [isEdit]="!isEditMode || isEdit"
      [isEditMode]="isEditMode" [assets]="assets" (update)="updateStateFor($event, defaultLanguage)">
    </ta-ad-content>
  </ng-template>

  <div class="form__submit" align="end">
    <ng-container *ngIf="!isEditMode || isEdit; else editButtons">
      <button mat-button class="button button__text" (click)="!isEditMode ? onCancel() : onEditCancel()">
        Отменить
      </button>
      <button mat-flat-button color="accent" type="submit" class="button button__text" [disabled]="!form.valid">
        {{isEditMode ? 'Сохранить' : 'Создать'}}
      </button>
    </ng-container>
    <ng-template #editButtons>
      <button mat-button class="button button__text" (click)="onCancel()">
        Отменить
      </button>
      <button mat-flat-button color="accent" (click)="onEdit()" class="button button__text">
        Редактировать
      </button>
    </ng-template>
  </div>
</form>