@import "../../../abstracts/vars";

.button-base {
    display: block;
    position: relative;
    border-radius: $border-radius;
    width: auto;
    height: auto;
    padding: $button-base-padding;
    @include themify($themes) {
        color: themed('buttonBaseColor');  
        background-color: themed('buttonBasebackgroundColor');  
    }
}