@import "../../../../../styles/components/color-picker";
@import "../../../../../styles/themes";
@import "../../../../../styles/utils/px2em";

.product-content {
    margin-top: px2em(44);
    margin-bottom: px2em(18);

    .product__description {
        height: px2em(150);
    }
}
