<div [ngClass]="{'product-content': true, 'main-options-wrapper': isEditMode}">
  <div class="resources" *ngIf="isEditMode">
    <div class="resources-wrapper double">
      <div class="resources-n">
        <p class="form-header">
          Изображения
        </p>

        <ta-asset-picker-uploader [resetButtonShow]="!isDefault" [resetButtonDisabled]="isEqualWithDefault('main')"
          (reset)="onResetResourceToDefault('main')"
          [defaultValue]="!!content && !!content.resources ? content.resources.main : undefined" [assets]="assets"
          class="transparent" (upload)="onMainResourceUpload($event, 'main')">
        </ta-asset-picker-uploader>
      </div>

      <div class="resources-s">
        <p class="form-header">
          Иконка
        </p>

        <ta-asset-picker-uploader [resetButtonDisabled]="isEqualWithDefault('icon')"
          (reset)="onResetResourceToDefault('icon')"
          [defaultValue]="!!content && !!content.resources ? content.resources.icon : undefined" [assets]="assets"
          [color]="color" class="transparent" (upload)="onIconResourceUpload($event, 'icon')">
        </ta-asset-picker-uploader>
      </div>
    </div>

    <div class="resources-wrapper single">
      <div class="full-width">
        <div class="form-item">
          <ta-color-picker [resetButtonShow]="!isDefault" [resetButtonDisabled]="isColorDefault()"
          (reset)="onResetColorToDefault()"  [control]="ctrlColor" cpPosition="top-right"></ta-color-picker>
        </div>
      </div>
    </div>

    <!--<mat-accordion class="flat full-width" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Resources gallery
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="resources-wrapper single">
          <div class="full-width">
            <ta-assets-uploader [collection]="resourcesGallery" (upload)="onAssetUpload($event)"
              (update)="onAssetUpdate($event)" (delete)="onAssetDelete($event)"></ta-assets-uploader>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>-->
  </div>

  <div>
    <p class="form-header">
      Описание
    </p>

    <div class="form__main-options">
      <div class="form__input-block">
        <div class="form-item">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Имя</mat-label>
            <input matInput type="text" [formControl]="ctrlName" placeholder="Имя">
            <mat-error *ngIf="ctrlName.hasError('required')">
              Имя - <strong>обязательное</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-item">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Описание</mat-label>
            <textarea matInput class="product__description" type="text" [formControl]="ctrlDescription"
              placeholder="Описание"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>