<div [ngClass]="{'product-content': true, 'main-options-wrapper': isEditMode}">
  <!-- Entity Sheet Section -->
  <div class="entity-sheet__section-container">
    <div class="entity-sheet__section-content">
      <!-- Entity Assets -->
      <div class="entity-assets">
        <div class="entity-assets-container">
          <div class="entity-assets-content" *ngIf="isEditMode">
            <!-- Entity Assets Resources -->
            <div class="entity-assets__resources">
              <div class="entity-assets__resources-container double">
                <!-- Main Image -->
                <div class="resources-n">
                  <div class="entity-assets__description">
                    <p>Основное изображение</p>
                  </div>
                  <ta-asset-picker-uploader [needConfirmation]="isDirty" [resetButtonShow]="!isDefault"
                    [resetButtonDisabled]="isEqualWithDefault('main')" (reset)="onResetResourceToDefault('main')"
                    [defaultValue]="!!content && !!content.resources ? content.resources.main : undefined"
                    [assets]="assets" class="transparent" (confirm)="onConfirmSave($event)"
                    (upload)="onMainResourceUpload($event, 'main')">
                  </ta-asset-picker-uploader>
                </div>
                <!-- Main Image -->
                <!-- Thumbnail Image -->
                <div class="resources-s">
                  <div class="entity-assets__description">
                    <p>Миниатюра</p>
                  </div>
                  <ta-asset-picker-uploader [needConfirmation]="isDirty"
                    [resetButtonDisabled]="isEqualWithDefault('icon')" (reset)="onResetResourceToDefault('icon')"
                    [showUploadButton]="false"
                    [defaultValue]="!!content && !!content.resources ? content.resources.icon : undefined"
                    [assets]="assets" [color]="color" class="transparent" (confirm)="onConfirmSave($event)"
                    (upload)="onIconResourceUpload($event, 'icon')">
                  </ta-asset-picker-uploader>
                  <!-- Color -->

                  <!-- <ng-container *ngIf="!isEdit">
                    <ta-key-value [data]="data.color"></ta-key-value>
                  </ng-container> -->

                  <!-- <div class=" single" *ngIf="isEdit">
                    <ta-color-picker [resetButtonShow]="!isDefault" [resetButtonDisabled]="isColorDefault()"
                      (reset)="onResetColorToDefault()" [control]="ctrlColor" cpPosition="bottom"></ta-color-picker>
                  </div> -->
                  <!-- Color -->
                </div>
                <!-- Thumbnail Image -->
              </div>

            </div>
            <!-- Entity Assets Resources -->
          </div>
          <!-- Assets -->
          <!-- Edit -->
          <div>

            <!-- Entity Assets Body -->
            <div class="entity-assets__body">
              <div class="entity-assets__body-container">
                <ng-container *ngIf="!isEdit; else editFields">
                  <ng-container *ngIf="!!data">
                    <!-- Entity Assets Name -->
                    <div class="entity-sheet__section__header">
                      <h2 class="entity-sheet__section__header-title" *ngIf="!!data">
                        {{data.name.value}}
                      </h2>
                    </div>
                    <!-- Entity Assets Name -->

                    <!-- description -->
                    <div class="entity-properties border-none">
                      <ta-key-value [data]="data.description"></ta-key-value>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <!-- Entity Assets Body -->


            <ng-template #editFields>
              <div class="form__main-options">
                <div class="form__input-block">
                  <div class="form-item">
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Имя</mat-label>
                      <input matInput type="text" [formControl]="ctrlName" placeholder="Имя" required>
                      <mat-error *ngIf="ctrlName.hasError('required')">
                        Имя - <strong>обязательное</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="form-item">
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Описание</mat-label>
                      <textarea matInput class="product__description" type="text" [formControl]="ctrlDescription"
                        placeholder="Описание"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
          <!-- Edit -->
        </div>
      </div>
    </div>
  </div>
  <!-- Entity Sheet Section -->
</div>