<div class="editor product-editor">

    <ta-state-panel searchFieldClass="color-accent" [refInfo]="refInfo" [layout]="layoutType"
        [displayInactiveEntities]="displayInactiveEntities" (search)="onSearch($event)"
        (changeLayout)="onSwitchLayout($event)" (changeInactiveVisibility)="onShowHiddenEntities($event)">
    </ta-state-panel>

    <!--Editor Scroll View-->
    <div class="editor__scroll-view">
        <ng-container [ngSwitch]="layoutType">
            <!-- List-template -->
            <ng-container *ngSwitchCase="LayoutTypes.LIST">

            </ng-container>
            <!-- Card-template -->
            <ng-container *ngSwitchCase="LayoutTypes.CARD">
                <div class="editor__container">
                    <div class="entities-container entities-card-layout">
                        <div #entitySelectorsCardItem class="entity"
                            *ngFor="let selector of filteredCollection | search:searchPattern:defaultLanguage?.code"
                            [class.disabled]="!selector.active">
                            <div class="entity__wrapper">
                                <div class="entity__control">
                                    <div class="entity__control__container">
                                        <!--My checkbox-->
                                        <div class="entity__control__checkbox">
                                            <ta-checkbox #checkboxActive [checked]="selector.active"
                                                (click)="onToggleActive($event, selector)"></ta-checkbox>
                                        </div>
                                        <!--My checkbox-->
                                        <button mat-icon-button [matMenuTriggerFor]="menu"
                                            class="entity__action-menu__button" aria-label="Menu">
                                            <mat-icon class="icon">more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item type="button"
                                                (click)="onToggleActive($event, selector)">
                                                <mat-icon>{{selector.active ? 'visibility_off' : 'visibility'}}
                                                </mat-icon>
                                                <span>
                                                    {{selector.active ? localization.get("common_action-deactivate") :
                                                    localization.get("common_action-activate")}}
                                                </span>
                                            </button>
                                            <button mat-menu-item (click)="onEditSelector(selector)">
                                                <mat-icon>edit</mat-icon>
                                                <span>
                                                    {{localization.get("common_action-edit")}}
                                                </span>
                                            </button>
                                            <button mat-menu-item (click)="onDeleteSelector(selector)">
                                                <mat-icon>delete_forever</mat-icon>
                                                <span>
                                                    {{localization.get("common_action-delete")}}
                                                </span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>

                                <div [tapEffect]="entitySelectorsCardItem" class="entity__body"
                                    (click)="onEditSelector(selector)">
                                    <div class="entity__body__content">
                                        <div class="entity__body__container">
                                            <div class="entity__image">
                                                <img align="center" *ngIf="hasThumbnail(selector, 'x128')"
                                                    class="entity__image__thumbnail"
                                                    [src]="getThumbnail(selector, 'x128')">
                                            </div>
                                            <div class="entity__text-group">
                                                <div class="entity__name">
                                                    {{getSelectorName(selector)}}
                                                </div>
                                                <div class="entity__description">
                                                    {{getSelectorDescription(selector)}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="bottom-panel">
                                        <img align="center" *ngIf="hasThumbnail(selector, 'x32')" class="entity-thumbnail"
                                            [src]="getThumbnail(selector, 'x32')">
                                    </div> -->
                                    <div class="color" [style.background]="getSelectorColor(selector)"></div>
                                    <!--<div class="tags">
                                            <span class="tag" *ngFor="let tag of selector.tags" [style.background]="getTagColor(tag)" [matTooltip]="getTagName(tag)"></span>
                                        </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Panel Add Item -->
                    <div class="entities-bottom-panel">
                        <div class="entities-bottom-panel__container">
                            <button color="accent" class="button-add" (click)="onCreateSelector()">
                                <!-- <mat-icon class="button-add-icon">add</mat-icon> -->
                                <div class="">
                                    {{localization.get("stores_add-new")}}
                                </div>
                            </button>
                        </div>
                    </div>
                    <!-- Panel Add Item -->
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>