@import "../../../styles/components/entity-editor";
@import "../../../styles/utils/px2em";

.editor {
    .entity {
        .color {
            width: 100%;
            height: px2em(10);
            min-height: px2em(10);
        }
    }
}
