<form *ngIf="isEditMode && !isEdit; else editForm" (keydown)="onEnterSubmit($event)" autocomplete="off">
    <div style="width: 100%;">
        <div>
            <h2 class="form-header">
                Информация о лицензии
            </h2>

            <div class="form__main-options">
                <div class="form__block" *ngIf="!!data">
                    <div class="form-item full-width">
                        <ta-key-value [data]="data.name"></ta-key-value>
                    </div>

                    <div class="form-item full-width">
                        <ta-key-value [data]="data.dateStart"></ta-key-value>
                    </div>

                    <div class="form-item full-width">
                        <ta-key-value [data]="data.dateEnd"></ta-key-value>
                    </div>

                    <div class="form-item full-width">
                        <ta-key-value [data]="data.key"></ta-key-value>
                    </div>

                    <div class="form-item full-width">
                        <ta-key-value [data]="data.price"></ta-key-value>
                    </div>
                </div>

                <h2 class="form-header">
                    Интеграция
                </h2>

                <div class="form__block" *ngIf="!!data">
                    <div class="form-item full-width">
                        <ta-key-value [data]="data.integration"></ta-key-value>
                    </div>

                    <div class="form-item full-width">
                        <ta-key-value [data]="data.integrationVersion"></ta-key-value>
                    </div>
                </div>

                <h2 class="form-header">
                    Устройство
                </h2>

                <ng-container *ngIf="!!data && !!license && !isBindToTerminal(); else terminalInfo">
                    <div>
                        Лицензия не привязана к терминалу.
                    </div>
                </ng-container>
                <ng-template #terminalInfo>
                    <div class="form__block" *ngIf="!!data">
                        <div class="form-item full-width">
                            <ta-key-value [data]="data.terminalName"></ta-key-value>
                        </div>

                        <div class="form-item full-width">
                            <ta-key-value [data]="data.terminalStoreName"></ta-key-value>
                        </div>

                        <div class="form-item full-width">
                            <ta-key-value [data]="data.terminalStoreAddress"></ta-key-value>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="form__submit" align="end">
        <button class="button-create button__text" (click)="onCancel()">Закрыть</button>
        <button class="button-create button__text" (click)="onEdit()">
            Редактировать
        </button>
    </div>
</form>

<ng-template #editForm>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown)="onEnterSubmit($event)" autocomplete="off">
        <div style="width: 100%;">
            <div>
                <h2 class="form-header">
                    Информация о лицензии
                </h2>

                <div class="form__main-options">
                    <div class="form__input-block">
                        <div class="form-item">

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Клиент</mat-label>
                                <mat-select [formControl]="ctrlAccount" required>
                                    <mat-option *ngFor="let account of accounts" [value]="account.id">
                                        <span>
                                            {{account.email}} ({{account.lastName}} {{account.firstName}})
                                        </span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div class="form-item">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Тариф</mat-label>
                                    <mat-select [formControl]="ctrlTarif" required>
                                        <mat-option *ngFor="let tarif of tarifs" [value]="tarif.id">
                                            <span>
                                                {{tarif.name}}
                                            </span>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Тип лицензии</mat-label>
                                <mat-select [formControl]="ctrlLicenseType" required>
                                    <mat-option *ngFor="let licenseType of licenseTypes" [value]="licenseType.id">
                                        <span>
                                            {{licenseType.name}}
                                        </span>
                                        <span *ngIf="!!integrationsMap">
                                            ({{integrationsMap[licenseType.integrationId]?.name}})
                                        </span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <ta-date-range [formGroup]="range"></ta-date-range>

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Состояние</mat-label>
                                <mat-select [formControl]="ctrlState" required>
                                    <mat-option *ngFor="let licenseState of licenseStates" [value]="licenseState.value">
                                        <span>
                                            {{licenseState.name}}
                                        </span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form__submit" align="end">
            <button class="button-create button__text" (click)="onEditCancel()">Отменить</button>
            <button type="submit" class="button-create button__text"
                [disabled]="!form.valid">{{isEditMode ? 'Сохранить' : 'Создать'}}</button>
        </div>
    </form>
</ng-template>