@import "../../../utils/px2em";
@import "../../../abstracts/vars";
@import "../../../mixins";

.entity__control__checkbox {

    .mat-checkbox-frame {
        border-radius: $checkbox-border-radius;
    }

    .mat-checkbox-background {
        border-radius: $checkbox-border-radius;
        overflow: hidden;
    }
}