@import "../../../styles/components/entity-editor";
@import "../../../styles/utils/px2em";

$entity-height-m: px2em(200);
$entity-height-d: px2em(240);
$entity-width-m: px2em(160);
$entity-width-d: px2em(200);

.editor {
    .entity {
        .content {
            display: grid;

            .content__name {
                margin-top: auto;
                margin-bottom: auto;
            }
        }

        &-thumbnail {
            width: 100% !important;
            height: auto !important;
        }

        .color {
            width: 100%;
            height: px2em(10);
            min-height: px2em(10);
        }
    }
}
