<div class="form-item">
    <div class="form-item">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Тема оформления</mat-label>
            <mat-select [(ngModel)]="mTheme" (ngModelChange)="onChangeModel()" required>
                <mat-option *ngFor="let t of themes" [value]="t.id">{{t.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="mTheme === undefined">
                <strong>обзательное</strong>
            </mat-error>
        </mat-form-field>
    </div>
</div>
<div class="form-item">
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Количество колонок во вкладке "Новые"</mat-label>
        <input matInput number [(ngModel)]="mLayoutNewColumns" (ngModelChange)="onChangeModel()"
            placeholder='Количество колонок во вкладке "Новые"' required>
        <mat-error *ngIf="mLayoutNewColumns === undefined">
            <strong>обязательное</strong>
        </mat-error>
    </mat-form-field>
</div>

<div class="form-item">
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Количество строк во вкладке "Новые"</mat-label>
        <input matInput number [(ngModel)]="mLayoutNewRows" (ngModelChange)="onChangeModel()"
            placeholder='Количество строк во вкладке "Новые"' required>
        <mat-error *ngIf="mLayoutNewRows === undefined">
            <strong>обязательное</strong>
        </mat-error>
    </mat-form-field>
</div>

<div class="form-item">
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Количество колонок во вкладке "Готовые"</mat-label>
        <input matInput number [(ngModel)]="mLayoutCompleteColumns" (ngModelChange)="onChangeModel()"
            placeholder='Количество колонок во вкладке "Готовые"' required>
        <mat-error *ngIf="mLayoutCompleteColumns === undefined">
            <strong>обязательное</strong>
        </mat-error>
    </mat-form-field>
</div>

<div class="form-item">
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Количество строк во вкладке "Готовые"</mat-label>
        <input matInput number [(ngModel)]="mLayoutCompleteRows" (ngModelChange)="onChangeModel()"
            placeholder='Количество строк во вкладке "Готовые"' required>
        <mat-error *ngIf="mLayoutCompleteRows === undefined">
            <strong>обязательное</strong>
        </mat-error>
    </mat-form-field>
</div>