<div class="main-wrapper">
    <div class="form__wrapper">
        <div class="form__container">
            <div class="form__header">
                <div class="form__header__content">
                    <span>
                        <h4 class="form__header__title">Забыли пароль?</h4>
                        <p>
                            Не волнуйтесь, мы вас поддержим! Просто введите свой адрес электронной почты, и мы пришлем
                            вам
                            ссылку, по которой вы сможете сбросить пароль.
                        </p>
                    </span>
                    <span>
                        <a [routerLink]="['/signin']" [queryParams]="registerQueryParams" class="form__link">Войти</a>
                        <!--<span class="form__header__description">взамен?</span>-->
                    </span>
                </div>
                <!--<mat-divider></mat-divider>-->
            </div>
            <div class="form__header__body">
                <ta-query-progress class="query-progress-container" [process]="isProcess$ | async">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form" autocomplete="off">
                        <div class="form__input-block">
                            <div class="form-item">
                                <mat-form-field class="form__field full-width" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="text" [formControl]="ctrlEmail" name="username"
                                        placeholder="Email" required>
                                    <mat-error *ngIf="!ctrlEmail.hasError('required')">
                                        Пожалуйста, введите действительный адрес электронной почты
                                    </mat-error>
                                    <mat-error *ngIf="ctrlEmail.hasError('required')">
                                        Email - <strong>обязательное</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="form-item">
                                <div class="captcha">
                                    <span [innerHtml]="safeCaptchaSvg" class="captcha__img"></span>
                                    <span class="captcha__reset-button">
                                        <button mat-icon-button type="button" (click)="onResetCatcha()">
                                            <!--<mat-icon>settings_backup_restore</mat-icon>-->
                                            <mat-icon>settings_backup_restore</mat-icon>
                                        </button>
                                    </span>
                                </div>
                                <mat-form-field class="form__field full-width" appearance="outline">
                                    <mat-label>Введите текст с картинки</mat-label>
                                    <input matInput type="text" [formControl]="ctrlCaptcha">
                                    <mat-error *ngIf="ctrlCaptcha.hasError('required')">
                                        Текст с картинки - <strong>обязателен</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form__params-block">
                        </div>

                        <div class="form__submit">
                            <button mat-flat-button color="accent" type="submit" class="button button__text"
                                [disabled]="!form.valid">Отправить</button>
                        </div>
                    </form>
                </ta-query-progress>
            </div>
        </div>

    </div>
</div>