@import "../../abstracts/vars";
@import "../../mixins";

$navigation-menu-roll-up-width: 300px;

// lg
@include respond-above(lg) {
    
    .admin__view {
        grid-template-rows: $admin-toolbar-height auto;

        .admin__toolbar {
            height: $admin-toolbar-height;
            grid-template-columns: $navigation-menu-width auto;
        }

        .admin__view__wrapper {
            grid-template-columns: $navigation-menu-width auto;
            height: calc(100vh - #{$admin-toolbar-height});

            .admin__view__navigation {
                width: $navigation-menu-width;
            }

            .admin__view__content {

            }

            &.rolled-up {
                transform: translateX(-$navigation-menu-roll-up-width);
                width: calc(100% + #{$navigation-menu-roll-up-width});

                .admin__view__navigation {
                    // transform: translateX(0px);
                }
                .admin__view__content {
                    // transform: translateX($navigation-menu-width-sm);
                }
            }
        }
    }
}

// md
@include respond-below(lg) {
    .admin__view {
        grid-template-rows: $admin-toolbar-height auto;

        .admin__toolbar {
            grid-template-columns: 1fr; //Layout //$navigation-menu-width-sm
            height: $admin-toolbar-height;

            &__logo-section {
                display: none;
            }
        }

        .admin__view__wrapper {
            grid-template-columns: 0 auto;
            height: calc(100vh - #{$admin-toolbar-height});

            .admin__view__navigation {
                width: $navigation-menu-width-sm;
                transform: translateX(-$navigation-menu-width-sm);

            }

            .admin__view__content {

            }

            &.opened {
                transform: translateX($navigation-menu-width-sm);

                .admin__view__navigation {
                    // transform: translateX(0px);
                }
                .admin__view__content {
                    // transform: translateX($navigation-menu-width-sm);
                }
            }

            &.closed {
                transform: translateX(0);

                .admin__view__navigation {
                    // transform: translateX(-$navigation-menu-width-sm);
                }

                .admin__view__content {
                    // transform: translateX(0px);
                }
            }
        }
    }
}