<div class="backups-editor">
    <div class="backups-editor__wrapper">
        <ta-loader-button [textContent]="localization.get('backups_form')" [percents]="backupCreatingTime$ | async" [disabled]="isBackupCreating"
            (click)="onDownloadFile()">
        </ta-loader-button>
        <ta-loader-button [textContent]="localization.get('backups_upload')" [percents]="isBackupUploadingProgress$ | async"
            [disabled]="isBackupUploading" (click)="fileSelector.open()"></ta-loader-button>
    </div>
    <ta-file-selector [allowedExtensions]="extensions" #fileSelector="fileSelector" (select)="onUploadFile($event)">
    </ta-file-selector>
    <ta-file-downloader #downloader>
    </ta-file-downloader>
</div>