<div class="backups-editor">
    <div class="backups-editor__wrapper">
        <div class="backups-editor__description">
            <p>Последний бэкап "{{backupLastFileName}}" от {{backupLastCreate}}</p>
            <p>* Формирование бэкапа может занимать до 5 минут</p>
        </div>
        <div class="backups-editor__buttons">
            <ta-loader-button [textContent]="localization.get('backups_form')" [percents]="backupCreatingTime$ | async"
                [disabled]="isBackupCreating" (click)="onDownloadFile()">
                <div class="backups-editor__button-timer">
                    <ta-count *ngIf="isBackupCreating"></ta-count>
                </div>
            </ta-loader-button>
            <ta-loader-button [textContent]="localization.get('backups_upload')"
                [percents]="backupUploadingTime$ | async" [disabled]="isBackupUploading" (click)="fileSelector.open()">
                <div class="backups-editor__button-timer">
                    <ta-count *ngIf="isBackupUploading"></ta-count>
                </div>
            </ta-loader-button>
        </div>
    </div>
    <ta-file-selector [allowedExtensions]="extensions" #fileSelector="fileSelector" (select)="onUploadFile($event)">
    </ta-file-selector>
    <ta-file-downloader #downloader>
    </ta-file-downloader>
</div>