<ng-template #tmpBaseHeaderContent let-data>
    <span class="header-base__title">{{data.title}}</span>
    <span class="header-base__icon" [ngClass]="{headerIconBase: !!headerIconBase}">
        <div *ngIf="opened; else iconClosed" class="icon-checkbox-check"></div>
        <ng-template #iconClosed>
            <div *ngIf="opened; else iconClosed" class="icon-banners"></div>
        </ng-template>
    </span>
</ng-template>
<div class="expansion-panel">
    <div class="expansion-panel__wrapper">
        <div class="expansion-panel__header" (click)="toggleExpand($event)">
            <ng-container
                *ngTemplateOutlet="(!headerTemplate ? tmpBaseHeaderContent : headerTemplate); context: {$implicit: headerTemplateData}">
            </ng-container>
        </div>
        <div class="expansion-panel__content" [ngClass]="{'opened': opened, 'closed': !opened}">
            <ng-content></ng-content>
        </div>
    </div>
</div>