@import "../../../themes/theme";
@import "../../../abstracts/vars";
@import "../../../mixins";

.node-tree__stores {

}

@media screen and (min-width: 600px) {
  .node-tree__stores {
    padding: 0 36px;
  }

  .node-tree__editor {
    padding: 0 36px 36px 0;
  }
}

@media screen and (max-width: 599px) {
  .node-tree__stores {
    padding: 0 20px;
  }

  .node-tree__editor {
    padding: 0 20px 20px 0;

    .node-tree {
      font-size: 0.75em;
    }
  }
}