<form *ngIf="isEditMode && !isEdit; else editForm" (keydown)="onEnterSubmit($event)" autocomplete="off">
    <div style="width: 100%;">
        <div>
            <h1 class="form-header">
                Информация об устройстве
            </h1>

            <div class="form__main-options">
                <div class="form__block" *ngIf="!!data">
                    <div class="form-item full-width">
                        <ta-key-value [data]="data.terminalName"></ta-key-value>
                    </div>

                    <div class="form-item full-width">
                        <ta-key-value [data]="data.terminalType"></ta-key-value>
                    </div>

                    <div class="form-item full-width">
                        <ta-key-value [data]="data.terminalImei"></ta-key-value>
                    </div>

                    <div class="form-item full-width">
                        <ta-key-value [data]="data.terminalStatus"></ta-key-value>
                    </div>

                    <div class="form-item full-width">
                        <ta-key-value [data]="data.terminalLastwork"></ta-key-value>
                    </div>
                </div>

                <h1 class="form-header">
                    Магазин
                </h1>

                <div class="form__block" *ngIf="!!data">
                    <div class="form-item full-width">
                        <ta-key-value [data]="data.terminalStoreName"></ta-key-value>
                    </div>

                    <div class="form-item full-width">
                        <ta-key-value [data]="data.terminalStoreAddress"></ta-key-value>
                    </div>
                </div>

                <h1 class="form-header">
                    Лицензия
                </h1>

                <ng-container *ngIf="!license; else licenseInfo">
                    Лицензия отсутствует.
                </ng-container>
                <ng-template #licenseInfo>
                    <div class="form__block" *ngIf="!!data">
                        <div class="form-item full-width">
                            <ta-key-value [data]="data.terminalLicenseType"></ta-key-value>
                        </div>

                        <div class="form-item full-width">
                            <ta-key-value [data]="data.terminalLicenseDateStart"></ta-key-value>
                        </div>

                        <div class="form-item full-width">
                            <ta-key-value [data]="data.terminalLicenseDateEnd"></ta-key-value>
                        </div>
                    </div>
                </ng-template>

                <h1 class="form-header">
                    Конфигурация
                </h1>

                <ng-container *ngIf="!terminal?.config; else configuration">
                    Конфигурация отсутствует.
                </ng-container>

                <ng-template #configuration>
                    <div class="form__block" *ngIf="!!data">
                        <!-- KIOSK -->
                        <ng-container *ngIf="terminal.type === TerminalTypes.KIOSK">
                            <div class="form-item full-width">
                                <ta-key-value [data]="data.terminalConfigTheme"></ta-key-value>
                            </div>

                            <div class="form-item full-width">
                                <ta-key-value [data]="data.terminalKioskConfigSuffix"></ta-key-value>
                            </div>
                        </ng-container>

                        <!-- ORDER PICKER -->
                        <ng-container *ngIf="terminal.type === TerminalTypes.ORDER_PICKER">
                            <div class="form-item full-width">
                                <ta-key-value [data]="data.terminalConfigTheme"></ta-key-value>
                            </div>
                        </ng-container>

                        <!-- EQUEUE -->
                        <ng-container *ngIf="terminal.type === TerminalTypes.EQUEUE">
                            <div class="form-item full-width">
                                <ta-key-value [data]="data.terminalConfigTheme"></ta-key-value>
                            </div>

                            <div class="form-item full-width">
                                <ta-key-value [data]="data.terminalEQConfigLayoutNewColumns"></ta-key-value>
                            </div>

                            <div class="form-item full-width">
                                <ta-key-value [data]="data.terminalEQConfigLayoutNewRows"></ta-key-value>
                            </div>

                            <div class="form-item full-width">
                                <ta-key-value [data]="data.terminalEQConfigLayoutCompleteColumns"></ta-key-value>
                            </div>

                            <div class="form-item full-width">
                                <ta-key-value [data]="data.terminalEQConfigLayoutCompleteRows"></ta-key-value>
                            </div>
                        </ng-container>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="form__submit" align="end">
        <button mat-button class="button button__text" (click)="onCancel()">Закрыть</button>
        <button mat-flat-button color="accent" class="button button__text" (click)="onEdit()">
            Редактировать
        </button>
    </div>
</form>

<ng-template #editForm>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown)="onEnterSubmit($event)" autocomplete="off">
        <h1 class="form-header">
            Информация об устройстве
        </h1>

        <div class="form__input-block">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Имя терминала</mat-label>
                    <input matInput type="text" formControlName="name" placeholder="Имя терминала" required>
                    <mat-error *ngIf="ctrlName.hasError('required')">
                        <strong>обязательное</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="form__input-block">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Магазин</mat-label>
                    <mat-select formControlName="storeId" required>
                        <mat-option *ngFor="let store of stores" [value]="store.id">{{store.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <h1 class="form-header">
            Конфигурация
        </h1>

        <!-- KIOSK -->
        <ng-container *ngIf="terminal.type === TerminalTypes.KIOSK">
            <ta-terminal-kiosk-config formControlName="config"></ta-terminal-kiosk-config>
        </ng-container>

        <!-- ORDER PICKER -->
        <ng-container *ngIf="terminal.type === TerminalTypes.ORDER_PICKER">
            <ta-terminal-order-picker-config formControlName="config"></ta-terminal-order-picker-config>
        </ng-container>

        <!-- EQUEUE -->
        <ng-container *ngIf="terminal.type === TerminalTypes.EQUEUE">
            <ta-terminal-eq-config formControlName="config"></ta-terminal-eq-config>
        </ng-container>

        <div class="form__submit" align="end">
            <button mat-button class="button button__text" (click)="onEditCancel()">Отменить</button>
            <button mat-flat-button color="accent" type="submit" class="button button__text"
                [disabled]="!form.valid">{{isEditMode ? 'Сохранить' : 'Создать'}}</button>
        </div>
    </form>
</ng-template>