@import "../../../../../styles/components/color-picker";
@import "../../../../../styles/themes";
@import "../../../../../styles/utils/px2em";

.tag-content {
    margin-top: px2em(44);
    margin-bottom: px2em(44);

    .tag__description {
        height: px2em(250);
    }
}
