<div [ngClass]="{'tag-content': true, 'main-options-wrapper': isEditMode}">
  <h2 class="form-header" *ngIf="!!data">
    {{data.name.value}}
  </h2>

  <div class="resources" *ngIf="isEditMode">
    <div class="resources-wrapper double">
      <div class="resources-n">
        <p class="form-header">
          Изображения
        </p>

        <ta-asset-picker-uploader [needConfirmation]="isDirty" [resetButtonShow]="!isDefault"
          [resetButtonDisabled]="isEqualWithDefault('main')" (reset)="onResetResourceToDefault('main')"
          [defaultValue]="!!content && !!content.resources ? content.resources.main : undefined" [assets]="assets"
          class="transparent" (confirm)="onConfirmSave($event)" (upload)="onMainResourceUpload($event, 'main')">
        </ta-asset-picker-uploader>
      </div>

      <div class="resources-s">
        <p class="form-header">
          Иконка
        </p>

        <ta-asset-picker-uploader [needConfirmation]="isDirty" [resetButtonDisabled]="isEqualWithDefault('icon')"
          (reset)="onResetResourceToDefault('icon')" [showUploadButton]="false"
          [defaultValue]="!!content && !!content.resources ? content.resources.icon : undefined" [assets]="assets"
          [color]="color" class="transparent" (confirm)="onConfirmSave($event)"
          (upload)="onIconResourceUpload($event, 'icon')">
        </ta-asset-picker-uploader>
      </div>
    </div>

    <div class="resources-wrapper single" *ngIf="isEdit">
      <div class="full-width">
        <div class="form-item">
          <ta-color-picker [resetButtonShow]="!isDefault" [resetButtonDisabled]="isColorDefault()"
            (reset)="onResetColorToDefault()" [control]="ctrlColor" cpPosition="bottom"></ta-color-picker>
        </div>
      </div>
    </div>
  </div>

  <div>
    <ng-container *ngIf="!isEdit; else editFields">
      <div class="form__block" *ngIf="!!data">
        <div class="form-item full-width">
          <ta-key-value [data]="data.description"></ta-key-value>
        </div>

        <div class="form-item full-width">
          <ta-key-value [data]="data.color"></ta-key-value>
        </div>
      </div>
    </ng-container>
    <ng-template #editFields>
      <div class="form__main-options">
        <div class="form__input-block">
          <div class="form-item">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Имя</mat-label>
              <input matInput type="text" [formControl]="ctrlName" placeholder="Имя" required>
              <mat-error *ngIf="ctrlName.hasError('required')">
                Имя - <strong>обязательное</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-item">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Описание</mat-label>
              <textarea matInput class="selector__description" type="text" [formControl]="ctrlDescription"
                placeholder="Описание"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>