<div [ngClass]="{'business-period-content': true}">
  <div>
    <h1 class="form-header" *ngIf="!!data">
      {{data.name.value}}
    </h1>

    <ng-container *ngIf="!isEdit; else editFields">
      <div class="form__block" *ngIf="!!data">
        <div class="form-item full-width">
          <ta-key-value [data]="data.description"></ta-key-value>
        </div>
      </div>
    </ng-container>
    <ng-template #editFields>
      <div class="form__main-options">
        <div class="form__input-block">
          <div class="form-item">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Имя</mat-label>
              <input matInput type="text" [formControl]="ctrlName" placeholder="Имя" required>
              <mat-error *ngIf="ctrlName.hasError('required')">
                Имя - <strong>обязательное</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-item">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Описание</mat-label>
              <textarea matInput class="business-period__description" type="text" [formControl]="ctrlDescription"
                placeholder="Описание"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>