@import "../../../../../styles/components/color-picker";
@import "../../../../../styles/themes";
@import "../../../../../styles/utils/px2em";

.business-period-content {
    margin-top: px2em(44);
    margin-bottom: px2em(44);

    .business-period__description {
        height: px2em(80);
    }
}
