<form [formGroup]="form" (ngSubmit)="onSave()" (keydown)="onEnterSubmit($event)" autocomplete="off">
    <div>
        <div>
            <h2 class="form-header">
                Приложение
            </h2>

            <div class="form__main-options">
                <div class="form__input-block">

                    <div class="form-item">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Тип</mat-label>
                            <mat-select [formControl]="ctrlTerminalType" required>
                                <mat-option *ngFor="let terminalType of terminalTypes" [value]="terminalType.value">
                                    <span>
                                        {{terminalType.name}}
                                    </span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-item">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>ID продукта</mat-label>
                            <input matInput type="text" formControlName="productId" placeholder="ID продукта" required>
                            <mat-error *ngIf="ctrlProductId.hasError('required')">
                                <strong>обязательное</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-item">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Имя</mat-label>
                            <input matInput type="text" formControlName="name" placeholder="Имя" required>
                            <mat-error *ngIf="ctrlName.hasError('required')">
                                <strong>обязательное</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-item">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Описание</mat-label>
                            <input matInput type="text" formControlName="description" placeholder="Описание">
                        </mat-form-field>
                    </div>
                    <div class="form__input-block">
                        <p class="form-header">
                            Версия
                        </p>
                        <ta-version formControlName="version"></ta-version>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form__submit" align="end">
        <button class="button-create button__text" (click)="onCancel()">
            {{localization.get("common_action-close")}}
        </button>
        <button type="submit" class="button-create button__text"
            [disabled]="!form.valid">{{isEditMode ? 'Сохранить' : 'Создать'}}</button>
    </div>
</form>