<div class="admin__view">

    <!-- <mat-toolbar class="main-toolbar admin__toolbar"> -->
    <div class="main-toolbar admin__toolbar">

        <!--Logo section (menu.width)-->
        <div class="admin__toolbar__logo-section">
            <div class="admin__toolbar__logo-section__container">
                <span *ngIf="isMobile$ | async">
                    <button mat-icon-button (click)="toggleSidenav()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </span>
                <!--Logo-->
                <!-- <div class="admin__logo">
                    <div class="admin__logo__container">
                        <div class="admin__logo__icon icon-logo-tornado-server"></div>
                    </div>
                </div> -->
            </div>
        </div>
        <!--Logo section (menu.width)-->



        <!--Toolbar section (menu.width)-->
        <div class="admin__toolbar__navigation-section">
            <div class="admin__toolbar__navigation-section__container">

                <!--Left Group-->
                <div class="admin__toolbar__navigation-section__left-group">
                    <!--Navigation Toggle Button-->
                    <div [ngClass]="{'navigation-menu__toggle-button': true, 'active': isMenuOpened, 'inactive': !isMenuOpened}"
                        (click)="onToggleMenu()">
                    </div>
                    <!--Navigation Toggle Button-->
                    <div class="admin__toolbar__navline__group">

                        <!-- Navline-->
                        <!-- <span class="admin__toolbar__page-title parent">{{localization.get((parentRoute$ |
                            async)?.name)}}</span>
                        <span class="admin__toolbar__page-title">{{localization.get((currentRoute$ |
                            async)?.name)}}</span> -->
                        <!--Navline -->

                        <!--Folder Header-->
                        <div class="folder-header">
                            <div class="folder-header__container">
                                <div class="folder-header__left-corner">
                                    <svg width="30" height="54" viewBox="0 0 30 54" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0 24C0 12.6863 0 7.02944 3.51472 3.51472C7.02944 0 12.6863 0 24 0H30V54H0V24Z"
                                            fill="white" />
                                    </svg>
                                </div>
                                <div class="folder-header__content">
                                    <div class="folder-header__content__group">
                                        <div class="folder-header__title-group">
                                            <p class="folder-header__title secondary">{{localization.get((parentRoute$ |
                                                async)?.name)}}</p>
                                            <p class="folder-header__title">{{localization.get((currentRoute$ |
                                                async)?.name)}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="folder-header__right-corner">
                                    <svg width="83" height="54" viewBox="0 0 83 54" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0 0V0C7.88819 0 11.8323 0 15.3783 1.40334C15.9393 1.62534 16.4899 1.87261 17.0285 2.14439C20.4332 3.86239 23.0536 6.81025 28.2942 12.706L53.0414 40.5466C56.5773 44.5245 58.3452 46.5134 60.3622 48.0852C63.9118 50.8516 68.0761 52.7216 72.502 53.5368C75.0168 54 77.6778 54 83 54V54H0V0Z"
                                            fill="white" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <!--Folder Header-->
                    </div>
                </div>

                <span class="spacer"></span>

                <!--Right Group-->
                <div class="admin__toolbar__navigation-section__right-group">

                    <span class="admin__toolbar__link">
                        <a href="#">
                            {{localization.get("common_documentation")}}
                        </a>
                    </span>

                    <!--Lang-->

                    <span class="tab-button__group">
                        <!--Theme-->
                        <span class="theme-button tab-button__group inverse">
                            <button class="tab-button" (click)="onThemeToggle()">
                                <div class="tab-button__container">
                                    <div [ngClass]="btnThemeClasses"></div>
                                </div>
                            </button>
                        </span>

                        <ng-template #languagePickerItemRenderer let-data="data">
                            <span class="dropdown-selector__option-image sm">
                                <img [src]="data.data.__img__">
                            </span>
                            {{data.data.__name__}}
                        </ng-template>
                        <ta-select [formControl]="ctrlLanguage" [items]="languages" valuePropName="code"
                            displayValuePropName="data.__name__" [itemRenderer]="languagePickerItemRenderer">
                        </ta-select>
                        <!--Lang-->
                    </span>

                    <!--Sign-out-->
                    <button (click)="signout()" class="admin-toolbar__button">
                        <p>
                            {{localization.get("common_exit")}}
                        </p>
                        <span class="admin-toolbar__icon icon-signout"></span>
                    </button>
                </div>
            </div>
        </div>
        <!--Toolbar section (menu.width)-->




        <!-- </mat-toolbar> -->
    </div>

    <div
        [ngClass]="{'drawer-container': true, 'admin__view__wrapper': true, 'opened': isMenuOpened, 'closed': !isMenuOpened}">
        <div class="admin__view__navigation">
            <!--Toggle Button-->
            <div class="navigation-menu__rollup-button">
                <div class="navigation-menu__rollup-button__icon">
                    <div class="navigation-menu__rollup-button__icon__symbol icon-menu-arrow">
                    </div>
                </div>
                <svg width="22" height="80" viewBox="0 0 22 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M17.0581 10.5941L4.94194 19.4059C1.83701 21.664 0 25.2715 0 29.1107V50.8893C0 54.7285 1.83701 58.336 4.94194 60.5941L17.0581 69.4059C20.163 71.664 22 75.2715 22 79.1107V0.889305C22 4.72854 20.163 8.33601 17.0581 10.5941Z" />
                </svg>
            </div>
            <!--Toggle Button-->
            <div class="admin__view__navigation__scroll-view">
                <!-- Navigation Menu -->
                <ta-navigation-menu [size]="(size$ | async)" [collection]="roteCollection"
                    [selected]="currentRouteIndex$ | async" (select)="selectRoute($event)">
                </ta-navigation-menu>
                <!-- Navigation Menu -->
            </div>
        </div>
        <div class="admin__view__content">
            <!-- <div class="saturn-page-logo__wrapper workflow" ngClass.xs="centered" ngClass.sm="medium">
                <img class="saturn-page-logo" src="embeded-assets/icons/saturn-page-logo.svg">
            </div> -->
            <div class="admin__view__content__scroll-view">
                <main>
                    <router-outlet></router-outlet>
                </main>
            </div>
        </div>
    </div>
</div>



<!-- old sidenav 
<mat-sidenav-container (backdropClick)="closeSidenav()" [hasBackdrop]="isMobile$ | async"
    class="drawer-container admin__view__wrapper">
    <mat-sidenav class="mat-elevation-z2 admin__view__navigation" role="navigation" ngClass.xs="sidenav--xs"
        [class.is-mobile]="isMobile$ | async" [mode]="(isMobile$ | async) ? 'push' : 'side'"
        [opened]="(sidenavIsOpen$ | async) || !(isMobile$ | async)">
        <ta-navigation-menu [size]="(size$ | async)" [collection]="roteCollection"
            [selected]="currentRouteIndex$ | async" (select)="selectRoute($event)">
            <div class="navigation-menu__toggle-button">
                <div class="navigation-menu__toggle-button__icon">
                    <div class="navigation-menu__toggle-button__icon__symbol icon-menu-arrow">
                    </div>
                </div>
                <svg width="22" height="80" viewBox="0 0 22 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M17.0581 10.5941L4.94194 19.4059C1.83701 21.664 0 25.2715 0 29.1107V50.8893C0 54.7285 1.83701 58.336 4.94194 60.5941L17.0581 69.4059C20.163 71.664 22 75.2715 22 79.1107V0.889305C22 4.72854 20.163 8.33601 17.0581 10.5941Z" />
                </svg>
            </div>
        </ta-navigation-menu>
    </mat-sidenav>
    <mat-sidenav-content class="content admin__view__content">
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- old sidenav -->






<!-- 
<div class="wrapper admin__wrapper">
    <div class="main-toolbar admin__toolbar">
        <span *ngIf="isMobile$ | async">
            <button mat-icon-button (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </span>
        <span class="page-title">{{(currentRoute$ | async)?.name}}</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="signout()">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
    <div id="admin__view__wrapper">
        <div>
            <ta-navigation-menu [collection]="roteCollection" [selected]="currentRouteIndex$ | async"
                (select)="selectRoute($event)">
            </ta-navigation-menu>
        </div>
        <div class="content admin__view__content">
            <div class="saturn-page-logo__wrapper workflow" ngClass.xs="centered" ngClass.sm="medium">
                <img class="saturn-page-logo" src="embeded-assets/icons/saturn-page-logo.svg">
            </div>
            <main>
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div> -->