<mat-toolbar color="primary" class="mat-elevation-z4">
    <div *ngIf="isMobile$ | async">
        <button mat-icon-button (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <span class="page-title">{{currentRouteIndex$ | async}}</span>
</mat-toolbar>
<mat-sidenav-container (backdropClick)="drawerClose()" #sidenavContainer [hasBackdrop]="isMobile$ | async"
    class="drawer-container">
    <mat-sidenav #sidenav class="mat-elevation-z2" role="navigation"
        [class.is-mobile]="isMobile$ | async"
        [mode]="(isMobile$ | async) ? 'push' : 'side'"
        [opened]="(sidenavIsOpen$ | async) || !(isMobile$ | async)">
        <mat-nav-list role="listitem">
            <a *ngFor="let item of roteCollection; let i = index;" mat-list-item type="button" (click)="selectRoute(i)" [class.active]="(currentRouteIndex$ | async) === i">
                <span class="label">{{item.name}}</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>