<mat-toolbar color="primary" class="mat-elevation-z4">
    <div *ngIf="isMobile$ | async">
        <button mat-icon-button (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <span class="page-title">{{currentRouteIndex$ | async}}</span>
</mat-toolbar>
<mat-sidenav-container (backdropClick)="drawerClose()" #sidenavContainer [hasBackdrop]="isMobile$ | async"
    class="drawer-container">
    <mat-sidenav #sidenav class="mat-elevation-z2" role="navigation"
        [class.is-mobile]="isMobile$ | async"
        [mode]="(isMobile$ | async) ? 'push' : 'side'"
        [opened]="(sidenavIsOpen$ | async) || !(isMobile$ | async)">
        <mat-nav-list role="listitem">
            <a *ngFor="let item of roteCollection; let i = index;" mat-list-item type="button" (click)="selectRoute(i)" [class.active]="(currentRouteIndex$ | async) === i">
                <span class="label">{{item.name}}</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>


<!--<mat-drawer-container class="example-container" [hasBackdrop]="hasBackdrop.value">
    <mat-drawer #drawer [mode]="mode.value">I'm a drawer</mat-drawer>
    <mat-drawer-content>
      <mat-form-field>
        <mat-label>Sidenav mode</mat-label>
        <mat-select #mode value="side">
          <mat-option value="side">Side</mat-option>
          <mat-option value="over">Over</mat-option>
          <mat-option value="push">Push</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Has backdrop</mat-label>
        <mat-select #hasBackdrop>
          <mat-option>Unset</mat-option>
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
    </mat-drawer-content>
  </mat-drawer-container>-->