@font-face {
  font-family: "Roboto";
  src: url("~embeded-assets/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
    url("~embeded-assets/fonts/Roboto-Medium.woff") format("woff"),
    url("~embeded-assets/fonts/Roboto-Medium.ttf") format("truetype"),
    url("~embeded-assets/fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("~embeded-assets/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("~embeded-assets/fonts/Roboto-Regular.woff") format("woff"),
    url("~embeded-assets/fonts/Roboto-Regular.ttf") format("truetype"),
    url("~embeded-assets/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: 500;
  font-style: normal;
}
