@import "./../abstracts/vars";

// $max-size: 2em;
// $step: 0.2em;

// $color-1: $color-text-main;
// $color-2: rgba($color-text-main, 0.47);

// @for $i from 0 through 7 {
//   h#{$i + 1} {
//     font-size: $max-size - $step;
//     font-family: inherit;
//     @if $i <= 5 {
//       font-weight: 500;
//       color: $color-1;
//     } @else {
//       font-weight: 400;
//       color: $color-2;
//     }
//   }
// }

// p {
//     font-size: $max-size / 2;
//     font-weight: 400;
//     color: $color-2;
//     padding: 0;
//     margin: 0;
// }


html,
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    overflow: hidden;

    p {
      padding: 0;
      margin: 0;
    }
}