@import "../../utils/px2em";
@import "../../abstracts/vars";
@import "../../base/reset-input";
@import "../../mixins";

.search {
    display: flex;
    position: relative;
    vertical-align: middle;
    // box-shadow: inset 0px 2px 6px rgba($black, 0.05);
    padding: $search-padding;
    border-radius: 32px;
    height: 36px;

    &__form {
        display: flex;
        position: relative;
        width: 100%;

        &__container {
            display: flex;
            position: relative;
            justify-content: space-between;
            width: 100%;
        }

        &__button-search {
            display: flex;
            position: relative;
            background: none;
            // color: $secondary-color;
            margin-right: 7px;
            z-index: 2;
            @include transition(width border, 75ms 75ms, ease, 150ms);

            //Icon
            &__icon {
                display: block;
                position: relative;
                font-size: $search-button-search-icon-size;
                line-height: 1;
                margin: auto;
                color: rgba($secondary-color, 0.4);
                // @extend .icon-search;
                
                &:before {
                    content: "\e917";
                }
            }
        }

        &__button-clear {
            display: flex;
            position: absolute;
            right: 0;
            width: 20px;
            height: 100%;
            margin: 0;
            z-index: 2;
            @include transition(width border, 75ms 75ms, ease, 150ms);

            &__container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                background-color: $primary-color;//$search-button-clear-background-color;
                color: $background-color;//$search-button-clear-color;
                border-radius: $search-button-clear-border-radius;
                @include box($search-button-clear-size);
            }

            &:active {
                opacity: 0.5;
                transform: scale(90%);
            }

            //Icon
            &__icon {
                display: block;
                position: relative;
                font-size: $search-button-clear-icon-size;
                line-height: 1;
                margin: auto;
                color: $white;
                // @extend .icon-search-cross;
                
                &:before {
                    content: "\e916";
                }
            }
        }

        //Remove default button styles
        button {
            padding: 0;
            border: none;
            font: inherit;
            outline: inherit;  
        }

        //Label don't used now
        &__label {
            display: none;
        }

        &__text-field {
            @include reset-input();
            display: block;
            position: relative;
            color: $search-text-field-color;
            width: calc(100% - #{$search-button-clear-size});
            
            &::placeholder {
                font-weight: 400;
                font-size: $search-text-field-placeholder-size;
                color: $search-text-field-color-closed;
            }
        }
    }
    //Search opened
    &.focused {
        // @include transition(width border, 125ms 125ms, ease, 150ms);
        // border: $search-border-opened;

        &__form {

            &__button-search {
                
                &__icon {
                    color: $secondary-color;
                }
            }

        }
    }
    //Search closed
    // & {
    //     @include transition(width border, 75ms 75ms, ease);
    //     border: $search-border-closed;
    //     width: $search-width-closed;
    // }

    // &:hover {
    //     animation-duration: 125ms;
    //     animation-timing-function: ease;
    //     animation-name: search-move-animation-in;
    //     width: $search-width-opened;

    //     input::placeholder, input::-webkit-input-placeholder {
    //         color: $search-text-field-color-opened;
    //     }
    // }

    //Search isFill
    &.typed {

        .search__form__button-clear {
            opacity: 1.0;
        }
    }
    //Search isEmpty
    &.empty {

        .search__form__button-clear {
            opacity: 0.0;
        }
    }
}