.entity-sheet-editor {
    @extend .page-content;

    &__header {
        @include flexbox();
        width: 100%;
        padding-bottom: 15px;
    }

    //Button Back
    &__back-button {
        cursor: pointer;
        
        &-container {
            @include flexbox();
            @include align-items(center);
            @extend .icon-menu-arrow;
            gap: 10px;

            &::before {
                font-family: icomoon;
                font-size: 13px;
            }
            
            p {
                font-size: 14px;
                color: $primary-color;
            }
        }

        &:hover {
            opacity: 0.75;
        }
    }
}

.entity-sheet {
    background-color: $white;
    border-radius: $entity-sheet-border-radius;
    border-style: solid;
    border-width: $entity-sheet-border-width;
    border-color: $entity-sheet-border-color;
    overflow: hidden;
    
    &-container {
        @extend .sheet-container;
        @include flexbox();
        @include flex-direction(column);
        padding-top: 20px;
        padding-bottom: 30px;
    }

    &-content {
        @include flexbox();
        @include flex-direction(column);
        gap: 10px;
        width: 100%;
    }

    // Header
    &__header, &__header--border, &__header--accent {
        @include flexbox();
        @include flex-direction(column);
        padding-top: 40px;
        padding-bottom: 40px;

        &-container {
            @extend .sheet-container;
        }

        &-content {
            @include flexbox();
            @include flex-direction(column);
            gap: 10px;
        }

        &-title {
            font-size: 24px;
            letter-spacing: $letter-spacing;
            line-height: $line-height;
            color: $primary-color;//Theme
        }

        p {
            font-size: 16px;
            letter-spacing: $letter-spacing;
            line-height: $line-height;
            color: $primary-color;
        }

        &.secondary {
            // etc
        }
    }

    // Body
    &__body {
        @include flexbox();
        @include flex-direction(column);    

        &-container {
            @extend .sheet-container;
            padding-top: 40px;
            padding-bottom: 40px;
        }

         &-content {
            @include flexbox();
            @include flex-direction(column);
            gap: 10px;
        }
    }
    // Footer
    &__footer, &__footer--submit, &__footer--border {
        @include flexbox();
        @include flex-direction(column);
        padding-top: 20px;
        padding-bottom: 40px;

        &-container {
            @extend .sheet-container;
        }

        &-content {
            @include flexbox();
            @include flex-direction(column);
            gap: 10px;
        }
    }

    // Section
    &__section {
        @include flexbox();
        @include flex-direction(column);

        &.divided {
            border-bottom: 1px solid $component-border-color;
        }
        // padding-top: 0px;
        // padding-bottom: 0px;

        &-container {
            @extend .sheet-container;
        }

        &-content {
            @include flexbox();
            @include flex-direction(column);
            gap: 10px;
        }

        // Section Header
        &__header {
            @include flexbox();
            @include flex-direction(column);
            padding-top: 15px;
            padding-bottom: 10px;

            &-title {
                font-size: 24px;
                letter-spacing: $letter-spacing;
                line-height: $line-height;
                color: $primary-color;//Theme
            }
        }

        // Section not First
        &:not(:nth-child(1)) {
            
            .entity-sheet__section-container {
                padding-top: 20px;
            }
        }
        // Section is First
        &:nth-child(1) {

            .entity-sheet__section-container {
                padding-top: 40px;
            }
        }
    }

    &-help, &-help * {
        font-size: 12px;
        color: $neutral-color;
        // opacity: 0.5;
        padding-top: 10px;
        padding-bottom: 0px;
    }
}