.entity-sheet {

    // Header
    &__header {

        &--border {
            @extend .entity-sheet__header;
            border-bottom: 1px solid $divider-color;
        }

        &--accent {
            @extend .entity-sheet__header;
            border-bottom: 1px solid lighten($entity-sheet-header-accent-color, 36%);
            background-color: lighten($entity-sheet-header-accent-color, 39%);
        }
    }

    // Footer
    &__footer {

        &--footer-border {
            @extend .entity-sheet__footer;
            border-top: 1px solid $component-border-color;
        }

        &--submit {
            @extend .entity-sheet__footer;
            border-top: 1px solid $component-border-color;

            .entity-sheet__footer-container {

            }

            .entity-sheet__footer-content {
                @include flex-direction(row);
                @include justify-content(flex-end);
            }
        }
    }

    &__section {

        &-container.border-bottom {
            border-bottom: 1px solid $component-border-color;
        }
    }
}