<div
    [ngClass]="{'search': true, 'opened': isHover, 'closed': !isHover, 'focused': isFocused, 'empty': !isFill, 'typed': isFill}">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="search__form">
        <div class="search__form__container">
            <!--<label for="state-panel-search" class="search__form__label">Поиск</label>-->
            <button class="search__form__button-clear" type="button" (click)="clear()">
                <span class="search__form__button-clear__icon">x</span>
            </button>
            <input [placeholder]="placeholder" class="search__form__text-field" formControlName="search"
                (focus)="onFocus()" (blur)="onBlur()" (mouseover)="onOver()" (mouseout)="onOut()" />
        </div>
    </form>
</div>