@import "../state-panel";

$editor-container-padding-bottom: 30px;
$editor-container-padding-top: 38px;

$editor-container-with-expansion-groups-padding-top: 38px;

// $entities-container-padding: 10px 30px 0px 40px;
// $entities-container-padding-sm: 10px 20px 0px 20px;

$entities-container-padding-top: 10px;
$entities-container-padding-bottom: 0px;

$entities-container-padding-left: 40px;
$entities-container-padding-right: 30px;

$entities-container-padding-left-md: 20px;
$entities-container-padding-right-md: 20px;

$enities-cards-gap: 25px;
$enities-list-gap: 15px;