$entity-container_padding: 15px;

//Footer
$entity-footer-container_cards_padding: 0px $entity-container_padding;
$entity-footer-container_list_padding: 0px 5px;

$entity-control-container_cards_padding: 0px $entity-container_padding;
$entity-control-container_list_padding: 0px 15px;

$entity-width: 280px; //px2em(250);

//Content Group
$entity-title-font-size: 18px;
$entity-title-line-height: 1.5;

$entity-description-font-size: 13px;
$entity-description-line-height: 1.5;

$entity-coast-font-size: 18px;

//Containers
$entity-control-height: 53px;
$entity-footer-height: 52px;

$entity-body-cards-height: 130px;//168px;

$entity-border-radius: 8px;

//Templates
$entity-image-cards-size: 128px;
$entity-image-list-size: 80px;
$entity-image-radius: 6px;