$entity-container_padding: 15px;

//Footer
$entity-footer-container_cards_padding: 0px $entity-container_padding;
$entity-footer-container_list_padding: 0px 5px;

$entity-control-container_cards_padding: 0px 0px 0px $entity-container_padding;
$entity-control-container_list_padding: 0px $entity-container_padding;

$entity-width: 280px;

//Content Group
$entity-name-font-size: 16px;
$entity-name-line-height: 1.5;

$entity-description-font-size: 13px;
$entity-description-line-height: 1.5;

$entity-tag-name-font-size: 14px;
$entity-tag-name-line-height: 1.5;

$entity-coast-font-size: 18px;

//Containers
$entity-control-height: 44px;
$entity-footer-height: 44px;

$entity-body-cards-height: 110px;
$entity-body-cards-height-m: 90px;

$entity-border-radius: 8px;

//Templates
$entity-image-cards-size: $entity-body-cards-height - 2px;
$entity-image-cards-size-m: $entity-body-cards-height-m - 2px;
$entity-image-list-size: 76px;
$entity-image-list-size-m: 62px;
$entity-image-radius: 6px;