$entity-container_padding: 10px 15px;
$entity-width: 280px; //px2em(250);

//Content Group
$entity-title-font-size: 18px;
$entity-title-line-height: 1.5;

$entity-description-font-size: 13px;
$entity-description-line-height: 1.5;

$entity-coast-font-size: 18px;

//Containers
$entity-body-height: 168px;

$entity-border-radius: 8px;

//Templates
$entities-thumbnail-list-size: 80px;
$entities-thumbnail-card-size: 128px;