<div class="asset-picker" [ngClass]="{m: size === 'm', s: size === 's'}">
    <div class="asset-viewer">
        <div [style.background-color]="color" class="asset-preview__substract"></div>
        <div class="asset-preview" [style.background]="getThumbnail()"></div>
    </div>
    <div class="form-item">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Image</mat-label>
            <mat-select [formControl]="ctrlAssets">
                <mat-option *ngFor="let asset of assets" [value]="asset.id">{{asset.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>