<div class="editor">
    <ta-state-panel [refInfo]="refInfo" (search)="onSearch($event)"></ta-state-panel>
    <div class="entities-wrapper">
        <div class="entity" (click)="onEditBusinessPeriod(businessPeriod)" *ngFor="let businessPeriod of collection | search: searchPattern">
            <div matRipple class="entity-active-zone" [class.disabled]="!businessPeriod.active">
                <div class="content">
                    {{businessPeriod.name}}
                </div>
            </div>
            <div class="entity-checkbox-active">
                <mat-checkbox color="accent" #checkboxActive
                    [checked]="businessPeriod.active"
                    (click)="onToggleActive($event, businessPeriod)"></mat-checkbox>
            </div>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="entity-menu-button" (click)="onShowMenu($event)"
                aria-label="Menu">
                <mat-icon class="icon">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item type="button" (click)="onToggleActive($event, businessPeriod)">
                    <mat-icon>{{businessPeriod.active ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <span>{{businessPeriod.active ? 'Deactivate' : 'Active'}}</span>
                </button>
                <button mat-menu-item (click)="onEditBusinessPeriod(businessPeriod)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item (click)="onDeleteBusinessPeriod(businessPeriod)">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </div>
        <button color="accent" mat-raised-button class="button-add" (click)="onCreateBusinessPeriod()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>