@import "../../../utils/px2em";
@import "../../../abstracts/vars";
@import "../../../mixins";

.editor__group-list {

    .editor__group-list__header {
        font-size: 11px;
        text-transform: uppercase;
        @extend .entities-container;
        padding-top: 25px;
        padding-bottom: 5px;
    }
}