<mat-tab-group (selectedIndexChange)="onChangeTab($event)" #tabGroup>
  <mat-tab label="Категории конструктора продуктов" *ngIf="hasAllow(SelectContentFormRights.SCHEMA_CATEGORY)">
    <ta-entity-list [selectedDefaultEntityId]="selectedDefaultEntityId" [binder$]="contentSchemaSelectorsBinder$"
      [collection]="schemaSelectors" [assetsDictionary]="assetsDictionary" [languages]="languages"
      [defaultLanguage]="defaultLanguage" type="selector" (change)="onChange($event)"></ta-entity-list>
  </mat-tab>
  <mat-tab label="Категории меню" *ngIf="hasAllow(SelectContentFormRights.CATEGORIES)">
    <ta-entity-list [selectedDefaultEntityId]="selectedDefaultEntityId" [binder$]="contentMenuSelectorsBinder$"
      [collection]="selectors" [assetsDictionary]="assetsDictionary" [languages]="languages"
      [defaultLanguage]="defaultLanguage" type="selector" (change)="onChange($event)">
    </ta-entity-list>
  </mat-tab>
  <mat-tab label="Продукты" *ngIf="hasAllow(SelectContentFormRights.PRODUCTS)">
    <ta-entity-list [selectedDefaultEntityId]="selectedDefaultEntityId" [binder$]="contentProductsBinder$"
      [collection]="products" [assetsDictionary]="assetsDictionary" [languages]="languages"
      [defaultLanguage]="defaultLanguage" type="product" (change)="onChange($event)">
    </ta-entity-list>
  </mat-tab>
  <mat-tab label="Узлы" *ngIf="hasAllow(SelectContentFormRights.NODES)">
    <ta-node-list [selectedDefaultEntityId]="selectedDefaultEntityId" [binder$]="contentNodesBinder$"
      [collection]="nodes" [assetsDictionary]="assetsDictionary" [selectors]="selectors"
      [selectorsDictionary]="selectorsDictionary" [languages]="languages" [defaultLanguage]="defaultLanguage"
      type="selector-node" (change)="onChange($event)">
    </ta-node-list>
  </mat-tab>
</mat-tab-group>
