<div class="node-tree-item" *ngIf="!!node">
    <span class="node-tree-item-joint" *ngIf="!isRoot"></span>
    <span class="node-tree-item-wrapper">
        <div class="node-tree-item__content">
            <div matRipple class="content" (click)="toggleExpand()">
                <span>
                    <button mat-icon-button *ngIf="hasAllowSubCreation()">
                        <mat-icon>{{isExpanded ? 'expand_more' : 'chevron_right'}}</mat-icon>
                    </button>
                </span>
                <ng-container *ngIf="!isRoot; else root">
                    <span class="content__name" (click)="onSetContent($event)">
                        <!--<span>
                            <mat-icon>{{ node.type === 'selector' ? 'dynamic_feed' : 'crop_square'}}</mat-icon>
                        </span>-->
                        {{getContentName()}}
                    </span>
                </ng-container>
                <ng-template #root>
                    <span>
                        Root
                    </span>
                </ng-template>
                <span *ngIf="!isRoot">
                    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="onShowMenu($event)" aria-label="Menu">
                        <mat-icon class="icon">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onSetContent()">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item (click)="onDelete()">
                            <mat-icon>delete_forever</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </span>
            </div>
        </div>
        <div class="node-tree-item-way" *ngIf="isExpanded">
            <ta-node-tree-item *ngFor="let childId of node.children" [depth]="depth + 1" [nodeId]="childId"
                [nodesDictionary]="nodesDictionary" [products]="products" [selectors]="selectors"
                [productsDictionary]="productsDictionary" [selectorsDictionary]="selectorsDictionary" [mode]="mode"
                (create)="createNodeForChild($event)" (update)="updateNodeForChild($event)"
                (delete)="deleteNodeForChild($event)"></ta-node-tree-item>
            <button *ngIf="hasAllowSubCreation()" class="button-create" mat-flat-button color="accent"
                (click)="onCreate()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </span>
</div>