<div class="node-tree-item" *ngIf="!!node">
    <div class="node-item-way-hider" *ngIf="isInstanceChain && isLastChild"></div>
    <span class="node-tree-item-joint" *ngIf="!isRoot"></span>
    <span
        [ngClass]="{'node-tree-item-wrapper': true, 'is-instance': !!nodeInstance, 'disabled': (!!nodeInstance && !nodeInstance.active) || (!node.active)}">
        <div class="node-tree-item__content">
            <div matRipple class="content" [ngClass]="{
                'has-scenario': (!!node.scenarios && node.scenarios.length > 0) || (!!nodeInstance && !!nodeInstance.scenarios && nodeInstance.scenarios.length > 0),
                'is-instance': !!nodeInstance}" [class.lock]="!!lock"
                [class.disabled]="isDisabled || (!!nodeInstance && !nodeInstance.active) || (!node.active)"
                [class.wrong]="!isRoot && !getContentName()" (click)="toggleExpand()">
                <span class="content__ctrls">
                    <button mat-icon-button *ngIf="hasAllowSubCreation()">
                        <mat-icon>{{isExpanded || isSearchExpanded ? 'expand_more' : 'chevron_right'}}</mat-icon>
                    </button>
                    <div *ngIf="!isRoot" class="content__checkbox-active">
                        <mat-checkbox color="primary" #checkboxActive [checked]="node.active"
                            (click)="onToggleActive($event)"></mat-checkbox>
                    </div>
                </span>
                <ng-container *ngIf="!isRoot; else root">
                    <span class="content__name" [class.active]="isSearchExpanded"
                        (click)="!lock ? onSetContent($event) : undefined">
                        <img class="content__thumbnail" *ngIf="!!getThumbnail()" [src]="getThumbnail()">
                        <div class="content__text">
                            {{getContentName() || "Content is missing."}}
                        </div>
                    </span>
                </ng-container>
                <ng-template #root>
                    <span>
                        Root
                    </span>
                </ng-template>
                <span *ngIf="!isRoot && !lock">
                    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="onShowMenu($event)" aria-label="Menu">
                        <mat-icon class="icon">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item type="button" (click)="onToggleActive()">
                            <mat-icon>
                                {{!!nodeInstance ? nodeInstance.active : node.active ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <span>{{!!nodeInstance ? nodeInstance.active : node.active ? 'Deactivate' : 'Active'}}</span>
                        </button>
                        <button mat-menu-item [disabled]="isFirstInCollection" (click)="onUpward()">
                            <mat-icon>arrow_upward</mat-icon>
                            <span>Upward</span>
                        </button>
                        <button mat-menu-item [disabled]="isLastInCollection" (click)="onDownward()">
                            <mat-icon>arrow_downward</mat-icon>
                            <span>Downward</span>
                        </button>
                        <button mat-menu-item (click)="onSetContent()">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item (click)="onAddScenario()">
                            <mat-icon>linear_scale</mat-icon>
                            <span>Add scenario</span>
                        </button>
                        <button mat-menu-item (click)="onDelete()">
                            <mat-icon>delete_forever</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </span>
            </div>
        </div>
        <ng-container *ngIf="node.type !== 'selector-node'; else renderInstanceScenarios">
            <div class="node-tree-scenario-editor" *ngIf="!!node.scenarios && node.scenarios.length > 0">
                <ta-scenario-list [scenarios]="node.scenarios" [businessPeriods]="businessPeriods"
                    [businessPeriodsDictionary]="businessPeriodsDictionary" (deleteAll)="onDeleteScenarios()"
                    (delete)="onDeleteScenario($event)" (add)="onAddScenario()" (edit)="onEditScenario($event)"
                    (update)="onUpdateScenario($event)" (upward)="onUpwardScenario($event)"
                    (downward)="onDownwardScenario($event)" [lock]="lock"
                    [disabled]="(!!nodeInstance && !nodeInstance.active) || (!node.active)">
                </ta-scenario-list>
            </div>
        </ng-container>
        <ng-template #renderInstanceScenarios>
            <div class="node-tree-scenario-editor"
                *ngIf="!!nodeInstance.scenarios && nodeInstance.scenarios.length > 0">
                <ta-scenario-list [scenarios]="nodeInstance.scenarios" [businessPeriods]="businessPeriods"
                    [businessPeriodsDictionary]="businessPeriodsDictionary" (deleteAll)="onDeleteScenarios()"
                    (delete)="onDeleteScenario($event)" (add)="onAddScenario()" (edit)="onEditScenario($event)"
                    (update)="onUpdateScenario($event)" (upward)="onUpwardScenario($event)"
                    (downward)="onDownwardScenario($event)" [lock]="true">
                </ta-scenario-list>
            </div>
        </ng-template>
        <div class="node-tree-item-way" [style]="{'display': isExpanded || isSearchExpanded ? 'block' : 'none'}">
            <ng-container *ngIf="node.type !== 'selector-node'; else renderInstanceNode">
                <ta-node-tree-item *ngFor="let childId of node.children; let index = index" [depth]="depth + 1"
                    [isDisabled]="(!!nodeInstance && !nodeInstance.active) || (!node.active)" [currentIndex]="index"
                    [parentChildrenLength]="node.children.length" [isInstanceChain]="isInstanceChain" [lock]="lock"
                    [nodeId]="childId" [nodes]="nodes" [nodesDictionary]="nodesDictionary" [products]="products"
                    [selectors]="selectors" [businessPeriods]="businessPeriods"
                    [businessPeriodsDictionary]="businessPeriodsDictionary" [productsDictionary]="productsDictionary"
                    [selectorsDictionary]="selectorsDictionary" [assetsDictionary]="assetsDictionary"
                    [searchPattern]="searchPattern" [mode]="mode" (create)="createNodeForChild($event)"
                    (update)="updateNodeForChild($event)" (delete)="deleteNodeForChild($event)"
                    (searchExpand)="onSearchExpand($event)"></ta-node-tree-item>
            </ng-container>
            <ng-template #renderInstanceNode>
                <ng-container *ngIf="!!nodeInstance">
                    <ta-node-tree-item *ngFor="let childId of nodeInstance.children; let index = index"
                        [isInstanceChain]="true" [currentIndex]="index"
                        [isDisabled]="(!!nodeInstance && !nodeInstance.active) || (!node.active)"
                        [parentChildrenLength]="nodeInstance.children.length" [depth]="depth + 1" [lock]="true"
                        [nodeId]="childId" [nodes]="nodes" [nodesDictionary]="nodesDictionary" [products]="products"
                        [selectors]="selectors" [businessPeriods]="businessPeriods"
                        [businessPeriodsDictionary]="businessPeriodsDictionary"
                        [productsDictionary]="productsDictionary" [selectorsDictionary]="selectorsDictionary"
                        [assetsDictionary]="assetsDictionary" [searchPattern]="searchPattern" [mode]="mode"
                        (create)="createNodeForChild($event)" (update)="updateNodeForChild($event)"
                        (delete)="deleteNodeForChild($event)" (searchExpand)="onSearchExpand($event)">
                    </ta-node-tree-item>
                </ng-container>
            </ng-template>
            <button *ngIf="!lock && hasAllowSubCreation() && !nodeInstance" class="button-create" mat-flat-button
                color="accent" (click)="onCreate()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </span>
</div>