@import "../../../../styles/components/color-picker";

.selector__description {
    height: 130px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}
