// lg
@include respond-above(lg) {

    .scenario-editor {
        margin: 0px $scenario-editor-offset-x-lg 0px $scenario-editor-offset-x-lg;
    }
}

// md
@include respond-between(sm , lg) {

    .scenario-editor {
        margin: 0px $scenario-editor-offset-x-md 0px $scenario-editor-offset-x-md;
    }
}

// sm
@include respond-below(sm) {

    .scenario-editor {
        margin: 0px $scenario-editor-offset-x-sm 0px $scenario-editor-offset-x-sm;
    }
}