<div class="scenario-entity-editor" *ngIf="!!node">
    <span [ngClass]="{'scenario-entity-editor-wrapper': true, 'disabled': (!!entity && !entity.active) || (!entity.active)}">
        <div class="scenario-entity-editor__content">
            <div matRipple class="content" [ngClass]="{
                'has-scenario': (!!entity.scenarios && entity.scenarios.length > 0)}"
                [class.disabled]="!entity.active">
                <span class="content__ctrls">
                    <div *ngIf="!isRoot" class="content__checkbox-active">
                        <mat-checkbox color="accent" #checkboxActive [checked]="entity.active"
                            (click)="onToggleActive($event)"></mat-checkbox>
                    </div>
                </span>
                <span>
                    Сценарии
                </span>
                <span>
                    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="onShowMenu($event)" aria-label="Menu">
                        <mat-icon class="icon">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item type="button" (click)="onToggleActive()">
                            <mat-icon>
                                {{entity.active ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <span>
                                {{entity.active ? 'Деактивировать' : 'Активировать'}}
                            </span>
                        </button>
                        <button mat-menu-item (click)="onAddScenario()">
                            <mat-icon>linear_scale</mat-icon>
                            <span>Добавить сценарий</span>
                        </button>
                    </mat-menu>
                </span>
            </div>
        </div>
        <div class="scenario-entity-editor__editor" *ngIf="!!entity.scenarios && entity.scenarios.length > 0">
            <ta-scenario-list [scenarios]="entity.scenarios" [businessPeriods]="businessPeriods" [currencies]="currencies"
                [currenciesDictionary]="currenciesDictionary" [businessPeriodsDictionary]="businessPeriodsDictionary"
                [languages]="languages" [stores]="stores" [storesDictionary]="storesDictionary"
                [defaultLanguage]="defaultLanguage" (deleteAll)="onDeleteScenarios()"
                (delete)="onDeleteScenario($event)" (add)="onAddScenario()" (edit)="onEditScenario($event)"
                (update)="onUpdateScenario($event)" (upward)="onUpwardScenario($event)"
                (downward)="onDownwardScenario($event)" [lock]="false"
                [disabled]="(!entity.active)">
            </ta-scenario-list>
        </div>
    </span>
</div>