@import "./styles/";
@import "./styles/common";
@import "./styles/components/entity-options-editor";

body {
    margin: 0;
}
html,
body {
    height: 100vh;
    overflow: hidden;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
