<ta-state-panel [refInfo]="refInfo" (search)="onSearch($event)"></ta-state-panel>
<div class="editor">
    <ta-node-tree-item class="node-tree" *ngIf="!!rootNode" [depth]="0" [nodeId]="rootNode.id"
        [nodesDictionary]="nodesDictionary" [products]="productsCollection" [selectors]="selectorsCollection"
        [productsDictionary]="productsDictionary" [selectorsDictionary]="selectorsDictionary"
        (create)="onCreate($event)" (update)="onUpdate($event)" (delete)="onDelete($event)"></ta-node-tree-item>
</div>