@import "../../../../../abstracts/vars";
@import "../../../../../mixins";

.editor {
    display: grid;
    grid-template-rows: auto 1fr;

    &__missing-elements__wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .missing-elements__text {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            padding: 20px;
        }
    }

    .entity__control {
        .entity__action-menu__button {
            margin-left: auto;
        }
    }

    .entities-container {
        //Card template
        &.entities-card-layout {
            .entity.entity-xl {
                .entity__body {
                    height: $entity-body-cards-height;
                }

                .entity__image {
                    @include box($entity-image-cards-size);

                    &__thumbnail {
                        @include box($entity-image-cards-size);
                    }
                }
            }

            .entity.entity-m {
                .entity__body {
                    height: $entity-body-cards-height-m;
                }

                .entity__image {
                    @include box($entity-image-cards-size-m);

                    &__thumbnail {
                        @include box($entity-image-cards-size-m);
                    }
                }
            }
        }

        //List template
        &.entities-list-layout {
            .entity.entity-xl {
                .entity__image {
                    @include box($entity-image-list-size);

                    &__thumbnail {
                        @include box($entity-image-list-size);
                    }
                }
            }

            .entity.entity-m {
                .entity__image {
                    @include box($entity-image-list-size-m);

                    &__thumbnail {
                        @include box($entity-image-list-size-m);
                    }
                }
            }
        }
    }
}
