<div class="list" *ngFor="let item of proxyCollection | nodeListFilter: selectorsDictionary">
    <span matRipple class="list__item" (click)="onToggleSelect(item)" [class.active]="item.selected">
        <div class="item__content">
            <img class="content__thumbnail" *ngIf="!!getThumbnail(item)" [src]="getThumbnail(item)">
            <span class="content__name">{{getContentName(item)}}</span>
        </div>
        <ng-container *ngIf="!!item.selected">
            <mat-icon>check</mat-icon>
        </ng-container>
    </span>
</div>