@import "../../../../styles/components/color-picker";

.images {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    background: rgba($block-color, 0.1);
    border-radius: 6px;
    padding: px2em(22);
}