<form [formGroup]="form" (ngSubmit)="onSave()" (keydown)="onEnterSubmit($event)" autocomplete="off">
    
    <div class="form__main-options">
        <div class="form__input-block">
            <div class="form-item">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Language code</mat-label>
                <input matInput type="text" [formControl]="ctrlCode" placeholder="Language code">
                <mat-error *ngIf="ctrlCode.hasError('required')">
                  Language code - <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
        </div>
    </div>

    <div *ngIf="!!language; else mainLangContent">
        <mat-tab-group>
            <mat-tab *ngFor="let lang of sortedLanguages" [label]="lang.name">
                <ta-language-content [content]="getContent(lang)" [defaultContent]="getContent(defaultLanguage)"
                    [isDefault]="lang.code === defaultLanguage.code" [isEditMode]="isEditMode" [assets]="assets"
                    (update)="updateStateFor($event, lang)" (uploadMainImage)="onMainImageUpload($event, lang)"
                    (save)="onSave()">
                </ta-language-content>
            </mat-tab>
        </mat-tab-group>
    </div>
    <ng-template #mainLangContent>
        <ta-language-content *ngIf="!!defaultLanguage" isDefault="true" [content]="null" [isEditMode]="isEditMode"
            [assets]="assets" (update)="updateStateFor($event, defaultLanguage)">
        </ta-language-content>
    </ng-template>

    <div class="form__submit" align="end">
        <button mat-button class="button button__text" (click)="onCancel()">Cancel</button>
        <button mat-flat-button color="accent" type="submit" class="button button__text"
            [disabled]="!form.valid">{{isEditMode ? 'Save' : 'Create'}}</button>
    </div>
</form>