@import "../../../../../styles/components/color-picker";
@import "../../../../../styles/themes";
@import "../../../../../styles/utils/px2em";

.order-type-content {
    margin-top: px2em(44);
    margin-bottom: px2em(18);

    .order-type__description {
        height: px2em(150);
    }
}
