<form [formGroup]="form" (ngSubmit)="onSave()" autocomplete="off">
    <div [ngClass]="{'main-options-wrapper': isEditMode}">
        <div class="images">
            <div class="image-n">
                <h2 class="form-header">
                    Image
                </h2>

                <ta-asset-picker *ngIf="isEditMode" [defaultValue]="!!images ? images.main : undefined"
                    [assets]="assets" color="white" (select)="onMainImageSelect($event)">
                </ta-asset-picker>
            </div>

            <div class="image-m">
                <h2 class="form-header">
                    Thumbnail
                </h2>

                <ta-asset-picker *ngIf="isEditMode" size="m" [defaultValue]="!!images ? images.thumbnail || images.main : undefined"
                    [assets]="assets" color="white" (select)="onThumbnailImageSelect($event)">
                </ta-asset-picker>
            </div>

            <div class="image-s">
                <h2 class="form-header">
                    Icon
                </h2>

                <ta-asset-picker *ngIf="isEditMode" size="m" [defaultValue]="!!images ? images.icon || images.main : undefined"
                    [assets]="assets" [color]="color" (select)="onIconImageSelect($event)">
                </ta-asset-picker>
            </div>

            <div class="full-width">
                <h2 class="form-header">
                    Color
                </h2>

                <div class="form-item">
                    <input class="color-picker" [(colorPicker)]="color" [style.background]="ctrlColor.value"
                        [formControl]="ctrlColor" />
                </div>
            </div>
        </div>

        <div>
            <h2 class="form-header">
                Main options
            </h2>

            <div class="form__main-options">
                <div class="form__input-block">
                    <div class="form-item">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Product name</mat-label>
                            <input matInput type="text" [formControl]="ctrlName" placeholder="Product name">
                            <mat-error *ngIf="ctrlName.hasError('required')">
                                Product name - <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-item">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput class="product__description" type="text" [formControl]="ctrlDescription"
                                placeholder="Description"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="form-item">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Tags</mat-label>
                            <mat-select [formControl]="ctrlTags" multiple>
                                <mat-option *ngFor="let tag of tagList" [value]="tag.id">{{tag.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="!!product">
                <h2 class="form-header">
                    Prices
                </h2>

                <div class="prices__wrapper">
                    <ta-prices [prices]="product.prices" [currencies]="currencies" (update)="onChangePrices($event)">
                    </ta-prices>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="form__submit" align="end">
        <button mat-button class="button button__text" (click)="onCancel()">Cancel</button>
        <button mat-flat-button color="accent" type="submit" class="button button__text"
            [disabled]="!form.valid">{{isEditMode ? 'Save' : 'Create'}}</button>
    </div>
</form>