<form class="form" [formGroup]="form" (ngSubmit)="onSave()" (keydown)="onEnterSubmit($event)" autocomplete="off">
    <div *ngIf="!!product; else mainLangContent">
        <mat-tab-group>
            <mat-tab *ngFor="let lang of sortedLanguages" [label]="lang.name">
                <ta-product-content [content]="getContent(lang)" [defaultContent]="getContent(defaultLanguage)"
                    [isDefault]="lang.code === defaultLanguage.code" [isEditMode]="isEditMode" [assets]="assets"
                    [resourcesGallery]="getResourcesGallery(lang)" (update)="updateStateFor($event, lang)"
                    (uploadMainResource)="onMainResourceUpload($event, lang)"
                    (uploadIconResource)="onIconResourceUpload($event, lang)"
                    (uploadAsset)="onAssetUpload($event, lang)" (updateAsset)="onAssetUpdate($event, lang)"
                    (deleteAsset)="onAssetDelete($event, lang)" (save)="onSave()">
                </ta-product-content>
            </mat-tab>
        </mat-tab-group>
    </div>
    <ng-template #mainLangContent>
        <ta-product-content *ngIf="!!defaultLanguage" isDefault="true" [content]="null" [isEditMode]="isEditMode"
            [assets]="assets" [resourcesGallery]="getResourcesGallery(defaultLanguage)"
            (update)="updateStateFor($event, defaultLanguage)">
        </ta-product-content>
    </ng-template>

    <div class="form__main-options">
        <p class="form-header">
            Тэги
        </p>
        <div class="form__input-block">
            <div class="form-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Тэги</mat-label>
                    <mat-select [formControl]="ctrlTags" multiple>
                        <mat-option *ngFor="let tag of tagList" [value]="tag.id">{{getTagName(tag)}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <ng-container *ngIf="!!product">
        <p class="form-header">
            Цены
        </p>

        <div class="prices__wrapper">
            <ta-prices [prices]="product.prices" [currencies]="currencies" (update)="onChangePrices($event)">
            </ta-prices>
        </div>
    </ng-container>

    <div class="form__submit" align="end">
        <button mat-button class="button button__text" (click)="onCancel()">Отменить</button>
        <button mat-flat-button color="accent" type="submit" class="button button__text"
            [disabled]="!form.valid">{{isEditMode ? 'Сохранить' : 'Создать'}}</button>
    </div>
</form>