.prices__wrapper {
    margin-bottom: 20px;
}

.product__description {
    height: 130px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}
