@import "../../../styles/themes/theme";
@import "../../../styles/utils/px2em";

.loader-button {
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 6px;
    color: $primary-700;
    height: 100%;

    &__wrapper {
        height: 100%;
        position: relative;
        background-color: #ffffff;
    }

    &__indicator {
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.15);
    }

    &__content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;

        &-wrapper {
            padding: px2em(12);
        }
    }

    &__text-content {
        text-transform: uppercase;
        font-weight: 600;
    }
}
