<div class="editor">
    <ta-state-panel searchFieldClass="color-accent" [refInfo]="refInfo" (search)="onSearch($event)"></ta-state-panel>
    <div class="entities-wrapper">
        <div class="entity" *ngFor="let license of collection | search: searchPattern"
            [class.disabled]="isLicenseDisabled(license)">
            <div class="entity-ctrls">
                <div class="entity-checkbox-active">
                    <span class="license-status" [ngClass]="{'active': !!license.imei}"></span>
                    <span class="license-status-text">
                        {{!!license.imei ? 'активна' : 'свободна'}}
                    </span>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="entity-menu-button" aria-label="Menu">
                    <mat-icon class="icon">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onView(license)">
                        <mat-icon>details</mat-icon>
                        <span>Подробнее</span>
                    </button>
                    <button mat-menu-item (click)="onUnbind(license)">
                        <mat-icon>cancel</mat-icon>
                        <span>Отвязать от устройства</span>
                    </button>
                </mat-menu>
            </div>
            <div matRipple class="entity-active-zone" (click)="onView(license)">
                <div class="content">
                    <div class="content__container">
                        <div *ngIf="!!license.licType?.name" class="content__name">
                            {{license.licType?.name}}
                        </div>
                        <div *ngIf="!!integrationsMap" class="content__description" style="text-transform: none;">
                            Интеграция: {{integrationsMap[license.licType?.integrationId]?.name}}
                        </div>
                        <div *ngIf="!!accountsMap" class="content__description" style="text-transform: none;">
                            <span>
                                Клиент: {{accountsMap[license.clientId]?.email}}
                            </span>
                            <span>
                                ({{accountsMap[license.clientId]?.lastName}}
                                {{accountsMap[license.clientId]?.firstName}})
                            </span>
                        </div>
                        <div class="content__description" style="text-transform: none;">
                            Ключ: <b>{{license.key}}</b>
                        </div>
                    </div>
                </div>
                <div class="color"></div>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="!collection || collection.length === 0">
    <div class="licenses-none__wrapper">
        <div class="licenses-none__text">
            Лицензии отсутствуют
        </div>
    </div>
</ng-container>